.scroll-wrapper-contact-hero {
  padding: 0;
  height: 100%;

  .scroll-wrapper-inner {
    height: 100%;
    max-width: none;
  }
}

.page-contact-us {
  height: 100%;
}

.contact-us-hero {
  .hero {
    @include page-background-colour(contact);
  }
}

.content-wrapper-contact-new-business {
  .content-wrapper-inner {
    padding-top: 0 !important;
  }

  .also-presence {
    margin-bottom: 50px;
    text-align: center;
  }
}

.content-wrapper-contact-more {
  background: white;

  h4 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: $title-border-bottom;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contact-contacts {
  @include core-vertical-padding($withChildren: true);
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding-top: 0 !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    padding-bottom: 0 !important;
    margin-bottom: 30px;
    width: 100%;

    @media screen and (min-width: $bp-small) {
      width: 50%;
    }
    @media screen and (min-width: $bp-large) {
      width: 25%;
    }
  }
}

.contact-contacts-studio {
  margin-bottom: 10px;
}

.contact-contacts-name {
  margin: 0
}

.contact-contacts-title {
  font-style: italic;
}

.contact-contacts-email {
  margin-top: 0;
}

.content-wrapper-contact-jobs {
  @include darkBackground;

  svg {
    width: 109px;
  }

  .contact-jobs-button {
    @include buttonSolid;
    @include page-background-colour(join);
    margin-top: 30px;
  }
}

.contact-us-hero {
  position: relative;

  .paper-plane {
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translateZ(100px) translateY(-50%) translateX(-50%);
    transform-origin: 50% 50%;
  }
}
