/*
 *  WORK VERTICALS
 *
 */


.work-verticals {
  display: flex;
  flex-wrap: wrap;

  .section-title {
    margin-bottom: 5px;
  }
}

.work-verticals-item {
  @include core-layout();
  background-color: $lightGrey;
  background-repeat: no-repeat;
  background-size: cover;
  height: $section-height;
  align-items: center;
  width: 100%;

  h3 {
    margin-bottom: 15px;
    @extend .h2;
  }
}

.work-verticals-item-small {
  width: 50%;
}

.work-verticals-item-inner {
  position: relative;
}

.work-vertical-intro {
  background-image: linear-gradient(212deg, #000000, #322d37);
  color: $offWhite;

  p {
    max-width: 586px;
    margin: 0 auto;
  }

  .work-verticals-item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.work-vertical-health {
  background-image: url('/images/work/expertise-image-health-small.jpg');

  .work-verticals-content {
    margin-left: auto;
  }

  @media screen and (min-width: $bp-medium) {
    background-image: url('/images/work/expertise-image-health.jpg');
  }
}

.work-vertical-auto {
  background-image: url('/images/work/expertise-image-mobility-small.jpg');

  @media screen and (min-width: $bp-medium) {
    background-image: url('/images/work/expertise-image-mobility.jpg');
  }
}

.work-verticals-content {
  background: $offWhite;
  box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 40px 20px 20px 20px;

  @media screen and (min-width: $bp-medium) {
    width: 335px;
  }

  @media screen and (min-width: $bp-large) {
    width: 365px;
  }

  @media screen and (min-width: $bp-larger) {
    width: 490px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}

.work-verticals-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0;

  li {
    list-style-type: none;
    margin: 10px 14px;

    svg {
      width: 64px;
      height: 64px;
    }
  }
}

.work-verticals-button {
  @include buttonStyle(true);
  @include buttonColor();
}
