/*
 *  CAROUSEL
 *  Using React-swipe (swipe.js)
 *
 */

.carousel-wrapper {
  position: absolute;
  height: 100vh;
  color: white;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.carousel {
  margin: 0 auto;

  > div {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
}

.carousel-item {
  position: relative;
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-align: center;
}

.carousel-item-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}

.carousel-content {
  text-align: center;
  flex: 1;

  > img {
    max-height: 44vh;
    width: auto;
  }

  > h2 {
    margin-bottom: 30px;
  }

  > p {
    width: 90%;
    margin: 0 auto;
  }
}

.carousel-item.active {
  z-index: 1;
}

.carousel-item.next,
.carousel-item.prev {
  z-index: 2;
}

.carousel-control {
  width: 30%;
  height: 50vh;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 99;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev {
  left: 0;
}
