/*
 *  PAGE: CASE STUDY
 *  What we do pages
 *
 */

.page-case-study {
  min-height: 100vh;

  a {
    font-family: $PxGroteskBold;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }

  .single-column.intro .content{
    text-align: center;
  }
}
