<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>Components | ustwo.com</title>
    <meta name="author" content="ustwo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="robots" content="noodp, noydir" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="//use.typekit.com/yeb1wrp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <h1>Components</h1>
    <ol>
      <% components.forEach(function (component) { %>
        <li><a href="/sandbox/<%= component %>"><%= component %></a></li>
      <% }); %>
    </ol>
  </body>
</html>
