/*
 *  Timer UI
 *  Circular time indicator
 *
 */

@mixin timer-ui-size($size, $border) {
  width: $size;
  height: $size;

  svg {
    width: $size * 0.7;
    height: $size * 0.7;
  }

  .half {
    width: $size * .5;
    height: $size;

    .bg {
      width: $size * .5;
      height: $size;
      border-radius: $size;
    }

    &.left {
      .bg {
        border-left: ($size * .5) solid #ccc;
      }
    }

    &.right {
      .bg {
        border-right: ($size * .5) solid #ccc;
      }
    }
  }

  &:after {
    left: $border;
    top: $border;
    width: $size - (2 * $border);
    height: $size - (2 * $border);
    border-radius: $size - (2 * $border) * 0.5;
  }
}

.timer-ui {
  $size-small: 56px;
  $border-small: 3px;
  $size-large: 64px;
  $border-large: 4px;

  @include timer-ui-size($size-small, $border-small);

  @media screen and (min-width: $bp-medium) {
    @include timer-ui-size($size-large, $border-large);
  }

  position: relative;
  box-sizing: content-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, $blu 0%, $pot 100%);
  border-radius: 50%;

  svg {
    position: relative;
    z-index: 1;
    fill: $nonBlack;
    transition: fill .2s ease-in-out;
  }

  .half {
    overflow: hidden;
    position: absolute;
    top: 0;

    .bg {
      position: absolute;
      transform-origin: 50% 50%;
      transform: rotate(0deg);
    }

    &.left {
      left: 0;
      border-radius: 50% 0 0 50%;

      .bg {
        left: 0;
      }
    }

    &.right {
      right: 0;
      border-radius: 0 50% 50% 0;

      .bg {
        right: 0;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    background: #fff;
  }
}


  /* Dark Style */

.timer-ui.darkStyle {
  &:after {
    background: #313b5c; /* This appears on the gradient background declared above, so best guess colour! */
  }

  .half.left .bg,
  .half.right .bg {
    border-color: #666;
  }

  svg {
    fill: white;
  }
}


@keyframes IconIn {
  from {
    transform: scale(0.4);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes IconOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.4);
    opacity: 0;
  }
}
