/*
 *  NAVIGATION CONDENSED BUTTON
 *  Mobile nav burger icon
 *
 */

.nav-condensed-button {
  display: block;
  width: 60px;
  height: 60px;
  fill: #fff;

  svg {
    width: 42px;
    height: 32px;
    pointer-events: none; /* Fixes intermittent issue on touch devices? */
  }
}

.transparent-white {
  .nav-condensed-button {
    fill: $offWhite;
  }
}
.takeover {
  .nav-condensed-button {
    fill: $nonBlack;
  }
}
