html,
body,
#pageContent,
.app,
.app__stage,
.app__stage__page-container {
  height: 100%;
  width: 100%;
}


.app {

  .nav-wrapper {
    header {
      transition: transform 0.3s ease-in-out;
      transition-delay: 0.1s;
      transform: translateY(-68px);
    }
    &.show header {
      transform: translateY(0px);
    }
  }

  &__stage {

    &__page-container {
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;

      &.add {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.show {
          opacity: 1;
        }
        &.hide {
          opacity: 0;
        }
      }
    }
  }
}
