.app {

  .nav-wrapper {
    header {
      transition: transform 0.3s ease-in-out;
      transition-delay: 0.1s;
      transform: translateY(-68px);
    }
    &.show header {
      transform: translateY(0px);
    }
  }

  &__content {

    &__container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      &.add {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.show {
          opacity: 1;
        }
        &.hide {
          opacity: 0;
        }
      }
    }
  }
}
