/* ------------------------------------------------------------ *\
|* Grid
\* ------------------------------------------------------------ */

$susy: (
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: rgba(#AAA, .25),
  //   output: background,
  // ),
);

$susy-mobile-layout: (
  columns: 4
);

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-huge: 1440px;

/* ------------------------------------------------------------ *\
|* Misc
\* ------------------------------------------------------------ */

$nav-height: 68px;




/* ------------------------------------------------------------ *\
|* Blog
\* ------------------------------------------------------------ */

$blog-margin-offset: -175px;
