/* ------------------------------------------------------------ *\
|* Grid
\* ------------------------------------------------------------ */

$susy: (
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: rgba(#AAA, .25),
  //   output: background,
  // ),
);

$susy-mobile-layout: (
  columns: 4
);

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-larger: 1240px;
$bp-huge: 1440px;
$bp-gargantuan: 1800px;

/* ------------------------------------------------------------ *\
|* Misc
\* ------------------------------------------------------------ */

$nav-height: 68px;



/* ------------------------------------------------------------ *\
|* Blog
\* ------------------------------------------------------------ */

$blog-margin-offset: -20vh;
$blog-category-height: 22px;
$blog-gutter-large: 30px;

/* ------------------------------------------------------------ *\
|* Jobs
\* ------------------------------------------------------------ */

$jobs-card-height-mobile: 270px;
$jobs-image-height-mobile: 210px;
$jobs-slide-height: 310px; // default on tablet+
$jobs-video-height-mobile: 310px;
$jobs-video-height: $jobs-slide-height * 2;
$jobs-feature-card-padding-mobile: 25px;
$jobs-feature-card-padding: 50px;
