/* ------------------------------------------------------------ *\
|* Grid
\* ------------------------------------------------------------ */

$susy: (
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: rgba(#AAA, .25),
  //   output: background,
  // ),
);

$susy-mobile-layout: (
  columns: 4
);

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-larger: 1240px;
$bp-huge: 1440px;
$bp-gargantuan: 1800px;

/* ------------------------------------------------------------ *\
|* Misc
\* ------------------------------------------------------------ */

$nav-height: 68px;
$dropdown-close-height: 60px;


/* ------------------------------------------------------------ *\
|* Blog
\* ------------------------------------------------------------ */

$blog-margin-offset: -14vh;
$blog-category-height: 22px;
$blog-gutter-large: 30px;

$blog-controls-line-height: 50px;
$blog-controls-horizontal-padding: 20px;
$blog-controls-tag-size: 21px;
$blog-controls-item-width: 190px;
$blog-controls-search-width: 50px;
$blog-controls-search-margin: 20px;
$blog-controls-dropdown-offset: $blog-controls-line-height * 3;
$blog-controls-margin-bottom: 52px;

$blog-search-results-page-offset: -130px;
$blog-search-item-height-desktop: 140px;

/* ------------------------------------------------------------ *\
|* Jobs
\* ------------------------------------------------------------ */

$jobs-card-height-mobile: 270px;
$jobs-image-height-mobile: 210px;
$jobs-slide-height: 310px; // default on tablet+
$jobs-video-height-mobile: 310px;
$jobs-video-height: $jobs-slide-height * 2;
$jobs-feature-card-padding-mobile: 25px;
$jobs-feature-card-padding: 50px;
