/*
 *  CONTACT DETAIL
 *  Inside contact-tray, a block of contact details
 *
 */

.contact-detail {
  padding: 0 6.25%;
  margin: 40px 0 0;
  overflow: auto;

  .title {
    color: $marshPassion;
    font-size: 22px;
    font-family: "PxGrotesk-Regular", "Arial", sans-serif;
    text-transform: none;
    margin-bottom: 15px;
  }

  .description {
    display: none;
  }

  .link {
    border-bottom: 2px solid $mare;
    display: block;
    float: left;
    clear: left;
    font-size: 18px;
  }

  @media screen and (min-width: 650px) {
    margin: 60px 0 0;

    .description {
      display: block;
    }
  }
  @media screen and (min-width: $bp-huge) {
    .link {
      float: right;
      clear: none;

      &:first-of-type {
        float: left;
      }
    }
  }
}
