.page-about {
  height: 100%;
}

.about-video-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  margin-top: 15px;

  .section-title {
    line-height: 40px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.about-video-link-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid $offWhite;
  border-radius: 50%;

  svg {
    fill: $offWhite;
    height: 32px;
    width: 32px;
  }
}

.sub-content-sections.subContentStudios {
  .sub-content-sections-item-image img {
    width: 100%;
    height: auto;
  }
}

.about-section-ventures {
  background: linear-gradient(135deg, $v-gradient1, $v-gradient2);

  h1,
  .home-carousel-item-text h2,
  .home-carousel-item-description {
    color: $offWhite;
  }

  .section-title {
    color: $offWhite;
  }

  .view-carousel-related-page button {
    @include buttonStyle(true);
    @include buttonColor('invert');
    background-image: url('/images/icon-right-light.svg');
  }

  @media screen and (min-width: $bp-tablet) {
    .home-carousel-item {
      .home-carousel-item-image:after {
        background: linear-gradient(-90deg, $v-solid, transparent);
      }

      &.even .home-carousel-item-image:after {
        background: linear-gradient(-90deg, transparent, $v-solid);
      }
    }
  }
}
