.page-about {
  height: 100%;
}

.about-video-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  margin-top: 15px;

  .section-title {
    line-height: 40px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.about-video-link-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid $offWhite;
  border-radius: 50%;

  svg {
    fill: $offWhite;
    height: 32px;
    width: 32px;
  }
}

.sub-content-sections.subContentStudios {
  .sub-content-sections-item-image img {
    width: 100%;
    height: auto;
  }
}

.subContentStudios {
  background-color: white;
  margin-bottom: 0;
}

.manifesto-content-wrapper {
  h2 {
    margin-bottom: 30px;
  }
}

.about-content-wrapper {
  background: linear-gradient(135deg, $v-gradient1, $v-gradient2);

  h1,
  h2,
  p,
  .home-carousel-item-text h2,
  .home-carousel-item-description {
    color: $offWhite;
  }

  .section-title {
    color: $offWhite;
  }

  .view-carousel-related-page button {
    @include buttonStyle(true);
    @include buttonColor('invert');
    background-image: url('/images/icon-right-light.svg');
  }

  @media screen and (min-width: $bp-tablet) {
    .home-carousel-item {
      .home-carousel-item-image:after {
        background: linear-gradient(-90deg, $v-solid, transparent);
      }

      &.even .home-carousel-item-image:after {
        background: linear-gradient(-90deg, transparent, $v-solid);
      }
    }
  }
}



.statement-wrapper {
  h2 {
    @extend .h3;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    line-height: 1.4;
  }

  @media screen and (min-width: $bp-medium) {
    p {
      width: 80%;
      font-size: 22px;
    }
  }
  @media screen and (min-width: $bp-large) {
    p {
      width: 70%;
    }
  }
  @media screen and (min-width: $bp-larger) {
    p {
      font-size: 24px;
    }
  }
}

.content-wrapper-what-video .content-wrapper-inner {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.content-wrapper-who,
.content-wrapper-studios {
  background: #fff;
}

.content-wrapper-studios .content-wrapper-inner {
  padding-top: 0 !important;
}


/* Dual Columns */
.dual-columns {
  @include core-layout();
}

.dual-columns-inner {
  @include core-vertical-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: $bp-large) {
    flex-direction: row;
  }
}

.dual-columns-inner-section {

  h2 {
    @extend .h4;
    margin-bottom: 15px;
  }

  @media screen and (min-width: $bp-large) {
    width: 45%;
  }
}
