/*
 *  RELATED CONTENT
 *  More juice. "Cross sell" style links to blog posts or case studies below the content of the page.
 *
 */

.related-content {
  $gutter: 40px;
  $work-item-exerpt-height: $blog-post-list-item-excerpt-height;
  $work-item-image-height: $blog-post-list-item-image-height;

  max-width: $max-app-width;
  padding: 40px;
  background: $nonBlack;

  > h2 {
    color: #fff;
    text-align: center;
  }

  /* Styles for work-item (case study) to replicate blog-post-list-item dimensions */
  .work-item {
    .details {
      height: $work-item-exerpt-height;
    }
    .image .rimage {
      height: $work-item-image-height;
    }
  }

  .blog-post-list-item {
    padding: 0;
  }

  @media screen and (min-width: $bp-medium) {
    .related-content-item {
      display: inline-block;
      width: calc(50% - (#{$gutter} / 2));
      margin-right: $gutter;
      vertical-align: top;

      &:nth-child(2n + 1) {
        margin-right: 0;
      }
    }
  }

}
