/*
 *  RELATED CONTENT
 *  More juice. "Cross sell" style links to blog posts or case studies below the content of the page.
 *
 */

.related-content {
  $gutter: 40px;

  max-width: $max-app-width;
  padding: 40px;
  background: $nonBlack;

  > h2 {
    color: #fff;
    text-align: center;
  }

  @media screen and (min-width: $bp-medium) {
    .related-content-item {
      display: inline-block;
      width: calc(50% - (#{$gutter} / 2));
      margin-right: $gutter;
      vertical-align: top;

      &:nth-child(2n + 1) {
        margin-right: 0;
      }
    }
  }

}
