/*
 *  LOADING ICON
 *  Small loading spinner, originally intended for inside category dropdown
 *
 *  Notes:
 *  TODO: Currently just rotates between black and white, need to implement it to cycle through the ustwo colour palette.
 */

.loading-icon {
  $size: $loading-spinner-size;
  $duration: 1.2s;

  box-sizing: content-box;
  position: relative;
  display: inline-block;
  width: $size;
  height: $size;

  .half {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: $size * .5;
    height: $size;

    .bg {
      position: absolute;
      width: $size * .5;
      height: $size;
      border-radius: $size;
      background: #000;
      transform: rotate(-180deg);
    }

    &.left {
      left: 0;
      border-radius: ($size * .5) 0 0 ($size * .5);

      .bg {
        left: 0;
        border-left: ($size * .5) solid #fff;
        animation: SpinnerLeft $duration infinite linear;
      }
    }

    &.right {
      right: 0;
      border-radius: 0 ($size * .5) ($size * .5) 0;

      .bg {
        right: 0;
        border-right: ($size * .5) solid #fff;
        animation: SpinnerRight $duration infinite linear;
      }
    }
  }

}


@keyframes SpinnerLeft {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes SpinnerRight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
