.page-home {
  .page-home__image-wrapper {
    position: relative;
  }

  .page-home__screen-block--welcome {
    .bold-header {
      position: relative;
      h1 {
        width: 80%;
        margin: auto;
      }
    }

    .page-home__headline-background {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 45%;
      min-width: 280px;
      height: auto;
      transition: opacity 1s ease-in-out;
      transform: scale(2);
      display: block;

      &.add {
        opacity: 0;
      }
      &.show {
        opacity: 1;
      }
      &.hide {
        opacity: 0;
      }
    }

    .down-chevron {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      margin: 0 auto;
    }
  }

  .page-home__screen-block--client {

    .page-home__image-margin-container {
      position: relative;
      // fixing unexplained horizontal scrollbar
      max-width: 99%;
    }

    .page-home__harvey-nicks-shape {
      fill: $white;
      position: absolute;
    }

    .page-home__harvey-nicks-shape-3 {
      top: 58%;
      left: 10%;
      width: 15%;
      height: 18%;
    }

    .page-home__harvey-nicks-shape-4 {
      top: 20%;
      right: 22%;
      width: 15%;
      height: 18%;
    }

    .page-home__harvey-nicks-device {
      margin: 5vh 10vw 7.5vh 6vw;
      width: span(84%);
      position: relative;
    }

    .page-home__harvey-nicks-shape-1 {
      top: 0;
      left: 10%;
      width: 15%;
      height: 18%;
    }

    .page-home__harvey-nicks-shape-2 {
      top: 63%;
      right: 6%;
      width: 15%;
      height: 15%;
    }

    .page-home__text-block-vertical-centerer {
      @include span(87.5%);
      @include squish(6.25%);
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include container(16);
      @include nested(16) {
        .page-home__image-margin-container {
          @include span(9 first);
        }
        .page-home__text-block-vertical-centerer {
          margin-left: 0;
          display: table;
          height: 100%;
          @include span(7 nest last) {
            .home-text-block {
              display: table-cell;
              vertical-align: middle;
              >* {
                @include squish(1);
                width: span(5);
              }
            }
          }
        }
      }
    }
  }

  .page-home__screen-block--own-ip {
    .page-home__monument-device {
      margin: 0 6.25% 7.5vh 6.25%;
      @include span(87.5%);
    }

    .page-home__text-block-vertical-centerer {
      @include span(87.5%);
      @include squish(6.25%);
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include container(16);
      @include nested(16) {
        .page-home__text-block-vertical-centerer {
          margin-left: 0;
          display: table;
          height: 100%;
          @include span(7 nest first) {
            .home-text-block {
              display: table-cell;
              vertical-align: middle;
              >* {
                @include squish(1);
                width: span(5);
              }
            }
          }
        }

        .page-home__monument-device {
          margin: 0 -10% 0 0;
          @include span(9 last);
        }
      }
    }
  }

  .page-home__screen-block--ventures {
    img {
      margin: 0 12% 7.5vh 12%;
      @include span(76%);
    }

    .home-text-block {
      @include span(87.5%);
      @include squish(6.25%);
    }
  }

  .page-home__screen-block--studio {
    text-align: center;

    img {
      margin: auto;
    }
  }

  .word {
    display: inline-block;
    white-space: pre;
  }
}
