/*
 *  TAKE OVER
 *  Splash screen before the homepage
 *
 *  TODO: Separate news-flash-wrapper out into news-flash component (js too)
 */

.take-over {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100vw;
  padding: 68px 6.25% 0;
  background: $offWhite;
  text-align: center;
  transition: opacity 0.5s ease-in-out, background 0.5s ease-in-out;

  &.add {
    opacity: 0;
  }
  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }

  .news-flash-wrapper {
    position: absolute;
    width: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    text-align: center;
    transition: opacity 0.5s ease-in-out;

    .title {
      color: $marshPassion;
      text-transform: uppercase;
      font-size: 16px;
    }

    &.add {
      opacity: 0;
    }
    &.show {
      opacity: 1;
    }
    &.hide {
      opacity: 0;
    }
  }

  .content {
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .message {
    flex: 2;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .close-button {
      width: 50px;
      height: 50px;
      display: block;
      border: 0;
      background: none;
      margin: 0 auto 5vh;
      padding: 0;
      z-index: 100;

      svg {
        width: 50px;
        height: 50px;
        fill: $nonBlack;
      }
      &:focus {
        -webkit-focus-ring-color: rgba(0,0,0,0);
        outline: none;
      }
    }
    .title {
      color: $marshPassion;
      margin-top: 5vh;
      font-size: 32px;
    }
    .description {
      margin-top: 1vh;
    }
    .links {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0 0 5vh;

      .link-item {
        margin-bottom: 15px;
        text-align: center;

        a {
          border-bottom: 2px solid $mare;
        }
      }
    }
    .title,
    .description,
    .links {
      transition: transform 0.5s ease-out, opacity 0.5s ease-out;
      transition-delay: 0s;
    }
    .description,
    .links {
      transition-delay: 0.35s;
    }
  }

  .rimage.background-image {
    width: 100%;
    flex: 1;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: contain;
  }

  .content {
    &.add {
      opacity: 0;

      .message {
        .title,
        .description,
        .links {
          opacity: 0;
          transform: translateY(30px);
        }
      }
    }
    &.show {
      opacity: 1;

      .message {
        .title,
        .description,
        .links {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
    &.hide {
      opacity: 0;

      .message {
        .title,
        .description,
        .links {
          opacity: 0;
          transform: translateY(30px);
        }
      }
    }
  }

  @media screen and (min-width: $bp-large) {
    .message {
      .title {
        margin-top: 0;
        font-size: 40px;
      }
      .links {
        flex-direction: row;
        justify-content: center;
        margin: 5vh 0 10vh;

        .link-item {
          margin-left: 30px;
          margin-right: 0;

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }

  @media screen and (max-height: 500px) {
    .message {
      .title {
        font-size: 25px;
      }
    }
  }
}
