/*
 *  CONTACT TRAY
 *  Panel that appears over the footer that houses contact details
 *
 *  TODO: Remove BEM
 *  TODO: Remove susy
 */

.contact-tray {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  background: $offWhite;
  transition: transform 0.5s ease-out;

  &__close {
    width: 100%;
    height: 60px;
    display: block;
    background: #fff;
    border: 0;
    padding: 0;

    svg {
      width: 50px;
      height: 50px;
      fill: $nonBlack;
    }
    &:focus {
      -webkit-focus-ring-color: rgba(0,0,0,0);
      outline: none;
    }
  }
  &__content {
    padding-bottom: 30px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  @media screen and (min-width: 650px) {
    &__content {
      overflow: auto;
      padding-left: 6.25%;
      padding-right: 6.25%;
      @include nested(8) {
        .contact-detail {
          @include gallery(4 of 8);
          padding: 0;
        }
      }
    }
  }
  @media screen and (min-width: $bp-large) {
    @include nested(16) {
      &__content {
        padding: 0;
        margin-bottom: 60px;
        @include span(14);
        @include pre(1);
        @include post(1);
        @include nested(14) {
          .contact-detail {
            padding: 0;
            @include gallery(7 of 14);
            @include prefix(1);
            @include suffix(1);
          }
        }
      }
    }
  }
  @media screen and (max-height: 500px) {
    height: 100%;

    &__content {
      height: calc(100% - 60px);
    }
  }
}
.add > .contact-tray {
  transform: translateY(100%);
}
.show > .contact-tray {
  transform: translateY(0%);
}
.hide > .contact-tray {
  transition-timing-function: ease-in;
  transform: translateY(100%);
}
