/*
 *  PAGE LOADER
 *  Interstitial page loading animation
 *
 */

.page-loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $offWhite;
}

.page-loader-icon {
  width: 60px;
  height: 60px;

  img {
    width: 100%;
    height: auto;
  }
}
