/*
 *  LOADER
 *  Interstitial page loading animation
 *
 */

.page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: $offWhite;

  // &.loading-home {
  //   @include page-background-colour(home);
  // }
  //
  // &.loading-what-we-do {
  //   @include page-background-colour(work);
  // }
  //
  // &.loading-events {
  //   @include page-background-colour(events);
  // }
  //
  // &.loading-blog {
  //   @include page-background-colour(blog);
  // }
  //
  // &.loading-join-us {
  //   @include page-background-colour(join);
  // }
}
