/*
 *  APP
 *  App states that alter the behaviour or structure of the app container, e.g. prevent scrolling when overlay is activated
 *
 *  TODO: Can some of the following be consolidated into generic states or moved into the component they relate to?
 */

@keyframes page-loader-exit {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

.app {

  &.overflow-hidden {
    overflow: hidden;
  }

  .app-content {
    // opacity: 1;
    // transition: opacity .2s linear .2s;

    /* Takeover bound by viewport size */
    &.takeover {
      height: 100vh;
      overflow: hidden;
    }

    /* When blog categories dropdown is open */
    &.disabled {
      // opacity: 0;
      // transition-delay: 0s;
      pointer-events: none;
    }

    /* For when mobile navigation-overlay is visible to prevent scrolling of the page underneath */
    &.mobile-no-scroll {
      // opacity: 0;
    }

    .page-loader-container {
      .page-loader,
      > article {
        // transition: opacity .3s ease-in-out;
        //
        // &.add {
        //   opacity: 0;
        // }
        // &.show {
        //   opacity: 1;
        // }
        &.hide {
          // opacity: 0;
          // transition: opacity .3s ease-in-out .3s;

          .loading-icon {
            animation: page-loader-exit .6s 1;
          }
        }
      }
      > article {
        &.show {
          // transition-duration: 0s;
        }
      }
    }
  }

  /* 404 page bound by viewport size */
  &.app-404 {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }
}

.page-transition {
  min-height: 100%;
  width: 100%;
}

.page-content > article,
.page-loader {
  opacity: 0;
  transition: opacity .2s linear;

  &.add {
    opacity: 0;
  }

  &.show {
    opacity: 1;
    transition-delay: .2s;
  }

  &.hide {
    opacity: 0;
    transition-delay: 0s;
  }
}

.section-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 1px;

  @media screen and (min-width: $bp-medium) {
    font-size: 14px;
  }
}
