/*
 *  APP
 *  App states that alter the behaviour or structure of the app container, e.g. prevent scrolling when overlay is activated
 *
 *  TODO: Can some of the following be consolidated into generic states or moved into the component they relate to?
 */

@keyframes page-loader-exit {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

.app {

  &.scroll-wipes {
    &,
    .app-content,
    .page-loader-container,
    .page-loader-container > [class*='page'] {
      height: 100%;
    }
  }

  .app-content {
    transition: filter .2s ease-in-out;

    /* Takeover bound by viewport size */
    &.takeover {
      height: 100vh;
      overflow: hidden;
    }

    /* When blog categories dropdown is open */
    &.disabled {
      pointer-events: none;
      filter: brightness(0.7);
    }

    /* For when mobile navigation-overlay is visible to prevent scrolling of the page underneath */
    &.mobile-no-scroll {
      position: fixed;
      overflow: hidden;
      opacity: 0;
    }

    .page-loader-container {
      .page-loader,
      > article {
        transition: opacity .3s ease-in-out;

        &.add {
          opacity: 0;
        }
        &.show {
          opacity: 1;
        }
        &.hide {
          opacity: 0;
          transition: opacity .3s ease-in-out .3s;

          .loading-icon {
            animation: page-loader-exit .6s 1;
          }
        }
      }
      > article {
        &.show {
          // transition-duration: 0s;
        }
      }
    }
  }

  /* 404 page bound by viewport size */
  &.app-404 {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }

  @media screen and (min-width: $bp-large) {
    .app-content {
      /* Reset to normal behaviour for larger screens */
      &.mobile-no-scroll {
        position: relative;
        overflow: auto;
        opacity: 1;
      }
    }
  }
}
