/*
 *  APP
 *  Various states or special pages
 *
 */

.app {

  .content {

    &.takeover {
      height: 100vh;
      overflow: hidden;
    }

    &.disabled {
      pointer-events: none;
    }

    &.mobile-no-scroll {
      position: fixed;
      overflow: hidden;
      opacity: 0;
    }
  }

  &.app-404 {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }

  @media screen and (min-width: $bp-large) {
    .content {
      &.mobile-no-scroll {
        position: relative;
        overflow: auto;
        opacity: 1;
      }
    }
  }
}
