/*
 *  NAVIGATION OVERLAY
 *  Menu
 *
 */

.navigation-overlay {
  overflow: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: block;
  height: 100vh;
  transition: background-image .2s ease-in-out;
  display: flex;

  .menu-items {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 10%;
    padding: 0;
  }
}

.navigation-overlay.home,
.menu-hover-home + .app__modal .navigation-overlay {
  @include page-background-colour(home);
}

.navigation-overlay.what-we-do,
.menu-hover-what-we-do + .app__modal .navigation-overlay {
  @include page-background-colour(work);
}

.navigation-overlay.events,
.menu-hover-events + .app__modal .navigation-overlay {
  @include page-background-colour(events);
}

.navigation-overlay.blog,
.menu-hover-blog + .app__modal .navigation-overlay {
  @include page-background-colour(blog);
}

.navigation-overlay.join-us,
.menu-hover-join-us + .app__modal .navigation-overlay {
  @include page-background-colour(join);
}
