/*
Blog post

Single blog article.

markup:
{{>blogpost}}

Styleguide 4.1
*/
.blog-article__wrapper {
  @extend %u-padding-tL;
  @extend %u-palm-padding-tS;
  background: #FFFFFF;
}

.blog-article {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 10;

  @extend %u-palm-padding-lrM;
  @extend %u-tablet-padding-lrM;
  @extend %u-lap-padding-lrM;
  @extend %u-desk-padding-lrXxl;

  @include grid-media-query('desk') {
    max-width: 1020px;
  }
}

.blog-article__header {
  margin-bottom: 30px;
}

.blog-article__header__btns {
  @extend %clearfix;
  margin-bottom: 30px;
}

.blog-article__header__cat {
  display: block;
  float: left;
  padding: 0 10px;
  height: 35px;
  line-height: 33px;
  color: #FFF;
}

.blog-article__header__social {
  display: block;
  float: right;

  .social-btn {
    margin-left: 10px;
  }
}

.social-btn {
  display: block;
  padding: 0 10px;
  float: left;
  height: 35px;
  color: #FFF;
  font-size: 16px;
  line-height: 35px;
  text-indent: 35px;
  background-position: top left;
  background-repeat: no-repeat;

  @include grid-media-query('palm') {
    width: 35px;
    padding: 0;
    overflow: hidden;
    text-indent: -10000px;
  }

  &:hover {
    color: #FFF;
  }
}

.social-btn__twitter {
  background: #33ABE2 url(../images/blog/icon_share_twitter.png) top left no-repeat;
  background-size: 35px;

  @media (-webkit-min-device-pixel-ratio: 1.25),
         (min-resolution: 120dppx){
      background: #33ABE2 url(../images/blog/icon_share_twitter@2x.png) top left no-repeat;
      background-size: 35px;
  }

  &:hover {
    background-color: shade(#33ABE2, 20%);
  }
}
.social-btn__facebook {
  background: #3B5998 url(../images/blog/icon_share_fb.png) top left no-repeat;
  background-size: 35px;

  @media (-webkit-min-device-pixel-ratio: 1.25),
         (min-resolution: 120dppx){
      background: #3B5998 url(../images/blog/icon_share_fb@2x.png) top left no-repeat;
      background-size: 35px;
  }

  &:hover {
    background-color: shade(#3B5998, 20%);
  }
}

.social-btn__google {
  background: #D03324 url(../images/blog/icon_share_google.png) top left no-repeat;
  background-size: 35px;

  @media (-webkit-min-device-pixel-ratio: 1.25),
         (min-resolution: 120dppx){
      background: #D03324 url(../images/blog/icon_share_google@2x.png) top left no-repeat;
      background-size: 35px;
  }

  &:hover {
    background-color: shade(#D03324, 20%);
  }
}


.blog-article__header__title {}

.blog-article__header__meta {
  position: relative;
  margin-top: 10px;
  padding-bottom: 30px;
  font-size: 16px;
  font-family: $PxGroteskLight;
  text-transform: none;
  color: #333;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    bottom: 0;
    height: 2px;
    width: 15px;
    background: #999;
  }
}

.blog-article__header__meta__date {
  color: #969696;
}

.blog-article__palm__content {
  display: none;

  @include grid-media-query('palm') {
    display: block;
  }
}

.blog-article__palm__image {
  @include ratio-box(4/3);
  margin: 0 -30px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
      -ms-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}


.blog-article__palm__triangle {
  display: none;
  position: absolute;
  top: -34px;
  height: 34px;
  margin: 0 -20px;
  width: 100%;
  overflow: hidden;

  @include grid-media-query('palm') {
    display: block;
  }
}

.blog-article__palm__triangle__mask {
  position: absolute;
  bottom: -74px;
  left: -6%;
  width: 126%;
  height: 90px;
  background: #FFF;
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}


.blog-article__content {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 30px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    bottom: 0;
    height: 2px;
    width: 15px;
    background: #999;
  }

  @include grid-media-query('palm') {
    margin-top: -50px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 20px 20px;
    background: #FFF;
    position: relative;
    z-index: 10;

    &:after {
      left: 20px;
    }

    &.blog-article__content--job {
      margin-top: 0;
      padding-top: 0;
    }
  }

  h3 {
    margin-bottom: 20px;
    font-family: $PxGroteskLight;
    line-height: 1.2em;
    text-transform: none;
    font-size: 30px;

    @include grid-media-query('tablet') {
      font-size: 26px;
    }

    @include grid-media-query('palm') {
      font-size: 22px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 30px;
  }

  ul, ol {
    margin: 0 0 30px 0;
    padding-left: 20px;

    li {
      @extend .p;
      margin-bottom: 15px;
      padding-left: 5px;
    }
  }

  ol {
    margin-left: 26px;
  }

  ul {
    list-style: square;
  }

  dl {
    margin: 0;
  }

  dt {
    a { display: block; }
  }

  dd, .wp-caption-text {
    color: #939393;
    margin: 0 0 30px;
    font-size: 16px;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;

    @include grid-media-query('palm') {
      margin: 0 -20px 20px;
      max-width: -webkit-calc(100% + 40px);
    }
  }

  blockquote {
    padding: 0;
    margin: 40px 0;

    p {
      @extend .h5;
      margin: 0 0 30px;
      font-style: italic;
      font-family: $PxGroteskLight;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '“';
        font-size: 84px;
        display: inline-block;
        margin-left: 0;
        height: 16px;
        overflow: hidden;
        line-height: 47px;
        width: 29px;
        text-indent: -17px;

        @include grid-media-query('lap') {
          font-size: 96px;
          line-height: 49px;
          width: 33px;
          text-indent: -19px;
        }

        @include grid-media-query('tablet') {
          font-size: 88px;
          line-height: 48px;
          width: 32px;
          text-indent: -18px;
        }
      }
    }
  }
}

.blog-article__meta {
  display: table;
  margin-bottom: 60px;

  @include grid-media-query('palm') {
    display: block;
    margin-bottom: 30px;
  }
}

.blog-article__meta__description {
  display: table-cell;

  h5 {
    font-family: $PxGroteskLight;
    font-style: italic;
    text-transform: uppercase;
    font-size: 22px;
  }

  p {
    margin-top: 0;
    color: #646464;
  }

  @include grid-media-query('palm') {
    display: block;

    h5 {
      text-align: center;
    }
  }
}

.blog-article__meta__avatar {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  width: 140px;

  img {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 10px 0 0;
    border-radius: 100%;
  }

  @include grid-media-query('palm') {
    display: block;
    text-align: center;
    width: 100%;

    img {
      margin: 0 0 10px 0;
    }
  }
}

.blog-article__pagination {
  @extend %u-padding-tbM;
  background: #F3F3F3;
}

.blog-article__pagination__inner {
  @extend .blog-article;
}

.blog-article__pagination__link {
  @extend .u-margin-bS;
  display: block;
  font-size: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child:before,
  &:last-child:before {
    position: relative;
    top: -1px;
    left: -4px;
  }

  &:first-child:before {
    content: "←";
  }

  &:last-child:before {
    content: "→";
    left: -5px;
  }
}

.blog-article__comments {
  @extend %u-padding-bL;
}

.blog-article__comments__inner {
  @extend .blog-article;
}

.blog-article__comments__header {
  @extend %u-padding-tbM;

  @include grid-media-query('palm') {
    text-align: center;
  }
}

.comments-count {
  display: inline-block;
  position: relative;
  margin-top: 0;
  font-style: italic;
  font-family: $PxGroteskRegular;
  text-indent: 38px;
  font-size: 22px;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    height: 32px;
    width: 32px;
    background: url(../images/blog/icon_comments_webdark@2x.png);
    background-size: 32px;
  }
}

.comments-list {
  @extend %u-padding-bL;
  position: relative;
  margin: 0 0 40px 0;
  padding-left: 0;
  list-style: none;
  word-break: break-word;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    bottom: 0;
    height: 2px;
    width: 15px;
    background: #FFF;
  }
}

.comments-list__item {
  display: table;
  width: 100%;
  position: relative;
  padding: 35px 0 45px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.5);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  @include grid-media-query('palm') {
    display: block;
  }
}

.comments-list__item__comment {
  display: table-cell;

  h5 {
    font-family: $PxGroteskRegular;
    text-transform: uppercase;
    color: #FFF;
    font-size: 22px;
  }

  p {
    margin-top: 0;
    color: #FFF;
    white-space: pre-wrap;
  }

  @include grid-media-query('palm') {
    display: block;

    h5 { text-align: center; }
  }
}

.comments-list__item__avatar {
  display: table-cell;
  text-align: left;
  vertical-align: top;
  width: 140px;
  padding-top: 14px;

  img {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 0;
    border-radius: 100%;
  }

  @include grid-media-query('palm') {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0;

    img {
      margin: 0 0 10px 0;
    }
  }
}

.comments-list__item__date {
  display: block;
  font-style: italic;
  margin-top: 20px;
}

.comments-form {}

.comments-form__header {
  h3, p {
    font-family: $PxGroteskLight;
    font-style: italic;
  }

  h3 {
    text-transform: none;
    margin: 0;

    @include grid-media-query('lap') {
      font-size: 28px;
    }

    @include grid-media-query('upToTablet') {
      font-size: 30px;
    }
  }

  p {
    margin-top: 10px;
    line-height: 1.4em;
  }

  @include grid-media-query('palm') {
    h3, p {
      text-align: center;
    }
  }
}

.comments-form__main {
  display: table;
  width: 100%;
  margin-top: 40px;

  @include grid-media-query('palm') {
    display: block;
    margin-top: 30px;
  }
}

.comments-form__field {
  display: table-row;

  @include grid-media-query('palm') {
    display: block;
  }
}

.comments-form__label,
.comments-form__io-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 15px;

  @include grid-media-query('palm') {
    display: block;
  }
}

.comments-form__label {
  width: 140px;
  font-family: $PxGroteskLight;
  font-style: italic;
  font-size: 22px;

  .asterix { color: #FFF; }

  @include grid-media-query('palm') {
    display: none;
  }
}

.comments-form__label--top {
  vertical-align: top;
  padding-top: 13px;
}

.comments-form__input,
.comments-form__textarea {
  display: block;
  width: 100%;
  padding: 0 16px;
  color: #333;
  font-family: $PxGroteskRegular;
  font-size: 22px;
  outline: 0;
  border: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-font-smoothing: antialiased;

  &:hover,
  &:focus {
    background: #FFF;
  }

  @include grid-media-query('palm') {
    padding: 0 13px;
    font-size: 18px;
  }
}

.comments-form__input {
  height: 50px;
  vertical-align: middle;

  @include grid-media-query('palm') {
    height: 50px;
  }
}

.comments-form__textarea {
  padding: 13px 16px;

  @include grid-media-query('palm') {
    padding: 10px 13px;
  }
}

.comments-form__btns {
  display: block;
  padding-left: 140px;

  @include grid-media-query('palm') {
    padding-left: 0;
  }
}

.comments-form__submit {
  border: 0;
  height: 50px;
  line-height: 48px;
  padding: 0 30px;
  font-family: $PxGroteskRegular;
  font-size: 20px;
  outline: 0;
  color: #FFF;
  background: rgba(51, 51, 51, 0.6);
  -webkit-font-smoothing: antialiased;

  &:hover,
  &:focus {
    background: rgba(51, 51, 51, 0.9);
  }

  @include grid-media-query('palm') {
    display: block;
    height: 50px;
    line-height: 41px;
    font-size: 18px;
    width: 100%;
  }
}

@each $category in $categories {
  $name: nth($category, 1);
  $hex:  unquote(nth($category, 2));

  .blog-article--#{$name} {
    .blog-article__header__cat {
      background: $hex;

      &:hover {
        background: shade($hex, 20%);
        color: #FFF;
      }
    }

    .apply-btn {
      background: $hex;
    }

    .blog-article__content a {
      color: $hex;
    }

    .blog-article__comments {
      background: $hex;
    }

    .blog-article__meta__description {
      h5 {
        color: $hex;
      }
    }

    @if $hex == #ED0082 or $hex == #FF5519 {
      .comments-form__header {
        h3, p {
          color: #FFF;
        }
      }

      .comments-form__label {
        color: #FFF;
      }

      .comments-count {
        color: #FFF;

        &:before {
          background: url(../images/blog/icon_comments_webwhite@2x.png);
          background-size: 32px;
        }
      }
    }
  }

  .blog-article__pagination__link--#{$name}:hover,
  .blog-article__pagination__link--#{$name}:last-child:before,
  .blog-article__pagination__link--#{$name}:first-child:before {
    color: $hex;
  }
}
