.btn {
  display: inline-block;
  padding: 0 50px;
  height: 40px;
  color: #FFF;
  font-size: 16px;
  line-height: 38px;
  text-decoration: none;
  border-: 0;
}

.btn--large {
  height: 50px;
  line-height: 48px;
  padding: 0 30px;
  font-size: 20px;

  @include grid-media-query('palm') {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    width: 100%;
  }
}

@each $colour in $colours {
  $name: nth($colour, 1);
  $hex: nth($colour, 2);

  .btn--#{$name} {
    background: $hex;
    color: #FFF;

    &:hover {
      color: #FFF;
      background: shade($hex, 10%);
    }
  }

  .btn--#{$name}--coloured {
    border-color: #FFF;
    color: #FFF;

    &:hover {
      color: $hex;
      background: #FFF;
    }
  }

  .btn-coloured--#{$name}--coloured {
    border: 0;
    background: $hex;
    color: #FFF;

    &:hover {
      background: shade($hex, 10);
      background: #FFF;
    }
  }
}

// $PALM
@media only screen
and (max-width: 320px) {
  .btn {
    display: block;
    padding: 0;
    text-align: center;
  }
}