.home-article {
  position: relative;
}

.home-article__img {
  @include ratio-box(16/6);
  position: relative;
  overflow: hidden;

  @include grid-media-query('tablet') {
    @include ratio-box(6/4);
  }

  @include grid-media-query('palm') {
    @include ratio-box(4/3);
  }
}

.home-article__img__clip {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-article__img__mask {
  position: absolute;
  bottom: -50px;
  left: -6%;
  width: 106%;
  height: 90px;
  background: #FFF;
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}

.home-article__content {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 60px;
  z-index: 10;

  @extend %u-palm-padding-lrM;
  @extend %u-tablet-padding-lrM;
  @extend %u-lap-padding-lrXxl;

  @include grid-media-query('desk') {
    max-width: 1020px;
  }

  @include grid-media-query('large') {
    max-width: 1120px;
  }

  @include grid-media-query('huge') {
    max-width: 1280px;
  }
}

.home-article__cat {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 30px;
  height: 35px;
  line-height: 33px;
  color: #FFF;
}

.home-article__title {
  margin: 0;
  text-indent: -3px;
}

.home-article__author {
  position: relative;
  margin: 20px 0 30px;
  padding-bottom: 40px;
  color: $nonBlack;
  font-size: 18px;
  line-height: 1.5em;
  text-transform: none;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    bottom: 0;
    height: 2px;
    width: 15px;
    background: #939393;
  }
}

.home-article__date {
  color: #939393;
  font-style: italic;
}

@each $category in $categories {
  $name: nth($category, 1);
  $hex:  unquote(nth($category, 2));

  .home-article--#{$name} {
    .home-article__cat {
      background: $hex;

      &:hover {
        background: shade($hex, 20%);
        color: #FFF;
      }
    }

    .home-article__title a:hover {
      color: $hex;
    }
  }
}

