.jobs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.jobs__item {}

.jobs__item__link {
  display: block;
  @extend %u-huge-padding-aL;
  @extend %u-desk-padding-aL;
  @extend %u-lap-padding-aM;
  @extend %u-tablet-padding-aM;
  @extend %u-palm-padding-aM;

  &:hover {
    background: #F8f8f8;
  }

  @include grid-media-query('upToTablet') {
    &:hover {
      background: none;
    }
  }
}