.studios {
  @extend %grid;
}

.studios__item {
  @extend %grid__item;
  @extend %one-half;
  @extend %upToTablet--one-whole;
}

.page-template-careers-php .studios__item {
  @extend %one-third;
  @extend %upToTablet--one-whole;
}

.studios__item__image {
  @include ratio-box(16/9, "img");

  img {
    display: block;
    margin: 0;
  }
}

.studios__item__details {
  position: relative;
  @extend %triangle;
}

.studios__item__details,
.studio__directions__btns {
  @extend %u-huge-padding-aL;
  @extend %u-desk-padding-aL;
  @extend %u-lap-padding-aM;
  @extend %u-tablet-padding-aM;
  @extend %u-palm-padding-aM;
}

.studio__directions__map {
  @include ratio-box(16/9);

  @media only screen
    and (min-width: 321px)
    and (max-width: 600px) {
      @include ratio-box(16/5);
    }
}