<!DOCTYPE html>
<html lang="en">
  <!-- Oh hey there, we're always on the lookout for curious and talented developers, get in touch! :) -->
  <head>
    <meta charset="utf-8">
    <title>ustwo</title>
    <meta name="author" content="ustwo">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/css/ustwo.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-7940378-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
      window.data = <%= data %>;
      if(!!navigator.userAgent.match(/(iPhone)/g)) {
        document.documentElement.className += " iPhone";
      }
    </script>
  </head>
  <body>
    <%= app %>
  </body>
  <script src="/js/vendors.js"></script>
  <script src="/js/app.js"></script>
</html>
