/*
 *  NAVIGATION TOGGLE
 *  Burger icon for smaller screens
 *
 */

.navigation-toggle {
  display: block;
  width: 60px;
  height: 60px;
  fill: #fff;

  svg {
    width: 42px;
    height: 32px;
    pointer-events: none; /* Fixes intermittent issue on touch devices? */
  }
}

.transparent-white {
  .navigation-toggle {
    fill: $offWhite;
  }
}
.takeover {
  .navigation-toggle {
    fill: $nonBlack;
  }
}
