/*
 *  FEATURED CASE STUDY
 *
 */

.featured-case-study {
  @include core-layout;
  padding-top: 100px;
  padding-bottom: 60px;

  button {
    @include buttonStyle(true);
    @include buttonColor();
  }

  .title {
    margin-bottom: 15px;
  }

  @media screen and (min-width: $bp-medium) {
    padding-top: 100px;
    padding-bottom: 150px;
  }
}

.featured-case-study-image {
  text-align: center;
  margin-bottom: 40px;

  img {
    width: 90%;
    max-width: 435px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $bp-large) {
  .featured-case-study {
    height: $section-height;
    padding-top: 0;
    padding-bottom: 0;
  }
  .featured-case-study-inner {
    display: flex;
  }
  .featured-case-study-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
    width: 33%;

    button {
      width: 240px;
    }
  }
  .featured-case-study-image {
    flex: 1;
    order: 2;
  }
  .featured-case-study-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;

    img {
      height: 90%;
      max-width: 500px;
    }
  }
}
