/*
 *  SUBSCRIPTION
 *  So users can subscribe to the ustwo mailing list
 *
 *  Notes: Requires functionality and visual states to handle the full submission within the website rather
 *  than the current 'first-slice' which sends the user to a mailchimp page for confirmation.
 *
 *  Animation icon: height = 240px, width = 6237px with 27 frames. Divide dimensions by 3.
 */


@keyframes iconAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2002px 0;
  }
}


.subscription {
  $input-height: 40px;
  $submit-button-width-small: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 30px 68px 30px;
  height: auto;
  border-bottom: 1px solid $nonBlack;
  font-size: 18px;
  background-image: linear-gradient(to right, #143fcc, #6114cc);
  color: white;

  .icon {
    width: 77px;
    height: 80px;
    margin: 0 auto 30px auto;
    background: url("/images/news-icon-strip-animation.png") no-repeat 0 0;
    background-size: 2079px 80px;

    &.animate {
      animation: iconAnimation 1.5s steps(26) 1;
      animation-fill-mode: forwards;
    }
  }

  h2,
  p {
    text-align: center;
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    max-width: 480px;
    padding: 0;
    margin-bottom: 50px;
  }

  form {
    display: flex;
    max-width: 480px;
  }

  .label {
    display: none;
  }

  .email,
  .submit,
  .submit:after {
    height: $input-height;
  }

  .email {
    flex: 1;
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
    margin-right: 20px;
    padding: 0;

    &::-webkit-input-placeholder {
      color: white;
    }
    &::-moz-placeholder {
      color: white;
    }
    &:-ms-input-placeholder {
      color: white;
    }
    &:-moz-placeholder {
      color: white;
    }
  }

  .submit {
    width: $submit-button-width-small;
    background: transparent;
    border: 1px solid white;
    background: transparent url("/images/icon-right-light.svg") no-repeat 50% 50%;
    background-size: 16px 16px;

    .submit-text {
      display: none;
    }
  }

  @media screen and (min-width: $bp-small) {

  }
}

.subscription-wrapper {
  max-width: 320px;
  margin: 0 auto;

  @media screen and (min-width: $bp-tablet) {
    max-width: 480px;
  }
  @media screen and (min-width: $bp-medium) {
    max-width: 510px;
  }
}
