/*
 *  HERO
 *  The top showcase image with bold text on each page
 *
 */

.hero {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .hero-inner-wrapper {
    @include core-layout();
    width: 100%;
    height: 100%;
    // max-width: $grid-max-width;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
  }

  .videoBackground {
    height: 100%;
    max-width: none;
  }

  .section-title {
    color: white;
    position: relative;
    z-index: 4;
  }

  .title {
    position: relative;
    z-index: 2;
    color: white;
  }

  @media screen and (min-width: $bp-medium) {

    .title {
      max-width: 80%;
    }
  }

  .rimage {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 92%;
    transform: translate(-50%, -50%);
  }

  .subheading {
    margin-top: 30px;
    max-width: 80%;
    text-align: left;
    color: $offWhite;
  }

  .video {
    height: 200%;
    width: 200%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      overflow-x: hidden;
      height: auto;
      width: auto;
      min-width: 50%;
      min-height: 50%;
      transform: none;
      webkit-transform: none;
    }
  }

  @media screen and (min-width: 769px) {
    .video {
      height: 100vh;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @media screen and (min-width: $bp-medium) {
    .title {

    }
  }
  @media screen and (min-width: $bp-large) {
    .title {

    }
  }
  @media screen and (min-width: $bp-larger) {
    .title {

    }
  }
}

.js {
  .image-entrance {
    transition: opacity .8s ease-in-out;
    transition-delay: 1.3s;
  }

  // .shown .hero {
  //   .down-indicator {
  //     opacity: 1;
  //     transition-delay: 3s;
  //   }
  // }
}

/* NOTE: max-width */
@media screen and (max-width: $bp-medium) {
  .hero {
    width: 100vw;
    z-index: 1;
  }
  .hero-inner-wrapper {
    position: absolute;
    height: 100%;
    display: block;

    .videoBackground {
      height: 100vh;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
}
