/*
 *  HERO
 *  The top showcase image with bold text on each page
 *
 *  TODO: when homepage is integrated and refactor, remove need for the .page-home (etc) class below
 */

.hero,
.page-home .screen-block.welcome .wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* This is for IE as content doesn't center */
  min-height: 100vh;

  .title {
    position: relative;
    z-index: 2;
    max-width: 550px;
    padding: 0 20px;
    text-align: center;
    color: white;
  }
  
  .rimage {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 92%;
    transform: translate(-50%, -50%);
  }

  .subheading {
    margin-top: 50px;
    max-width: 700px;
    text-align: center;
    color: $offWhite;
    padding: 0 40px;
  }

  .down-chevron {
    position: absolute;
    top: 73%;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;

    svg {
      width: 100px;
      height: 50px;
    }
  }

  .video {
    height: 200%;
    width: 200%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      overflow-x: hidden;
      height: auto;
      width: auto;
      min-width: 50%;
      min-height: 50%;
      transform: none;
      webkit-transform: none;
    }
  }

  @media screen and (min-width: 769px) {
    .video {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @media screen and (min-width: $bp-medium) {
    .title {
      max-width: 750px;
      padding: 0 40px;
    }
    .down-chevron {
      top: 76%;
    }
  }
  @media screen and (min-width: $bp-large) {
    .title {
      max-width: 1080px;
      padding: 0 80px;
    }
    .down-chevron {
      top: 80%;
    }
  }
}

.js {
  .image-entrance {
    transition: opacity .8s ease-in-out;
    transition-delay: 1.3s;
  }
}
