/*
 *  HERO
 *  The top showcase image with bold text on each page
 *
 */

.hero {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* This is for IE as content doesn't center */
  min-height: 100vh;
  @include core-layout();

  .hero-inner-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;

    .down-indicator {
      left: 0;
    }
  }

  .videoBackground {
    max-width: none;
  }

  .section-title {
    color: white;
    position: relative;
    z-index: 4;
  }

  .title {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 40px;
  }

  @media screen and (min-width: $bp-medium) {

    .title {
      font-size: 60px;
      max-width: 75%;
    }
  }

  @media screen and (min-width: $bp-larger) {

    .title {
      font-size: 70px;
    }
  }

  .rimage {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 92%;
    transform: translate(-50%, -50%);
  }

  .subheading {
    margin-top: 50px;
    max-width: 700px;
    text-align: center;
    color: $offWhite;
    padding: 0 40px;
  }

  .video {
    height: 200%;
    width: 200%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      overflow-x: hidden;
      height: auto;
      width: auto;
      min-width: 50%;
      min-height: 50%;
      transform: none;
      webkit-transform: none;
    }
  }

  @media screen and (min-width: 769px) {
    .video {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @media screen and (min-width: $bp-medium) {
    .title {

    }
  }
  @media screen and (min-width: $bp-large) {
    .title {

    }
  }
  @media screen and (min-width: $bp-larger) {
    .title {

    }
  }
}

.js {
  .image-entrance {
    transition: opacity .8s ease-in-out;
    transition-delay: 1.3s;
  }
}
