/*
 *  HOME SMORGASBORD
 *  Grid of studio things
 *
 */

.scroll-wrapper-home-smorgasbord {
  height: auto;
}

.home-smorgasbord {
  padding: 0 0 30vh 0;

  h1 {
    margin-bottom: 30vh;
  }
}

.smorgasbord-block {
  height: 400px;
  margin-bottom: 20px;
  background-color: #eee;
}

@media screen and (min-width: $bp-medium) {
  .smorgasbord-block {
    height: 430px;
  }
  .smorgasbord-block-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .smorgasbord-block {
      flex: 1;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: $bp-large) {
  .smorgasbord-block {
    height: 480px;
  }
}
