/*
 *  HOME SMORGASBORD
 *  Grid of studio things
 *
 */

.scroll-wrapper-home-smorgasbord {
  height: auto;
  background-image: url('/images/juicy-icon-loop.gif');
  background-position: 50% calc(100% - 80px);
  background-repeat: no-repeat;
  background-size: 64px 64px;
  max-width: 1100px;
  margin: 0 auto;
}

.home-smorgasbord {
  padding: 0 0 210px 0;

  h1 {
    margin-bottom: 30vh;
  }
}

.smorgasbord-block {
  height: 300px;
  margin-bottom: 20px;
  background-color: #eee;

  h5 {
    font-family: "futura-pt", Futura, Arial, sans-serif;
    text-transform: uppercase;
  }

  @media screen and (min-width: $bp-medium) {
    height: 400px;
  }
}

.smorgasbord-video {
  position: relative;
  height: auto;

  video {
    width: 100%;
  }
}

.smorgasbord-video-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: url('/images/icon-play-large-dark.svg') no-repeat 50% 50%;
  transition: all .2s ease-in-out;
  cursor: pointer;
  display: none;

  @media screen and (min-width: $bp-medium) {
    display: block;
  }

  &.videoPlaying {
    opacity: 0;
    background: url('/images/icon-pause-large-dark.svg') no-repeat 50% 50%;
    transition: all .2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.smorgasbord-video-title {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  width: 100% !important;
  font-size: 26px !important;
  text-align: center;
  color: white;
  transition: all .2s ease-in-out;

  &.videoPlaying {
    opacity: 0;
  }

  @media screen and (min-width: $bp-medium) {
    font-size: 50px !important;
  }
}

.smorgasbord-blog,
.smorgasbord-event {
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  button {
    display: inline-block;
    border: 1px solid white;
    padding: 0 37px 0 12px;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background-image: url('/images/icon-right-light.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;
    background-size: 16px auto;
    align-self: flex-start;
  }
}

.smorgasbord-subtitle {
  text-transform: uppercase;
  // margin: 100px 0 20px;
}

.smorgasbord-title {
  @extend .h4;
  font-family: "futura-pt", Futura, Arial, sans-serif;
  text-transform: uppercase;

  @media screen and (min-width: $bp-medium) {
    font-size: 40px;
    line-height: 1;
  }
}

.smorgasbord-event {
  background-image: url('/images/bg-pattern.png');
  background-repeat: repeat;
}

@media screen and (min-width: $bp-medium) {
  .smorgasbord-block {
    height: 430px;
  }
  .smorgasbord-video {
    height: auto;
  }
  .smorgasbord-block-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .smorgasbord-block {
      flex: 1;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: $bp-large) {
  .smorgasbord-block {
    height: 560px;
  }
  .smorgasbord-video {
    height: auto;
  }
}

.smorgasbord-video,
.smorgasbord-studios {
  background-position: 50%;
  background-size: cover;
}

// .smorgasbord-video {
  // background-image: url('/images/temp/smorgs-video.jpg');
// }

.smorgasbord-studios {
  background-image: url('/images/temp/smorgs-studios.jpg');
  background-position: left top;
}

.smorgasbord-event {
  background-color: $softPassion;
}

.smorgasbord-blog {
  background-image: url('/images/squiggle.png'), linear-gradient(225deg, #53baf3, $blu);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
