/*
 *  HOME SMORGASBORD
 *  Grid of studio things
 *
 */

.scroll-wrapper-home-smorgasbord {
  height: auto;
  background-image: url('/images/juicy-icon-loop.gif');
  background-position: 50% calc(100% - 50px);
  background-repeat: no-repeat;
  background-size: 64px 64px;
  max-width: 1100px;
  margin: 0 auto;

  @media screen and (min-width: $bp-medium) {
    padding-bottom: 15%;
  }
}

.home-smorgasbord {
  h1 {
    margin-bottom: 30vh;
  }
}

.smorgasbord-block {
  margin-bottom: 20px;
  background-color: #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.smorgasbord-block:not(.smorgasbord-video) {
  height: 300px;

  @media screen and (min-width: $bp-medium) {
    height: 430px;
  }
  @media screen and (min-width: $bp-large) {
    height: 480px;
    font-size: 40px;
  }
}

.smorgasbord-video {
  position: relative;

  > div {
    line-height: 0;
  }
}

.smorgasbord-blog,
.smorgasbord-events {
  height: 360px;
  padding: 20px;
  color: $offWhite;
  display: flex;
  flex-direction: column;

  .smorgasbord-post {
    flex: 1;
    margin-top: 40px;

  }
  @media screen and (min-width: $bp-large) {
    padding: 30px;

    .smorgasbord-post {
      margin-top: 60px;
    }
  }

  button {
    @extend .h5;
    display: inline-block;
    border: 1px solid white;
    padding: 0 37px 0 12px;
    height: 40px;
    line-height: 40px;
    background-image: url('/images/icon-right-light.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;
    background-size: 16px auto;
    align-self: flex-start;
  }
}

.smorgasbord-subtitle {
  @extend .h5;
}

.smorgasbord-title {
  a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

.smorgasbord-events {
  background-image: url('/images/bg-pattern.png');
  background-repeat: repeat;
}

@media screen and (min-width: $bp-medium) {
  .smorgasbord-block-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .smorgasbord-block {
      flex: 1;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


.smorgasbord-studios {
  background-position: 50%;
  background-size: cover;
}

.smorgasbord-studios {
  background-image: url('/images/temp/smorgs-studios.jpg');
  background-position: left top;
}

.smorgasbord-events {
  background-color: $softPassion;
}

.smorgasbord-blog {
  background-image: url('/images/squiggle.png'), linear-gradient(225deg, #53baf3, $blu);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
