/*
 *  HOME SMORGASBORD
 *  Grid of studio things
 *
 */

.scroll-wrapper-home-smorgasbord {
  height: auto;
  background-image: url('/images/icon-juicy-dark.svg');
  background-position: 50% calc(100% - 80px);
  background-repeat: no-repeat;
}

.home-smorgasbord {
  padding: 0 0 210px 0;

  h1 {
    margin-bottom: 30vh;
  }
}

.smorgasbord-block {
  height: 400px;
  margin-bottom: 20px;
  background-color: #eee;
}

.smorgasbord-video {
  position: relative;
  height: auto;

  video {
    width: 100%;
  }
}

.smorgasbord-video-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: url('/images/icon-play-large-dark.svg') no-repeat 50% 50%;
  transition: all .2s ease-in-out;
  cursor: pointer;

  &.videoPlaying {
    opacity: 0;
    background: url('/images/icon-pause-large-dark.svg') no-repeat 50% 50%;
    transition: all .2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.smorgasbord-blog,
.smorgasbord-event {
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.smorgasbord-subtitle {
  text-transform: uppercase;
  // margin: 100px 0 20px;
}

.smorgasbord-title {
  @extend .h3;
  margin-bottom: 100px;
}

.smorgasbord-event {
  background-image: url('/images/bg-pattern.png');
  background-repeat: repeat;
}

@media screen and (min-width: $bp-medium) {
  .smorgasbord-block {
    height: 430px;
  }
  .smorgasbord-video {
    height: auto;
  }
  .smorgasbord-block-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .smorgasbord-block {
      flex: 1;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: $bp-large) {
  .smorgasbord-block {
    height: 560px;
  }
  .smorgasbord-video {
    height: auto;
  }
}

.smorgasbord-video,
.smorgasbord-studios {
  background-position: 50%;
  background-size: cover;
}

// .smorgasbord-video {
  // background-image: url('/images/temp/smorgs-video.jpg');
// }

.smorgasbord-studios {
  background-image: url('/images/temp/smorgs-studios.jpg');
}

.smorgasbord-event {
  background-color: $softPassion;
}

.smorgasbord-blog {
  background-image: linear-gradient(225deg, #53baf3, $blu);
}
