/*
 *  HOME SMORGASBORD
 *  Grid of studio things
 *
 */

.more-juice {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  width:64px;
  height: 64px;
  margin: 0 auto;
  padding: 70px 0;

  @media screen and (min-width: $bp-medium) {
    padding: 160px 0;
  }
}

.scroll-wrapper-home-smorgasbord {
  padding-top: 0;
  padding-bottom: 0;

  .scroll-wrapper-inner {
    max-width: 1000px;
  }

  @media screen and (min-width: $bp-medium) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.home-smorgasbord {
  h1 {
    margin-bottom: 30vh;
  }
}

.smorgasbord-block,
.smorgasbord-block-wrapper .subscription {
  margin-bottom: 20px;
  background-color: #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.smorgasbord-block:not(.smorgasbord-video) {
  height: 300px;

  @media screen and (min-width: $bp-medium) {
    height: 430px;
  }
  @media screen and (min-width: $bp-large) {
    height: 480px;
    font-size: 40px;
  }
}

.smorgasbord-block-wrapper .subscription {
  @media screen and (min-width: $bp-medium) {
    height: 430px;
  }
  @media screen and (min-width: $bp-large) {
    height: 480px;
  }
}

.smorgasbord-video {
  position: relative;

  > div {
    line-height: 0;
  }
}

.smorgasbord-blog,
.smorgasbord-events {
  height: 360px;
  padding: 20px;
  color: $offWhite;
  display: flex;
  flex-direction: column;

  .smorgasbord-post {
    flex: 1;
    margin-top: 40px;

  }
  @media screen and (min-width: $bp-large) {
    padding: 30px;

    .smorgasbord-post {
      margin-top: 60px;
    }
  }

  button {
    @include buttonStyle(true);
    @include buttonColor('invert');
    background-image: url('/images/icon-right-light.svg');
    align-self: flex-start;
  }
}

.smorgasbord-subtitle {
  @extend .h5;
}

.smorgasbord-title {
  a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

.smorgasbord-events {
  background-repeat: repeat;
}

@media screen and (min-width: $bp-medium) {
  .smorgasbord-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;

    .smorgasbord-block {
      flex: 1;

      &:first-child {
        margin-right: 20px;
      }
    }

    .subscription {
      flex: 1;
      min-width: 50%;
    }
  }
}


.smorgasbord-studios {
  background-position: 50%;
  background-size: cover;
}

.smorgasbord-studios {
  background-image: url('/images/temp/smorgs-studios.jpg');
  background-position: left top;
}

.smorgasbord-events {
  background-color: $softPassion;
}

.smorgasbord-blog {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
