/*
 *  PAGE: SEARCH RESULTS
 *  Lists search-result-list-items
 *
 */

.page-search-results {
  position: relative;
  background-color: $blu;

  .search-results-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh + #{$card-margin-offset});

    .searched-term {
      transform: translateY(0);
    }
    .clear-search {
      opacity: 0;
    }
  }

  &.shown .search-results-header {
    .searched-term {
      transform: translateY(-20vh) scale(0.8);
      transition: transform .3s ease-in-out;
    }
    .clear-search {
      opacity: 1;
      transition: opacity .3s ease-in-out .3s;
    }
  }

  .searched-term {
    padding: 0 5%;
    text-align: center;
    color: #fff;
  }

  .clear-search {
    width: 100%;
    text-align: center;
    transform: translateY(-20vh);

    button {
      padding: 0;
      border: none;
      border-bottom: 2px solid $offWhite;
      background: none;
      outline: 0;
      font-family: $PxGroteskBold;
      color: $offWhite;
    }
  }

  .loading-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 40vh;
    z-index: 1;
    margin: 10vh auto 0 auto;
  }

  ul {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 45px;
  }

  .search-transition-manager {
    .loading-icon,
    .search-results,
    .no-results {
      transition: opacity .32s ease-in-out;
    }
  }

  .no-results {
    text-align: center;
    color: #fff;
    margin-top: 100px;
  }

  .search-transition-manager {
    min-height: 350px;
    margin-top: -50vh;

    .search-results {
      position: relative;
      z-index: 2;

      li {
        opacity: 0;
        transform: translateY(80px);
      }

      &.shown {
        li {
          opacity: 1;
          transform: translateY(0);
          transition: transform .3s cubic-bezier(.27,.1,.17,1.01), opacity .3s ease-in-out;

          &:nth-child(1) {
            transition-delay: .2s;
          }
          &:nth-child(2) {
            transition-delay: .3s;
          }
          &:nth-child(3) {
            transition-delay: .4s;
          }
          &:nth-child(4) {
            transition-delay: .5s;
          }
        }
      }
    }
  }

  @media screen and (min-width: $bp-medium) {
    ul {
      margin-left: 30px;
      margin-right: 30px;
      padding-bottom: 110px;
    }

    .search-transition-manager {
      margin-top: calc(-50vh - #{$card-margin-offset});
    }
  }

}
