/*
 *  SEARCH RESULT LIST ITEM
 *  On results page
 *
 */

.search-result-list-item {
  position: relative;
  max-width: 1380px;
  margin: 0 auto;
  margin-bottom: 10px;
  list-style: none;

  &:last-of-type {
    margin-bottom: 0;
  }

  .content {
    padding: 20px;
    background: #fff;
  }

  .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 60px;
    margin: 12px 0 5px;
    font-size: 28px;
  }

  .meta,
  .tail {
    display: inline-block;
    font-family: $PxGroteskBold;
    font-size: 16px;
  }

  .meta {
    color: $darkGrey;

    .date {
      font-family: $PxGroteskRegular;
      color: #969696;
    }
  }

  .tail {
    width: 100%;
    margin-top: 10px;
    text-align: right;

    a {
      font-family: $PxGroteskBold;
      border-bottom: 2px solid $pot;
    }
  }

  @media screen and (min-width: $bp-small) {
    .title {
      display: block;
      -webkit-line-clamp: none;
      -webkit-box-orient: vertical;
      height: auto;
      padding-right: 20%;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  @media screen and (min-width: $bp-medium) {
    .image {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: $blog-search-item-height-desktop;
      height: $blog-search-item-height-desktop;

      a {
        display: block;
        height: 245px;
      }
    }
    .content {
      height: $blog-search-item-height-desktop;
      padding-left: $blog-search-item-height-desktop + 20px;
      padding-bottom: 0;

      p {
        margin: 0;
      }
    }

    .title {
      overflow: hidden;
      padding-right: 20%;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .tail {
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: auto;
    }
  }
}
