/*
 *  ENTRANCE TRANSITION
 *  If js is supported then show something
 *
 *  TODO: Is this still being used? No transition?
 */


.js {
  .entrance-transition {
    opacity: 0;
    transition: opacity .2s linear;

    &.show {
      opacity: 1;
    }
  }
}
