/*
 *  MODAL
 *  Core style for overlay
 *
 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3999;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
  opacity: 0;
  transform: translateZ(0);

  &.below-header {
    z-index: 30;
  }
  > * {
    cursor: auto;
  }

  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0;
  }

  &.tray {
    transition-duration: .4s;
  }
}
