/*
 *  MODAL
 *  Core style for overlay
 *
 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 50;
  cursor: pointer;
  transition: opacity .2s ease-in-out;

  &.below-header {
    z-index: 30;
  }

  &.add {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0;
  }

  > * {
    cursor: auto;
  }

  &.tray {
    transition-duration: .4s;
  }
}
