.blog-post-list-item {

  $padding: 20px;

  background-color: #eaeaea;
  padding: 10px 10px 0 10px;

  &:last-of-type {
    padding-bottom: 10px;
  }

  .image {
    height: 245px;
    background-position: center;
    background-size: cover;

    img {
      display: none;
    }
  }

  .content {
    padding: 0 20px 20px 20px;
    background-color: #f8f8f8;
  }

  .title {
    margin-bottom: 5px;
    font-size: 30px;
  }

  .meta {
    margin-bottom: 20px;
    color: #646464;
    font-family: $PxGroteskBold;

    .date {
      font-family: $PxGroteskRegular;
    }
  }

  .excerpt {
    display: none;
  }

  .tail {
    position: relative;
    text-align: right;

    a {
      display: inline-block;
      float: left;
      text-align: left;
      border-bottom: 3px solid;
    }

    .social {
      > div {
        display: inline-block;
        padding-left: 20px;
      }
    }
  }


  // Hero/featured blog post
  &.featured {
    padding: 0;
  }


}
