.blog-post-list-item {

  $padding: 20px;
  $padding-large: 40px;


  background-color: #eaeaea;
  padding: 10px 10px 0 10px;
  vertical-align: top;

  &:last-of-type {
    padding-bottom: 10px;
  }

  .image {
    height: 245px;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    img {
      display: none;
    }
  }

  .content {
    padding: 0 $padding $padding $padding;
    background-color: #f8f8f8;
  }

  .title {
    margin-bottom: 5px;
    font-size: 24px;
  }

  .meta {
    margin-bottom: $padding - 5px;
    margin-top: 5px;
    color: #646464;
    font-family: $PxGroteskBold;
    font-size: 16px;

    .date {
      font-family: $PxGroteskRegular;
    }
  }

  .excerpt {
    display: none;
  }

  .tail {
    text-align: right;
    overflow: auto;

    a {
      display: inline-block;
      float: left;
      text-align: left;
      border-bottom: 2px solid;
    }

    .social-media {
      .channel {
        $height: 22px;

        display: inline-block;
        padding-left: 20px;
        height: $height;

        .logo,
        span {
          display: inline-block;
        }

        span {
          position: relative;
          bottom: 3px;
        }

        .logo {
          height: $height;
          width: $height;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;

          svg {
            width: $height;
            height: $height;
          }
        }

        &.facebook .logo {
          margin-right: 3px;
        }

        &.twitter .logo {
          margin-right: 7px;
        }
      }
    }
  }



  // Hero/featured blog post
  &.featured {
    padding: 0;

    .content {
      padding: 30px $padding $padding;

      .blog-category {
        transform: translateY(-12px);
      }
    }
  }

  @include susy-breakpoint($bp-medium, $susy) {
    position: relative;
    padding: 0 0 30px;

    &:last-of-type {
      padding-bottom: $blog-gutter-large;
    }

    .excerpt {
      display: block;
      display: -webkit-box;
      height: 76.2px;
      margin: 0 auto;
      font-size: 26px;
      line-height: 1.4;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 10px;

      p {
        padding: 0;
        margin: 0;
      }
    }

    .content {
      padding: 10px $padding-large $padding-large;
      height: 332px;
      position: relative;

      .tail {
        position: absolute;
        bottom: $padding-large - 10px;
        width: calc(100% - (2 * #{$padding-large}));
      }
    }

    &.featured {
      position: relative;
      height: 720px;
      padding-bottom: 0;
      margin-bottom: $blog-gutter-large;

      .image {
        height: 100%;
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 530px;
        padding: 30px $padding-large $padding-large;
      }
    }
  }

  @include susy-breakpoint($bp-large, $susy) {
    .excerpt {
      height: 84.2px;
    }
  }

}
