.contact-detail {
  padding: 0 6.25%;
  margin: 30px 0;
  overflow: auto;

  &__title {
    color: $marshPassion;
    font-size: 22px;
    font-family: "PxGrotesk-Regular", "Arial", sans-serif;
    text-transform: none;
  }

  &__description {
    display: none;
  }

  &__link {
    border-bottom: 2px solid $mare;
    margin-top: 15px;
    display: block;
    float: left;
    clear: left;
    font-size: 18px;
  }

  @include susy-breakpoint($bp-huge, $susy) {
    &__link {
      float: right;
      clear: none;

      &:first-of-type {
        float: left;
      }
    }
  }
}
