.full-image {
  height: 250px;
  background-position: center;
  background-size: cover;

  .image {
    display: none;
  }

  @include susy-breakpoint(min-width 570px, $susy) {
    height: auto;
    background-image: none;

    .image {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}
