.job-item {
  margin-top: 5px;
  background: #fff;
  height: 50px;
  overflow: hidden;
  transition: height .6s ease-in-out;

  .title {
    position: relative;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;

    .icon {
      &:before,
      &:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 15px;
        right: 15px;
        top: 50%;
        margin-top: -1px;
        transform-origin: 50% 50%;
        background: #ccc;
      }
      &:after {
        transform: rotate(-90deg);
      }
    }
  }

  .job-description {
    padding: 0 15px 15px;
  }

  &.open {

  }
}
