.screen-block {

  width: 100%;
  padding: 5vh 0;
  max-width: 1800px; // this relates to the breakpoint below
  position: relative;
  margin: auto;
  overflow: hidden;

  &:after {
    content: " ";
    clear: both;
    display: block;
  }

  @include susy-breakpoint($bp-large, $susy) {
    min-height: 100vh;
  }

  @include susy-breakpoint($bp-gargantuan, $susy) {
    overflow: visible;
  }
}
