.screen-block {
  min-height: 100vh;
  width: 100%;
  padding: 5vh 0;
  max-width: 1800px;
  position: relative;
  margin: auto;
  &:after {
    content: " ";
    clear: both;
    display: block;
  }
}

.iPhone .screen-block {
  min-height: calc(90vh - 69px);
}
