.search-result-list-item {
  position: relative;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .image {
    display: none;
  }

  .content {
    padding: 20px;
    background: #fff;
  }

  .blog-category {
    transform: none;
  }

  .title {
    font-size: 24px;
    margin: 10px 0;
  }
  .tail {
    margin-top: 10px;
    text-align: right;

    a {
      font-family: $PxGroteskBold;
      border-bottom: 2px solid $pot;
    }
  }

  @include susy-breakpoint($bp-medium, $susy) {

    .image {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      height: $search-result-height-desktop;
      width: $search-result-height-desktop;
      background-size: cover;

      img {
        display: none;
      }
    }
    .content {
      padding-left: $search-result-height-desktop + 20px;
      padding-bottom: 0;
      height: $search-result-height-desktop;


      p {
        margin: 0;
      }
    }

    .tail {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
}
