.search-modal {

  $height: 30px;
  $font-size: 36px;
  $icon-size: 28px;

  $height-tablet: 50px;
  $font-size-tablet: 60px;
  $icon-size-tablet: 44px;

  $height-desktop: 75px;
  $font-size-desktop: 90px;
  $icon-size-desktop: 61px;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: $offWhite;
  transition: transform 0.5s ease-out;

  .close-button {
    height: 100%;
    position: absolute;
    top: 0;
    right: 9px;
    display: block;
    border: 0;
    padding: 0;
    background: transparent;    

    svg {
      width: 50px;
      height: 50px;
      fill: $nonBlack;
    }

    &:focus {
      -webkit-focus-ring-color: rgba(0,0,0,0);
      outline: none;
    }
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 90%;
    margin-bottom: 140px;

    .input {
      display: none;
    }

    .editable-div {
      text-align: right;
      border: none;
      font-size: $font-size;
      text-transform: uppercase;
      font-family: $Futura;
      display: inline-block;
      line-height: 1.1;
      white-space: nowrap;
      overflow: hidden;
      outline: 0;

      &:before {
        content: "SEARCH";
        color: $blu;
        cursor: text;
      }
    }

    .editable-div:not(:empty):before {
      display: none;
    }

    .submit {
      border: none;
      background: transparent;
      width: auto;
      margin-left: 10px;
      outline: 0;
      height: $icon-size;
      width: $icon-size + 1px;
      padding: 0;

      svg {
        width: $icon-size;
        height: $icon-size;
        fill: $blu;
      }
    }

    @include susy-breakpoint($bp-medium, $susy) {
      .editable-div {
        font-size: $font-size-tablet;
      }
      .submit {
        height: $icon-size-tablet;
        width: $icon-size-tablet + 1px;
        svg {
          height: $icon-size-tablet;
          width: $icon-size-tablet;
        }
      }
    }
    @include susy-breakpoint($bp-large, $susy) {
      .editable-div {
        font-size: $font-size-desktop;
      }
      .submit {
        height: $icon-size-desktop;
        width: $icon-size-desktop + 1px;
        svg {
          height: $icon-size-desktop;
          width: $icon-size-desktop;
        }
      }
    }
  }
}
