.search-result-list-item {
  position: relative;
  max-width: 1380px;
  margin: 0 auto;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .image {
    display: none;
  }

  .content {
    padding: 20px;
    background: #fff;
  }

  .blog-category {
    transform: none;
  }

  .title {
    font-size: 28px;
    margin: 12px 0 5px;
    overflow: hidden;
    height: 60px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .meta,
  .social-media-statistics,
  .tail {
    display: inline-block;
    font-family: $PxGroteskBold;
    font-size: 16px;
  }

  .meta {
    color: #646464;

    .date {
      font-family: $PxGroteskRegular;
      color: #969696;
    }
  }

  .social-media-statistics {
    .channel {
      $height: 20px;

      padding-left: 15px;
      height: $height;

      .logo {
        height: $height;
        width: $height;
        position: relative;
        top: 3px;

        svg {
          width: $height;
          height: $height;
        }
      }

      span {
        font-family: $PxGroteskBold;
      }
    }
  }

  .tail {
    margin-top: 10px;
    text-align: right;

    a {
      font-family: $PxGroteskBold;
      border-bottom: 2px solid $pot;
    }
  }

  @include susy-breakpoint($bp-small, $susy) {
    .title {
      -webkit-line-clamp: none;
      display: block;
      -webkit-box-orient: vertical;
      height: auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: 20%;
    }
  }

  @include susy-breakpoint($bp-medium, $susy) {

    .image {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      height: $blog-search-item-height-desktop;
      width: $blog-search-item-height-desktop;
      background-size: cover;

      img {
        display: none;
      }

      a {
        display: block;
        height: 245px;
      }
    }
    .content {
      padding-left: $blog-search-item-height-desktop + 20px;
      padding-bottom: 0;
      height: $blog-search-item-height-desktop;


      p {
        margin: 0;
      }
    }

    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: 20%;
    }

    .tail {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
}
