.studio-jobs {

  h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 26px;
  }

  .studio-info {
    p {
      margin: 0;
    }
    .excerpt {
      padding: 10px 15px;
      color: #fff;
      font-size: 22px;
      line-height: 1.2;
      background: #777;
    }
    .content {
      display: none;
    }
    .photo {
      height: 200px;
      background-position: center;
      background-size: cover;

      img {
        display: none;
      }
    }
  }


  .jobs-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  .jobs-none {
    position: relative;
    padding: 20px;
    margin-top: 5px;
    background: #fff;

    p {
      width: 65%;
      margin: 0;
    }

    a {
      position: absolute;
      right: 30px;
      top: 50%;
      margin-top: -20px;
      display: inline-block;
      color: #fff;
      font-size: 18px;
      padding: 0 30px 0 15px;
      height: 40px;
      line-height: 40px;

      &:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -5px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10"><path d="M 0 0 L 7 10 L 13 0 Z" fill="#ffffff" /></svg>');
        background-position: 0 0;
        transform: rotate(-90deg);
        width: 13px;
        height: 10px;
      }
    }
  }

  &.all-studios-jobs {
    display: none;
  }

  @each $studio, $colour in $studio-colours {
    &.#{$studio}-jobs {
      .excerpt,
      .jobs-none a {
        background: $colour;
      }
      .job-item h4 {
        &:before,
        &:after {
          background: $colour;
        }
      }
    }
  }

  @include susy-breakpoint($bp-medium, $susy) {
    display: none;

    &.selected {
      display: block;
    }

    &.all-studios-jobs {
      .studio-info {
        display: none;
      }
    }

    h3 {
      display: none;
    }

    .studio-info {
      display: flex;

      > div {
        width: 50%;
      }

      .info {
        padding: 40px;
      }

      .excerpt {
        padding: 0;
        font-size: 26px;
        background: transparent;
      }

      .content {
        position: relative;
        display: block;
        color: #fff;
        margin-top: 40px;
        font-size: 16px;

        &:before {
          content: "";
          position: absolute;
          width: 22px;
          height: 2px;
          background: #fff;
          top: -20px;
          left: 0;
        }
      }

      .photo {
        height: auto;
      }
    }
  }
}
