/*
 *  NAVIGATION OPEN OVERLAY BUTTON
 *  Mobile nav burger icon
 *
 *  Notes:
 *  TODO: Remove BEM
 */

.nav__open-overlay-button {
  display: block;
  width: 60px;
  height: 60px;
  fill: #fff;

  svg {
    width: 42px;
    height: 32px;
    pointer-events: none; /* Fixes intermittent issue on touch devices? */
  }
}

.transparent-white {
  .nav__open-overlay-button {
    fill: $offWhite;
  }
}
.takeover {
  .nav__open-overlay-button {
    fill: $nonBlack;
  }
}
