/*
 *  PAGE: HOME
 *  Homepage init
 *
 */

.page-home {

  h1 {
    font-size: 30px;
    line-height: 35px;
  }

  @media screen and (min-width: $bp-smaller) {
    h1 {
      font-size: 36px;
      line-height: 40px;
      width: 80%;
    }
  }

  @media screen and (min-width: $bp-medium) {
    h1 {
      font-size: 50px;
      line-height: 60px;
      width: auto;
    }
  }

  @media screen and (min-width: $bp-larger) {
    h1 {
      font-size: 60px;
      line-height: 70px;
      width: 80%;
    }
  }
}

.app-content {
  .home-intro-logo {
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  &.show {
    .home-intro-logo {
      opacity: 1;
    }
  }

}

.page-home {
  .home-loader {
    opacity: 1;
    transition: opacity .32s ease-in-out;
  }

  &.loaded {
    .home-loader {
      opacity: 0;
    }
  }
}

.home-ventures-wrapper {

  .home-ventures-wrapper-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all .2s ease-in-out;
    background: linear-gradient(-225deg, #333, #304179);
  }

  h1,
  .home-carousel-item-text h2 {
    color: white;
  }

  .home-section-title {
    color: #ccc;
  }
}

.page-home {
  &.venturesActive {
    .home-ventures-wrapper-bg {
      opacity: 1;
    }
    .scroll-wrapper-home-carousel-ventures .home-carousel-shuffle {
      opacity: 1;
    }
    .scroll-wrapper-home-carousel-products .home-carousel-shuffle {
      opacity: 0;
    }
    [class*="home-gradient-text"] {
      cursor: url('/images/icon-question-mark-light.svg'), auto;
    }
  }
  .scroll-wrapper-home-carousel-ventures .home-carousel-shuffle {
    opacity: 0;
  }
}

.home-section-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

.home-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[class*="home-gradient-text"] {
  color: transparent;
  -webkit-background-clip: text; /* Seems we can't rely on autoprefixer for this */
  background-clip: text;
  cursor: url('/images/icon-question-mark-dark.svg'), auto;
}

.home-gradient-text-cold {
  background-image: linear-gradient(to right, $blu, $mare);
}

.home-gradient-text-lukewarm {
  background-image: linear-gradient(to right, $mare, $jeezz);
}

.home-gradient-text-hot {
  background-image: linear-gradient(to right, $honey, $piglet);
}
