/*
 *  PAGE: HOME
 *  Homepage init
 *
 */

.header.home {
  display: none;
}

.page-home {

  h1, .h1 {
    font-size: 30px;
    line-height: 35px;
  }

  @media screen and (min-width: $bp-smaller) {
    h1, .h1 {
      font-size: 36px;
      line-height: 40px;
    }
  }

  @media screen and (min-width: $bp-medium) {
    h1, .h1 {
      font-size: 50px;
      line-height: 60px;
    }
  }

  @media screen and (min-width: $bp-larger) {
    h1, .h1 {
      font-size: 60px;
      line-height: 70px;
    }
  }
}

.home-ventures-wrapper {
  background: linear-gradient(-225deg, #333, #304179);

  h1,
  h2 {
    color: white
  }

  .home-section-title {
    color: #ccc;
  }
}

.home-section-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;

  @media screen and (min-width: $bp-medium) {

  }

  @media screen and (min-width: $bp-large) {

  }

  @media screen and (min-width: $bp-larger) {

  }
}

.home-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

[class*="home-gradient-text"] {
  color: transparent;
  -webkit-background-clip: text; /* Seems we can't rely on autoprefixer for this */
  background-clip: text;
}

.home-gradient-text-cold {
  background-image: linear-gradient(to right, $blu, $mare);
}

.home-gradient-text-lukewarm {
  background-image: linear-gradient(to right, $mare, $jeezz);
}

.home-gradient-text-hot {
  background-image: linear-gradient(to right, $honey, $piglet);
}
