/*
 *  PAGE: HOME
 *  Homepage init
 *
 */

.page-home {

  @media screen and (min-width: $bp-large) {
    h1 {
      width: 80%;
    }
  }

  @media screen and (min-width: $bp-larger) {
    h1 {
      width: 94%;
    }
  }
}

/* Inverted styles on ventures background */
.home-ventures-wrapper {

  h1,
  .home-carousel-item-text h2,
  .home-carousel-item-description {
    color: $offWhite;
  }

  .section-title {
    color: $offWhite;
  }

  .view-carousel-related-page button {
    @include buttonStyle(true);
    @include buttonColor('invert');
    background-image: url('/images/icon-right-light.svg');
  }

  @media screen and (min-width: $bp-tablet) {
    .home-carousel-item {
      .home-carousel-item-image:after {
        background: linear-gradient(-90deg, $v-solid, transparent);
      }

      &.even .home-carousel-item-image:after {
        background: linear-gradient(-90deg, transparent, $v-solid);
      }
    }
  }
}

.home-main-content-wrapper {
  position: relative;
  z-index: 1;
  background-color: $offWhite;
}

.home-pinned-header-wrapper {
  height: 100%;
	// width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  margin: 0px;
  display: block;
  position: relative;
  box-sizing: content-box;
  // min-height: 790px;
  // height: 790px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  z-index: 1;
}

.home-pinned-header-inner {
  position: fixed;
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* Transitions around venturesActive */
.page-home-content {
  backface-visibility: hidden;

  .scrollmagic-pin-spacer {
    &,
    > div {
      height: 100%;
    }
  }

  .scroll-wrapper-home-more-message,
  .scroll-wrapper-home-smorgasbord-message {
    opacity: 0;
    transition: opacity .2s linear;
  }

  .scroll-wrapper-home-smorgasbord-message {
    opacity: 1;

    // Major hack/fix here because the word Collaboration is too long on iphone 6 widths
    // h1 {
    //   @media screen and (min-width: $bp-smaller) {
    //     font-size: 34px; // this has been reduced
    //   }
    //   @media screen and (min-width: $bp-medium) {
    //     font-size: 60px; // this is here because CSS
    //   }
    //   @media screen and (min-width: $bp-larger) {
    //     font-size: 70px; // this is here because CSS
    //   }
    // }
  }

  .scroll-wrapper-home-carousel-products,
  .scroll-wrapper-home-carousel-ventures {
    transform: translate3d(0,0,0);
    transition: opacity .2s linear;
  }
  .home-ventures-wrapper-bg {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s linear 0s, visibility 0s linear .2s;
    transform: translateZ(0);
    background: linear-gradient(135deg, $v-gradient1, $v-gradient2);
  }
  .scroll-wrapper-home-carousel-products {
    opacity: 1;
  }
  .scroll-wrapper-home-carousel-ventures {
    opacity: 0;
  }

  &.venturesActive {
    .home-ventures-wrapper-bg {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s, 0s;
    }
    .scroll-wrapper-home-smorgasbord-message,
    .scroll-wrapper-home-carousel-products {
      opacity: 0;
    }
    .scroll-wrapper-home-more-message,
    .scroll-wrapper-home-carousel-ventures {
      opacity: 1;
    }
  }
}

// .page-home {
//   .app-content {
//     .home-loader {
//       > * {
//         opacity: 0;
//         transition: opacity .2s linear;
//       }
//     }
//
//     &.show {
//       .home-loader {
//         transition: opacity .5s linear;
//
//         > * {
//           opacity: 1;
//         }
//         h1 {
//           transition-delay: .75s;
//         }
//       }
//     }
//   }
//
// }
.page-home-content {
  .home-loader {
    opacity: 1;
    transition: opacity .2s linear;
  }

  &.loaded {
    .home-loader {
      opacity: 0;
    }
  }
}
