// NOTE:
// The homepage is in need of a big refactor due to things getting chopped and changed as
// well as the lack of integration with the CMS. We can't make use of optmised images so a
// temporary solution has been implemented where jpgs or pngs are served up according to
// screen width in this css rather than having inline <img>
// Jpgs for smaller screns to save on download cost. But they need flat backgrounds (or
// hide the scrollmagic). See near the bottom where each block now has background-color !important
// to override scrollmagic on screens that use the jpg instead of png.



%svg-shape {
  fill: $white;
  position: absolute;
}

.page-home {
  transform: translateZ(0); // hardware accelerate background-color change on scroll

  .screen-block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include susy-breakpoint($bp-large, $susy) {
      display: block;
    }

    h2 {
      margin-bottom: 10px;

      @include susy-breakpoint($bp-large, $susy) {
        margin-bottom: 20px;
      }
    }
  }

  .welcome {
    .headline-image {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      transition: opacity 0.8s ease-in-out;
      backface-visibility: hidden;
      opacity: 1;
      display: block;
      max-width: 520px;
      background-image: url("/images/home/homepage_hero_00_singleimage.jpg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 460px auto;

      @include susy-breakpoint($bp-medium, $susy) {
        max-width: 660px;
        background-size: 580px auto;
      }

      @include susy-breakpoint($bp-large, $susy) {
        background-image: url("/images/home/homepage_hero_00_singleimage.png");
        background-size: 770px auto;
      }

      &.add {
        opacity: 0;
      }
      &.show {
        opacity: 1;
      }
      &.hide {
        opacity: 0;
      }
    }


    .headline-text {
      @include vertically-centering-parent(80vh);
      width: 100%;
      margin-top: 5vh;

      .bold-header {
        @include vertically-centred-element;
        position: relative;

        h1 {
          max-width: 15em;
          margin: auto;
          padding: 0 20px;
        }
      }
    }

    .down-chevron {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      margin: 0 auto;
    }

    @include susy-breakpoint($bp-medium, $susy) {
      .headline-text {
        .bold-header {
          h1 {
            padding: 0 40px;
          }
        }
      }
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include container(16);
      @include nested(16) {
        background: none;
      }
      .headline-text {
        .bold-header {
          h1 {
            padding: 0 80px;
          }
        }
      }
    }
  }

  .client {
    .block-parent {
      .block-child {
        .image-container {
          position: relative;

          .harvey-nicks-device {
            width: 100%;
            position: relative;
            background-image: url("/images/home/Homepage_Harvey_Phone_Mobile.jpg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: auto 280px;
            height: 290px;

            @include susy-breakpoint($bp-small, $susy) {
              height: 400px;
              background-size: auto 400px;
            }

            @include susy-breakpoint($bp-medium, $susy) {
              height: 500px;
              background-size: auto 500px;
            }

            @include susy-breakpoint($bp-large, $susy) {
              background-image: url("/images/home/Homepage_Harvey_Phone.png");
            }

          }

          .harvey-nicks-shape-3 {
            @extend %svg-shape;
            top: 58%;
            left: 10%;
            width: 15%;
            height: 18%;
          }

          .harvey-nicks-shape-4 {
            @extend %svg-shape;
            top: 20%;
            right: 23%;
            width: 15%;
            height: 18%;
          }

          .harvey-nicks-shape-1 {
            @extend %svg-shape;
            top: 0;
            left: 10%;
            width: 15%;
            height: 18%;
          }

          .harvey-nicks-shape-2 {
            @extend %svg-shape;
            top: 63%;
            right: 6%;
            width: 15%;
            height: 15%;
          }
        }
      }
    }


    .text-block {
      @include span(87.5%);
      @include squish(6.25%);
    }

    @include susy-breakpoint($bp-medium, $susy) {
      .text-block {
        @include span(75%);
        @include squish(12.5%);
      }

      @include nested(8) {

        .block-parent {
          @include span(6 first);
          @include squish(1);
        }
        // .text-block {
        //   @include span(8 nest last) {
        //
        //     .home-text-block {
        //       > * {
        //         @include squish(1);
        //         width: span(6);
        //       }
        //     }
        //   }
        // }
      }
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include nested(16) {
        .block-parent {
          @include span(9 first);
          margin-left: 0;
          @include vertically-centering-parent(90vh);

          .block-child {
            @include vertically-centred-element;
          }
        }
        .text-block {
          margin-left: 0;
          @include vertically-centering-parent(90vh);

          @include span(7 nest last) {
            .home-text-block {
              @include vertically-centred-element;

              > * {
                @include squish(1);
                width: span(5);
              }
            }
          }
        }
      }
    }
  }

  .own-stuff {
    .block-parent {
      .block-child {
        padding: 0 15px;

        @include susy-breakpoint($bp-small, $susy) {
          padding: 0;
        }

        .image-container {
          position: relative;
          text-align: center;

          .monument-device {
            width: 100%;
            position: relative;
            background-image: url("/images/home/Homepage_Games_Ipad_Mobile.jpg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: auto 265px;
            height: 300px;

            @include susy-breakpoint($bp-small, $susy) {
              height: 400px;
              background-size: auto 400px;
            }

            @include susy-breakpoint($bp-medium, $susy) {
              height: 500px;
              background-size: auto 500px;
            }

            @include susy-breakpoint($bp-large, $susy) {
              background-image: url("/images/home/Homepage_Games_Ipad.png");
            }

          }

          .monument-award-1 {
            @extend %svg-shape;
            top: 0%;
            left: 18%;
            width: 27%;
            height: 16%;
          }
          .monument-award-2 {
            @extend %svg-shape;
            top: 14%;
            left: 7%;
            width: 27%;
            height: 16%;
          }
          .monument-award-3 {
            @extend %svg-shape;
            top: 28%;
            left: -4%;
            width: 27%;
            height: 16%;
          }

        }
      }
    }

    .text-block {
      @include span(87.5%);
      @include squish(6.25%);
    }

    @include susy-breakpoint($bp-medium, $susy) {
      .text-block {
        @include span(75%);
        @include squish(12.5%);
      }

      @include nested(8) {

        // .text-block {
        //   @include span(8 nest last) {
        //
        //     .home-text-block {
        //       > * {
        //         @include squish(1);
        //         width: span(6);
        //       }
        //     }
        //   }
        // }
        .block-parent {
          @include span(6 first);
          @include squish(1);
        }
      }
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include nested(16) {

        .text-block {
          margin-left: 0;
          @include vertically-centering-parent(90vh);

          @include span(6 nest first) {
            .home-text-block {
              @include vertically-centred-element;

              > * {
                @include pre(1);
                width: span(5);
              }
            }
          }
        }

        .block-parent {
          @include span(10 last);
          @include vertically-centering-parent(90vh);
          margin: 0 -7% 0 0;

          .block-child {
            @include vertically-centred-element;
          }
        }
      }
    }
  }

  .ventures {
    .block-parent {
      .block-child {
        .image-container {
          position: relative;

          .dice-device {
            width: 100%;
            position: relative;
            background-image: url("/images/home/Homepage_Dice_Mobile.jpg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: auto 380px;
            height: 380px;

            @include susy-breakpoint($bp-small, $susy) {
              height: 500px;
              background-size: auto 500px;
            }

            @include susy-breakpoint($bp-medium, $susy) {
              height: 600px;
              background-size: auto 600px;
            }

            @include susy-breakpoint($bp-large, $susy) {
              position: relative;
              background-image: url("/images/home/Homepage_Dice_Mask.png");
            }

          }

          @include susy-breakpoint($bp-large, $susy) {
            .dice-screen-anim {
              position: absolute;
              width: 173px;
              height: 305px;
              left: 50%;
              margin-left: 7px;
              top: 137px;
              background-image: url("/images/home/Homepage_Dice_Motion.gif");
              background-size: 100% auto;
            }
          }


          .dice-logo {
            @extend %svg-shape;
            top: -2%;
            left: 64%;
            width: 24%;
            height: 24%;
          }
        }
      }
    }

    .text-block {
      @include span(87.5%);
      @include squish(6.25%);
    }

    @include susy-breakpoint($bp-medium, $susy) {
      .text-block {
        @include span(75%);
        @include squish(12.5%);
      }

      @include nested(8) {
        .block-parent {
          @include span(6 first);
          @include squish(1);
        }
        // .text-block {
        //   @include span(8 nest last) {
        //
        //     .home-text-block {
        //       > * {
        //         @include squish(1);
        //         width: span(6);
        //       }
        //     }
        //   }
        // }
      }
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include nested(16) {
        .block-parent {
          @include span(9 first);
          @include vertically-centering-parent(90vh);
          margin-left: 0;

          .block-child {
            @include vertically-centred-element;
          }
        }
        .text-block {
          position: relative;
          margin-left: 0;
          @include vertically-centering-parent(90vh);

          @include span(7 nest last) {
            .home-text-block {
              @include vertically-centred-element;

              > * {
                @include squish(1);
                width: span(5);
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $bp-large) {
    .welcome {
      background-color: #6114CC !important;
    }
    .client {
      background-color: #6986ec !important; // this is the wrong blue but it goes with the jpg provided
    }
    .own-stuff {
      background-color: #FFBF02 !important;
    }
    .ventures {
      background-color: #f55c57 !important; // this too is actually slightly different to the correct red
    }
  }
}


.js .page-home {
  .welcome {
    .image-entrance.show {
      transition: opacity 0.8s ease-in-out;
      transition-delay: 1.2s;
    }
  }
}
