/*
 *  PAGE: HOME
 *  Homepage init
 *
 */

.page-home {
  background-color: $offWhite;

  h1 {
    font-size: 30px;
    line-height: 1;
  }

  h2 {
    font-size: 24px;
    line-height: 1;
  }

  @media screen and (min-width: $bp-smaller) {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 26px;
      line-height: 30px;
    }
  }

  @media screen and (min-width: $bp-medium) {
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 40px;
      line-height: 45px;
    }
  }

  @media screen and (min-width: $bp-large) {
    h1 {
      width: 80%;
    }
  }

  @media screen and (min-width: $bp-larger) {
    h1 {
      font-size: 70px;
      width: 90%;
    }
    h2 {
      font-size: 50px;
      line-height: 50px;
    }
  }
}

.app-content {
  .home-intro-logo {
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  &.show {
    .home-intro-logo {
      opacity: 1;
    }
  }

}

.page-home {
  .home-loader {
    opacity: 1;
    transition: opacity .32s ease-in-out;
  }

  &.loaded {
    .home-loader {
      opacity: 0;
    }
  }
}

.home-ventures-wrapper {

  .home-ventures-wrapper-bg {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all .32s ease-in-out;
    background: linear-gradient(-225deg, #333, #304179);
    transform: translateZ(0);
  }
  .scroll-wrapper-home-more-message {
    > * {
      opacity: 0;
      transition: opacity .32s ease-in-out;
    }
  }
  .scroll-wrapper-home-smorgasbord-message {
    > * {
      opacity: 1;
      transition: opacity .32s ease-in-out;
    }
  }

  h1,
  .home-carousel-item-text h2 {
    color: white;
  }

  .home-section-title {
    color: #ccc;
  }

  .view-carousel-related-page button {
    color: white;
    border-color: white;
    background-image: url('/images/icon-right-light.svg');
  }
}

.home-section-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 1px;

  @media screen and (min-width: $bp-medium) {
    font-size: 14px;
  }
}

.home-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[class*="home-gradient-text"] {
  color: transparent;
  -webkit-background-clip: text; /* Seems we can't rely on autoprefixer for this */
  background-clip: text;
  position: relative;

  &:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10%;
  }
}

.home-gradient-text-cold {
  &,
  &:after {
    background-image: linear-gradient(to right, $blu, $mare);
  }
}

.home-gradient-text-lukewarm {
  &,
  &:after {
    background-image: linear-gradient(to right, $mare, $jeezz);
  }
}

.home-gradient-text-hot {
  &,
  &:after {
    background-image: linear-gradient(to right, $honey, $piglet);
  }
}

.home-gradient-text-hot-reverse {
  &,
  &:after {
    background-image: linear-gradient(to right, $piglet, $honey);
  }
}

.page-home {
  &.venturesActive {
    .home-ventures-wrapper-bg {
      opacity: 1;
    }
    .scroll-wrapper-home-more-message {
      > * {
        opacity: 1;
      }
    }
    .scroll-wrapper-home-smorgasbord-message {
      > * {
        opacity: 0;
      }
    }
    .scroll-wrapper-home-carousel-ventures {
      .view-carousel-related-page,
      .home-carousel-shuffle {
        opacity: 1;
      }
    }
    .scroll-wrapper-home-carousel-products {
      .view-carousel-related-page,
      .home-carousel-shuffle {
        opacity: 0;
      }
    }
  }
  .scroll-wrapper-home-carousel-ventures {
    .view-carousel-related-page,
    .home-carousel-shuffle {
      opacity: 0;
    }
  }
}
