/* ------------------------------------------------------------ *\
|* Grid
\* ------------------------------------------------------------ */

$susy: (
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: rgba(#AAA, .25),
  //   output: background,
  // ),
);

$susy-mobile-layout: (
  columns: 4
);

$bp-small: 400px;
$bp-medium: 760px;
$bp-large: 1100px;
$bp-huge: 1500px;

/* ------------------------------------------------------------ *\
|* Misc
\* ------------------------------------------------------------ */

$nav-height: 68px;
