@charset "utf-8";

@import '../../bower_components/normalize-libsass/normalize';
@import '../../bower_components/susy/sass/susy';

@import "variables";
@import "utils";

/*
Atoms

These are the smallest elements to be used as building blocks for larger components.

Styleguide 1.0
*/
@import "atoms/colours";
@import "atoms/typography";
@import "atoms/navigation-link";
@import "atoms/navigation-overlay-link";
@import "atoms/navigation-open-overlay-button";
@import "atoms/navigation-overlay-close-button";
@import "atoms/down-chevron";

/*
Components

These are groups of atoms combined together, with their own properties.

Styleguide 2.0
*/

@import "components/bold-page-header";
@import "components/home-text-block";
@import "components/screen-block";

/*
Modules

These are the most complex components. Modules are groups of components joined together to form a relatively complex, distinct section of an interface.

Styleguide 3.0
*/

@import "modules/navigation";

/*
Templates

These show how groups of modules are laid out to create a page or larger sections.

Styleguide 4.0
*/

@import "templates/page-home";

/* ------------------------------------------------------------ *\
|* Prototype code
\* ------------------------------------------------------------ */

.home__headline {
  font-family: $PxGroteskRegular;
  text-transform: none;
  font-size: 40px;
  line-height: 1.3;
  margin: 80px 0 100px;

  span.highlight {
    color: $rain;
  }
}

#overlay {
  display: block;
  background-color: $rain;
  z-index: 100;
  position: absolute;
  top: 0;
  margin-top: $nav-height;
  left: 0;
  right: 0;
  height: 2000px;
  opacity: 0.5;
  visibility: hidden;

  img {
    width: 100%
  }
}
