/*
 *  BOLD HEADER
 *  Heading text on hero sections
 *
 *  TODO: Currently only in home? Review this and bold-header-subtitle (js only).
 */

.bold-header {
  text-align: center;

  h1 {
    line-height: 1.2;
  }

  hr {
    width: 40px;
    height: 3px;
    background-color: $mare;
    border: none;
    margin: 30px auto;
  }
}
