/*
 *  DOWN CHEVRON
 *  Directional Indicator
 *
 *  Notes: Currently used only for indicating 'down'
 *  TODO: Rename component to 'chevron' to  unattach itself to a fixed direction
 */

@keyframes bumpChevron {
  0% {
    margin-top: 0;
  }
  62.5% {
    margin-top: 0;
  }
  62.5% {
    margin-top: 0;
  }
  63.6% {
    margin-top: 1px;
  }
  65% {
    margin-top: 2px;
  }
  66.3% {
    margin-top: 4px;
  }
  67.5% {
    margin-top: 7px;
  }
  68.4% {
    margin-top: 8px;
  }
  68.8% {
    margin-top: 9px;
  }
  64.6% {
    transform: scale(1, 1);
  }
  68.8% {
    transform: scale(0.9, 1.1);
  }
  68.8% {
    transform: scale(0.9, 1.1);
  }
  72.9% {
    transform: scale(1, 1);
  }
  68.8% {
    margin-top: 9px;
  }
  69.2% {
    margin-top: 5px;
  }
  70.2% {
    margin-top: 3px;
  }
  71.5% {
    margin-top: 1px;
  }
  73% {
    margin-top: 0px;
  }
  74.2% {
    margin-top: 0px;
  }
  75% {
    margin-top: 0;
  }
  75% {
    margin-top: 0;
  }
  76.1% {
    margin-top: 1px;
  }
  77.5% {
    margin-top: 2px;
  }
  78.8% {
    margin-top: 4px;
  }
  80% {
    margin-top: 7px;
  }
  80.9% {
    margin-top: 8px;
  }
  81.3% {
    margin-top: 9px;
  }
  77.1% {
    transform: scale(1, 1);
  }
  81.3% {
    transform: scale(0.9, 1.1);
  }
  81.3% {
    transform: scale(0.9, 1.1);
  }
  85.4% {
    transform: scale(1, 1);
  }
  81.3% {
    margin-top: 9px;
  }
  81.7% {
    margin-top: 5px;
  }
  82.7% {
    margin-top: 3px;
  }
  84% {
    margin-top: 1px;
  }
  85.5% {
    margin-top: 0px;
  }
  86.7% {
    margin-top: 0px;
  }
  87.5% {
    margin-top: 0;
  }
  87.5% {
    margin-top: 0;
  }
  88.6% {
    margin-top: 1px;
  }
  90% {
    margin-top: 2px;
  }
  91.3% {
    margin-top: 4px;
  }
  92.5% {
    margin-top: 7px;
  }
  93.4% {
    margin-top: 8px;
  }
  93.8% {
    margin-top: 9px;
  }
  89.6% {
    transform: scale(1, 1);
  }
  93.8% {
    transform: scale(0.9, 1.1);
  }
  93.8% {
    transform: scale(0.9, 1.1);
  }
  97.9% {
    transform: scale(1, 1);
  }
  93.8% {
    margin-top: 9px;
  }
  94.2% {
    margin-top: 5px;
  }
  95.2% {
    margin-top: 3px;
  }
  96.5% {
    margin-top: 1px;
  }
  98% {
    margin-top: 0px;
  }
  99.2% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0;
  }
}

.down-chevron {
  display: inline-block;
  width: 100px;
  height: 50px;
  fill: $white;

  g:not(:last-child) {
    display: none;
  }

  &.loaded {
    animation: bumpChevron 4.2s infinite;
  }
}

.js .down-chevron g {
  display: inline;

  &:not(:first-child) {
    display: none;
  }
}
