/*
 *  DOWN CHEVRON
 *  Directional Indicator
 *
 *  Notes: Currently used only for indicating 'down'
 *  TODO: Rename component to 'chevron' to  unattach itself to a fixed direction
 */

@keyframes bumpChevron {
  0% {
    transform: translateY(-0);
  }
  62.5% {
    transform: translateY(-0);
  }
  62.5% {
    transform: translateY(-0);
  }
  62.9% {
    transform: translateY(-4px);
  }
  63.9% {
    transform: translateY(-6px);
  }
  65.3% {
    transform: translateY(-8px);
  }
  66.7% {
    transform: translateY(-9px);
  }
  68% {
    transform: translateY(-9px);
  }
  68.8% {
    transform: translateY(-9px);
  }
  68.8% {
    transform: translateY(-9px);
  }
  69.9% {
    transform: translateY(-8px);
  }
  71.2% {
    transform: translateY(-7px);
  }
  72.6% {
    transform: translateY(-5px);
  }
  73.8% {
    transform: translateY(-2px);
  }
  74.7% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(-0);
  }
  75% {
    transform: translateY(-0);
  }
  75.4% {
    transform: translateY(-4px);
  }
  76.4% {
    transform: translateY(-6px);
  }
  77.8% {
    transform: translateY(-8px);
  }
  79.2% {
    transform: translateY(-9px);
  }
  80.5% {
    transform: translateY(-9px);
  }
  81.3% {
    transform: translateY(-9px);
  }
  81.3% {
    transform: translateY(-9px);
  }
  82.4% {
    transform: translateY(-8px);
  }
  83.7% {
    transform: translateY(-7px);
  }
  85.1% {
    transform: translateY(-5px);
  }
  86.3% {
    transform: translateY(-2px);
  }
  87.2% {
    transform: translateY(-1px);
  }
  87.5% {
    transform: translateY(-0);
  }
  87.5% {
    transform: translateY(-0);
  }
  87.9% {
    transform: translateY(-4px);
  }
  88.9% {
    transform: translateY(-6px);
  }
  90.3% {
    transform: translateY(-8px);
  }
  91.7% {
    transform: translateY(-9px);
  }
  93% {
    transform: translateY(-9px);
  }
  93.8% {
    transform: translateY(-9px);
  }
  93.8% {
    transform: translateY(-9px);
  }
  94.9% {
    transform: translateY(-8px);
  }
  96.2% {
    transform: translateY(-7px);
  }
  97.6% {
    transform: translateY(-5px);
  }
  98.8% {
    transform: translateY(-2px);
  }
  99.7% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(-0);
  }
}

.down-chevron {
  display: inline-block;
  width: 100px;
  height: 50px;
  fill: $white;

  g:not(:last-child) {
    display: none;
  }

  &.loaded {
    animation: bumpChevron 5s infinite;
  }
}

.js .down-chevron g {
  display: inline;

  &:not(:first-child) {
    display: none;
  }
}
