.work-ustwo-auto {
  height: 100%;

  .scroll-wrapper {
    height: 100%;
    padding: 0;
    background-color: $offWhite;

    .scroll-wrapper-inner {
      height: 100%;
      max-width: none;
    }
  }

  .hero-inner-wrapper {
    height: 100%;
    padding: 0;
  }

  .hero-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-image: url('/images/auto/ustwo-auto-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: none;
  }

  .hero .subheading {
    text-align: center;
    text-transform: uppercase;
    max-width: none;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 20px;
  }

  .hero-content {
    text-align: center;

    h1 {
      max-width: none;
      line-height: 0.9;

      .word-animator {
        &:before {
          content: "auto"; // match width of the h1 auto title
          display: inline-block;
          background: url(/images/logo-light.svg) no-repeat 0 0;
          background-position: 50%;
          background-size: 113% auto;
          color: transparent;
          opacity: 0;
          transition: opacity .32s linear;
        }
      }

      .word {
        display: block;
        color: $honey;
      }
    }
  }

  .hero-down-indicator {
    left: calc(50% - 12px);
  }

  .work-process {
    background-color: white;
    margin-bottom: 0;
  }

  .testimonial-carousel:not(.twitterAuto) {
    background-image: linear-gradient(212deg, #304178, #313132);

    p {
      color: $honey;
    }
  }

  .card-list {
    @include core-vertical-padding;
  }

  .testimonial-smallprint {
    color: $offWhite;
  }

  .tesimonial-button-next svg {
    fill: white;
  }
}

.active .hero-content h1 .word-animator:before {
  opacity: 1;
}

.work-vertical-auto-hmi {
  background-image: url('/images/work/expertise-image-mobility-small.jpg');

  @media screen and (min-width: $bp-medium) {
    background-image: url('/images/work/expertise-image-mobility.jpg');
  }
}

.work-vertical-auto-mobility {
  vertical-align: top;
  background-image: url('/images/auto/ustwo-auto-mobility.png');
}

.work-vertical-auto-reimagine {
  vertical-align: top;
  background-image: url('/images/auto/ustwo-auto-reimagine.jpg');
}

.ustwo-auto-how {
  @include core-layout;
  background: white;
}

.ustwo-auto-how-inner {
  @include core-vertical-padding;
  @include thinner-content;
}

.ustwo-auto-team {
  @include core-layout;
  background-image: linear-gradient(212deg, $ustwoAuto, $honey);
  text-align: center;

  h2 {
    @extend .h3;
  }

  .ustwo-auto-team-inner > p {
    @include thinner-content;
    text-align: left;
  }

  li {
    list-style-type: none;
  }
}

.ustwo-auto-team-inner {
  @include core-vertical-padding;
}

.ustwo-auto-team-profiles {
  display: flex;
  justify-content: center;
  @include core-vertical-padding;
}

// TODO: Make this a component

.profile {
  width: 184px;
  text-align: center;
}
.profile-photo {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #ddd;
  margin: 0 auto 10px auto;

  img {
    width: 100%;
    height: auto;
  }
}
.profile-name {
  margin-bottom: 5px;
  font-family: $PxGroteskBold;
  text-transform: none;
  font-size: 18px;
}
.profile-title {
  list-style: none;
  color: $darkGrey;
}

.ustwo-auto-logos-wrapper {
  @extend .work-clients-board;
  flex-direction: column;
  background-image: linear-gradient(212deg, $ustwoAuto, $honey);

  .work-clients-board {
    padding-top: 0;
    padding-bottom: 0;

    li {
      img {

      }
    }

    &:last-child {
      padding-top: 70px;

      h5 {
        color: white;
      }
    }
  }
}
