.studio-block {
  background: #fff;
  @include box-shadow();
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  &:last-of-type {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  p {
    margin: 0;
  }
}

.studio-block-info {
  padding: 20px;
  order: 2;
}

.studio-block-blurb {
  a {
    @include underlineLink;
  }
}
.studio-block-photo {
  height: 200px;
}

@media screen and (min-width: $bp-medium) {
  .studio-block {
    margin-bottom: 40px;
    min-height: 320px;
    flex-direction: row;

    &:last-of-type {
      margin-bottom: 0;
    }

    > div {
      width: 50%;
    }
  }

  .studio-block-info {
    padding: 40px;
    order: initial;
  }

  .studio-block-blurb {
    position: relative;
    display: block;
    margin-top: 40px;
    font-size: 16px;
  }

  .studio-block-photo {
    height: auto;
  }

  &.studio-block-left {
    .studio-block-info {
      order: 2;
    }
    .studio-block-photo {
      order: 1;
    }
  }
}
