.screen-block {
  height: 100vh;
  display: table;
  width: 100%;

  .screen-block__vertical-center {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 5vh 0;
  }
}
