.twitter-block {
  @extend %u-palm-padding-tbL;
  @extend %u-tablet-padding-tbXl;
  @extend %u-lap-padding-tbXxxl;
  @extend %u-desk-padding-tbXxxl;
  @extend %u-huge-padding-tbXxxxl;
  background: #EAEAEA;
  position: relative;
}

.twitter-block__tweet {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  z-index: 10;

  @extend %u-palm-padding-lrM;
  @extend %u-tablet-padding-lrM;
  @extend %u-lap-padding-lrXxl;

  @include grid-media-query('lap') {
    max-width: 760px;
  }

  @include grid-media-query('desk') {
    max-width: 900px;
  }

  @include grid-media-query('large') {
    max-width: 1000px;
  }

  @include grid-media-query('huge') {
    max-width: 1160px;
  }

  p {
    @extend .h5;
    margin: 0 0 30px;
    font-style: italic;
    font-family: $PxGroteskLight;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '“';
      display: inline-block;
      position: relative;
      top: 2px;
      margin-left: 0;
      overflow: hidden;
      font-size: 100px;
      line-height: 58px;
      height: 19px;
      width: 28px;
      text-indent: -21px;
      margin-right: 10px;
    }
  }
}

.twitter-block__icon {
  display: block;
  margin: 0 auto 40px;
  height: 84px;
  width: 84px;
  background: url(../images/index/icn_twitter_@2x.png);
  background-size: 100%;
}
