/*
 *  HOME TEXT BLOCK
 *  Big blocks of text with a small title
 *
 */

.scroll-wrapper-home-welcome-message,
.scroll-wrapper-home-more-message {
 height: 85vh;
}

.home-text-block {
  position: relative;

  h1 span {
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }
}

.app-content {
  &[class*="rollover-"] {
    .home-text-block h1 span {
      opacity: 0.2;

      &[class*="home-gradient-text"]:hover {
        opacity: 1;
      }
    }
    .home-text-block-rollover {
      opacity: 1;
      z-index: 5;
    }
  }
}

/* Fix as we have rollover-hidden instead of absense of a class */
.app-content {
  &.rollover-hidden {
    .home-text-block h1 span {
      opacity: 1;
    }
  }
}
