/*
 *  HOME TEXT BLOCK
 *  Textual content of each feature displayed on the homepage
 *
 */

.home-text-block {
  hr {
    height: 6px;
    margin-bottom: 12px;
    border: none;
  }

  a {
    border-bottom: solid 2px;
  }
}
