/*
 *  HOME TEXT BLOCK
 *  Big blocks of text with a small title
 *
 */

.home-text-block {
  position: relative;

  h1 span {
    opacity: 1;
    transition: opacity .2s ease-in-out;

    &:not([class*="home-gradient-text"]) {
      // pointer-events: none;
    }
  }
}

.home-text-block-button {
  cursor: pointer;
  position: relative;
  display: inline-block;

  .text-underline {
    display: block;
    position: absolute;
    bottom: -3px;
  }
}
