/*
 *  PAGE: WORK
 *  Landing page to see ustwo proposition to potential clients and showcase past projects
 *  and areas of interest/verticals
 *
 */

 .scroll-wrapper-work-hero {
   padding: 0;
   background-color: $offWhite;
   height: 100%;

   .scroll-wrapper-inner {
     height: 100%;
   }
 }

.page-work {
  height: 100%;

  h2 {
    @extend .h3;
  }

  .hero {
    @include page-background-colour(work);

    .rimage {
      max-width: 600px;
      opacity: .7;
    }

    .down-indicator {
      z-index: 2;
    }
  }

  .hero + .single-column {
    background: $offWhite;
  }

  .single-column .content {
    text-align: left;
  }

  @media screen and (min-width: $bp-medium) {
    .card-list {
      margin-top: 0px;
      padding-top: 100px;
    }
  }
}

.work-video-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  margin-top: 15px;

  .section-title {
    line-height: 40px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.work-video-link-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid $offWhite;
  border-radius: 50%;

  svg {
    fill: $offWhite;
    height: 32px;
    width: 32px;
  }
}

.work-whatwedo,
.work-contact {
  @include core-layout();
  flex-direction: column;
}

.work-contact {
  margin-bottom: 60px;

  @media screen and (min-width: $bp-large) {
    margin-bottom: 100px;
  }
}

.work-contact-button {
  width: 285px;
	height: 60px;
	background-image: linear-gradient(258deg, $softPassion, $rain);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;

  svg {
    width: 40px;
    height: 50px;
    fill: #fff;
    transform: scale(0.7);
  }
}

.work-contact-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-contact-button-text {
  margin-right: 5px;
}

.work-intro {
  padding-top: 40px;
  padding-bottom: 20px;

  p {
    font-size: 18px;
    line-height: 1.4;
  }

  @media screen and (min-width: $bp-medium) {
    padding-top: 90px;
    padding-bottom: 50px;

    p {
      width: 80%;
      font-size: 22px;
    }
  }
  @media screen and (min-width: $bp-large) {
    padding-top: 90px;

    p {
      width: 70%;
    }
  }
  @media screen and (min-width: $bp-larger) {
    padding-top: 120px;

    p {
      font-size: 24px;
    }
  }
}
