/*
 *  PAGE: WORK
 *  Landing page to see ustwo proposition to potential clients and showcase past projects
 *  and areas of interest/verticals
 *
 */

 .scroll-wrapper-work-hero {
   padding: 0;
   background-color: $offWhite;
   height: 100%;

   .scroll-wrapper-inner {
     height: 100%;
   }
 }

.page-work {
  height: 100%;

  h2 {
    @extend .h3;
  }

  .hero {
    @include page-background-colour(work);

    .rimage {
      max-width: 600px;
      opacity: .7;
    }

    .down-indicator {
      z-index: 2;
    }
  }

  .hero + .single-column {
    background: $offWhite;
  }

  .single-column .content {
    text-align: left;
  }

  @media screen and (min-width: $bp-medium) {
    .card-list {
      margin-top: 0px;
      padding-top: 100px;
    }
  }
}

.work-video-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  margin-top: 15px;

  .section-title {
    line-height: 40px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.work-video-link-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid $offWhite;
  border-radius: 50%;

  svg {
    fill: $offWhite;
    height: 32px;
    width: 32px;
  }
}

.work-whatwedo-wrapper {
  @include core-layout();
  flex-direction: column;
}

.work-intro {
  padding-top: 40px;
  padding-bottom: 60px;

  @media screen and (min-width: $bp-medium) {
    padding-top: 80px;
  }
  @media screen and (min-width: $bp-large) {
    padding-top: 90px;
  }
  @media screen and (min-width: $bp-larger) {
    padding-top: 120px;
  }
}

.work-intro-extra {
  display: none;

  @media screen and (min-width: $bp-medium) {
    display: block;
  }
}

.work-contact {
  display: none;

  @media screen and (min-width: $bp-large) {
    display: block;
  }
}
