// HERE BE DRAGONS
.page-post {
  a {
    position: relative;
    display: inline-block;
    line-height: 1;

    &:after {
      content: "";
      height: 2px;
      width: 100%;
      background: white;
      position: absolute;
      bottom: -2px;
    }
  }
}

// NO MORE DRAGONS
.page-post {
  a {
    font-family: $PxGroteskBold;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }

  .hero-image {
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
    img {
      display: none;
    }
  }

  .social-media-sharing {
    &.side {
      display: none;
      position: absolute;
      right: 0;
    }

    &.bottom {
      display: inline-block;
      margin: 5px 0 35px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      .channel {
        display: inline-block;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .content-container {
    background: #fff;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;


    ul,
    ol {
      line-height: 1.5;
      li {
        margin-bottom: 10px;
      }
    }
    ul {
      list-style: square;

      &.social-media-sharing {
        list-style: none;
      }
    }
    .title,
    .excerpt,
    .meta,
    .rule,
    .content,
    .author {
      margin: 30px auto;
      max-width: 676px;
    }
    .title,
    .excerpt,
    .meta,
    .rule,
    .author {
      text-align: center;
    }

    .blog-category {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, (- $blog-category-height * .5));
    }

    .title {
      padding: 0 30px;
      margin-bottom: 0;
    }
    .excerpt {
      font-size: 30px;
      font-family: $PxGroteskBold;
      max-width: 450px;

      p {
        margin-top: 10px;
      }
    }
    .meta {
      color: #646464;
      font-size: 18px;
      margin: 10px auto 20px;

      .date {
        color: #969696;
      }
    }
    .rule {
      border: 2px solid;
      width: 184px;
    }
    .single-column__content__para {
      a {
        font-family: $PxGroteskBold;
        border-bottom-width: 2px;
        border-bottom-style: solid;
      }
      video,
      img,
      iframe {
        max-width: 100%;
      }
      video,
      img {
        height: auto;
      }
    }
    .author {
      margin: 0 auto;
      padding: 0 6.25%;

      .mugshot {
        width: 90px;
        height: 90px;
        border-radius: 45px;
      }
      .title {
        font-family: $PxGroteskBold;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .links {
        list-style: none;
        margin: 30px 0;
        padding: 0;

        .link a {
          border-bottom: 2px solid;
          font-family: $PxGroteskBold;
        }
      }
    }
  }

  iframe {
    width: 100%;
  }

  h3 {
    position: relative;
    padding: 30px 0 54px;
    text-align: center;

    &:after {
      content: "";
      position: absolute;
      bottom: 27px;
      width: 120px;
      height: 4px;
      background: $nonBlack;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  [id*="attachment_"] {
    width: 100% !important;
  }

  ol {
    li {
      padding: 8px 0;
    }
  }

  @include susy-breakpoint($bp-medium, $susy) {
    .hero-image {
      height: 450px;
    }
    .social-media-sharing {
      &.side {
        display: block;
      }
      &.bottom {
        margin: 20px 0 60px;

        .channel {
          margin-right: 17px;
        }
      }
    }
    .content-container {
      margin-top: -70px;
      margin-left: 80px;
      margin-right: 80px;
    }

    h3 {
      &:after {
        width: 184px;
      }
    }
  }
  @include susy-breakpoint($bp-huge, $susy) {
    .hero-image {
      height: 620px;
    }
    .content-container {
      max-width: 1200px;
      margin-top: -100px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
