// SHARED STYLES ACROSS ALL BLOG COMPONENTS

.blog-category {
  display: inline-block;
  height: $blog-category-height;
  padding: 0 5px;
  transform: translateY(-12px);
  color: #fff;
  font-size: 12px;
  line-height: $blog-category-height;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #aaa; // fallback
}

// Category colours
@each $category, $colour in $blog-categories {
  &.blog-label-#{$category} {

    // Shared
    .blog-category {
      background-color: #{$colour};
    }

    // Landing page
    .tail a {
      border-color: #{$colour};
    }

    // Post page
    &.page-post {
      .content-container {
        .rule,
        .content a,
        .author .link a {
          border-color: #{$colour};
        }
      }
    }

    &.search-result-list-item {
      .tail a {
        border-color: #{$colour};
      }
    }
  }
}


// Blog landing page layout
.page-blog {
  background-color: #eaeaea;

  .hero {
    background-color: $blu;

    &__title {
      margin-top: $blog-margin-offset * .5;
    }
  }

  .blog-post-list {
    max-width: 1380px;
    margin: 0 auto;
  }

  @include susy-breakpoint($bp-medium, $susy) {
    .blog-category {
      transform: translateY(-21px);
    }
    .blog-post-list {
      margin-top: $blog-margin-offset;
      padding: 0 $blog-gutter-large;


      .blog-post-list-item:not(.featured) {
        display: inline-block;
        width: calc(50% - (#{$blog-gutter-large} / 2));
        margin-right: $blog-gutter-large;

        &:nth-child(2n + 1) {
          margin-right: 0;
        }
      }
    }
  }
  @include susy-breakpoint($bp-larger, $susy) {
    .blog-post-list {
      .blog-post-list-item:not(.featured) {
        width: calc(33.333% - (#{$blog-gutter-large} * 2 / 3));

        &:nth-child(2n + 1) {
          margin-right: $blog-gutter-large;
        }
        &:nth-child(3n + 4) {
          margin-right: 0;
        }
      }
    }
  }
}
