.page-search-results {
  background-color: #eaeaea;

  .search-results-header {
    position: relative;
    background-color: $blu;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    flex-direction: column;
  }

  h1 {
    text-align: center;
    color: #fff;
    padding: 0 100px;
  }

  .clear-search {
    background: none;
    border: none;
    outline: 0;
    font-family: $PxGroteskBold;
    border-bottom: 2px solid $offWhite;
    color: $offWhite;
    padding: 0;
  }

  ul {
    padding: 0;
    padding-bottom: 45px;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: - $blog-search-result-offset;
  }

  @include susy-breakpoint($bp-medium, $susy) {

    ul {
      padding-bottom: 110px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}
