.page-case-study {

  a {
    font-family: $PxGroteskBold;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }

  .intro {
    padding: 118px 6.25% 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .single-column__content {
      margin: 0;
    }

    .single-column__content__heading {
      color: $marshPassion;
      text-align: center;
      max-width: 820px;
      margin-left: auto;
      margin-right: auto;
    }
    .single-column__content__rule {
      border: 2px solid $mare;
      width: 120px;
      margin: 30px auto;
    }
    .single-column__content__para {
      text-align: center;
      max-width: 680px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
    }
  }

  @include susy-breakpoint($bp-small, $susy) {
    &__intro {
      padding: 168px 6.25% 100px;
    }
  }
  @include susy-breakpoint($bp-large, $susy) {

  }
}
