.page-work {

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @include susy-breakpoint($bp-medium, $susy) {
    &__hero {

      &__title {
        max-width: 850px;
      }
      &__image {
      }
    }
    &__list {
    }
  }
  @include susy-breakpoint($bp-large, $susy) {

  }
}
.iPhone .page-work__hero {
  min-height: calc(100vh - 69px);
}
