// END TEMP
.page-join-us {
  .features-grid {
    .slides {
      .card {
        background: #aaa;
        &.image {
          background-position: center;
          background-size: cover;
        }
      }
    }
    .video {
      background: #ccc;
    }
  }
}
// END TEMP





.page-join-us {

  .hero {
    background-color: $honey;

    h1 {
      position: relative;
      z-index: 2;
      color: $nonBlack;
    }

    .hero__image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 92%;
      max-width: 800px;
      opacity: .6;
    }
  }
  .hero__down-chevron svg {
    fill: $nonBlack;
  }

  .intro {
    .intro__rule {
      border-color: $honey;
    }
  }


  .features-grid {
    $card-height-mobile: 270px;
    $image-height-mobile: 210px;
    $slide-height: 310px; // default on tablet+
    $video-height-mobile: 310px;
    $video-height: $slide-height * 2;
    $feature-card-padding-mobile: 25px;
    $feature-card-padding: 50px;

    position: relative;
    height: $card-height-mobile + $image-height-mobile + $video-height-mobile;
    overflow: hidden;
    padding-top: $video-height-mobile;

    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }

    .video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: $video-height-mobile;
    }

    .slides,
    .slide {
      position: relative;
    }
    .slide {
      height: $image-height-mobile + $card-height-mobile;

      $ustwo-colors-list: $piglet $softPiglet,
                          $navy $softNavy,
                          $pot $softPot,
                          $honey $softHoney,
                          $ohra $softOhra,
                          $blu $softBlu;
      @each $color in $ustwo-colors-list {
        $i: index($ustwo-colors-list, $color);
        $wow: nth($color, 1);
        $softy: nth($color, 2);
        &:nth-child(#{$i}) {
          .card.feature {
            background-color: rgba($softy, .3);
            h2 {
              color: $wow;
            }
          }
        }
      }
    }

    .card {
      width: 100%;

      // Layout
      &.feature {
        height: $card-height-mobile - $feature-card-padding-mobile;
        box-sizing: content-box;
        padding-top: $image-height-mobile + $feature-card-padding-mobile;
        padding-left: $feature-card-padding-mobile;
        padding-right: $feature-card-padding-mobile;
      }
      &.image {
        position: absolute;
        top: 0;
        height: $image-height-mobile;
      }

      // Style
      &.feature {
        h2 {
          font-size: 30px;
          margin-bottom: 30px;
        }
      }
    }

    @include susy-breakpoint($bp-medium, $susy) {
      height: auto;
      overflow: visible;
      padding-top: 0;

      .slide {
        display: inline;

        // Create gap after first line of slides to position video
        &:nth-of-type(2) {
          .card {
            margin-top: $video-height;
          }
        }
        &:nth-of-type(2n+2) {
          .card:first-child {
            float: right;
          }
        }
      }

      .card:first-child,
      .card:last-child {
        position: relative;
        top: auto;
        box-sizing: border-box;
        padding: $feature-card-padding;
        height: $slide-height;
        float: left;
        width: 50%;
      }

      // .card:first-child {
      //   position: relative;
      //   bottom: auto;
      // }

      .video {
        top: $slide-height;
        height: $video-height;
      }

    }
    @include susy-breakpoint($bp-large, $susy) {
      .slide {

        &:nth-of-type(2n+2) {
          .card:first-child {
            float: left;
          }
        }
        &:nth-of-type(2) {
          .card:first-child {
            margin-top: 0;
          }
          .card:last-child {
            margin-top: 0;
            margin-left: 66.6666%;
          }
        }
        &:nth-of-type(3) {
          .card:first-child {
            margin-left: 66.6666%;
          }
        }
        &:last-of-type {
          .card:last-child {
            display: none;
          }
        }

        .card,
        .card:last-child {
          width: 33.3333%;
        }
      }
      .video {
        width: 66.6666%;
      }
    }

  }

}
