%svg-shape {
  fill: $white;
  position: absolute;
}

.page-home {
  &__screen-block--welcome {
    background: #6114CC;

    .entrance {
      transition: opacity 1s ease-in-out;
      transition-delay: 1.2s;
      opacity: 0;
      &.show {
        opacity: 1;
      }
    }

    &__headline-background {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 45%;
      min-width: 280px;
      height: auto;
      transition: opacity 1s ease-in-out;
      backface-visibility: hidden;
      transform: translateZ(0) scale(2.0, 2.0);
      display: block;
      opacity: 1;

      &.add {
        opacity: 0;
      }
      &.show {
        opacity: 1;
      }
      &.hide {
        opacity: 0;
      }
    }

    &__header-vertical-centerer {
      @include vertically-centering-parent(90vh);
      width: 100%;
      &__bold-header {
        @include vertically-centred-element;
        position: relative;
        h1 {
          max-width: 11em;
          margin: auto;
          .word {
            display: inline-block;
            white-space: pre;
          }
        }
      }
    }

    &__down-chevron {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      margin: 0 auto;
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include container(16);
      @include nested(16) {
        background: none;
      }
    }
  }

  &__screen-block--client {
    background: #6A86EC;

    &__image-vertical-centerer {
      &__image-margin-container {
        position: relative;
        // fixing unexplained horizontal scrollbar
        max-width: 99%;
        &__harvey-nicks-shape-3 {
          @extend %svg-shape;
          top: 58%;
          left: 10%;
          width: 15%;
          height: 18%;
        }

        &__harvey-nicks-shape-4 {
          @extend %svg-shape;
          top: 20%;
          right: 22%;
          width: 15%;
          height: 18%;
        }

        &__harvey-nicks-device {
          margin: 5vh 10vw 7.5vh 6vw;
          width: span(84%);
          position: relative;
        }

        &__harvey-nicks-shape-1 {
          @extend %svg-shape;
          top: 0;
          left: 10%;
          width: 15%;
          height: 18%;
        }

        &__harvey-nicks-shape-2 {
          @extend %svg-shape;
          top: 63%;
          right: 6%;
          width: 15%;
          height: 15%;
        }
      }
    }

    &__text-block-vertical-centerer {
      @include span(87.5%);
      @include squish(6.25%);
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include nested(16) {
        background: none;

        &__image-vertical-centerer {
          @include span(9 first);
          @include vertically-centering-parent(90vh);
          &__image-margin-container {
            @include vertically-centred-element;
          }
        }
        &__text-block-vertical-centerer {
          margin-left: 0;
          @include vertically-centering-parent(90vh);
          @include span(7 nest last) {
            .home-text-block {
              @include vertically-centred-element;
              >* {
                @include squish(1);
                width: span(5);
              }
            }
          }
        }
      }
    }
  }

  &__screen-block--own-stuff {
    background: #FFBF02;

    &__image-vertical-centerer {
      margin: 0 6.25%;
      @include span(87.5%);
      &__image-layer-container {
        position: relative;
        &__monument-award-1 {
          @extend %svg-shape;
          top: 58%;
          left: 10%;
          width: 15%;
          height: 18%;
        }
        &__monument-device {
          width: 100%;
        }
      }
    }

    &__text-block-vertical-centerer {
      @include span(87.5%);
      @include squish(6.25%);
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include nested(16) {
        background: none;

        &__text-block-vertical-centerer {
          margin-left: 0;
          @include vertically-centering-parent(90vh);
          @include span(6 nest first) {
            .home-text-block {
              @include vertically-centred-element;
              >* {
                @include pre(1);
                width: span(5);
              }
            }
          }
        }

        &__image-vertical-centerer {
          @include span(10 last);
          @include vertically-centering-parent(90vh);
          margin: 0 -7% 0 0;
          &__image-layer-container {
            @include vertically-centred-element;
            padding-left: 7%;
          }
        }
      }
    }
  }

  &__screen-block--ventures {
    background: #F9615B;

    &__image-vertical-centerer {
      &__dice-background {
        display: none;
      }
      &__image-layer-container {
        position: relative;
        &__dice-screen-anim {
          position: absolute;
          width: 36.5%;
          right: 9%;
          top: 0;
          bottom: 6.85%;
          margin: auto;
        }
        &__dice-device {
          position: relative;
          width: 100%;
        }
      }
    }

    &__text-block-vertical-centerer {
      @include span(87.5%);
      @include squish(6.25%);
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include nested(16) {
        background: none;

        &__image-vertical-centerer {
          @include span(9 first);
          @include vertically-centering-parent(90vh);
          position: relative;
          padding-right: 5%;
          &__dice-background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            display: block;
          }
          &__image-layer-container {
            @include vertically-centred-element;
            width: 80%;
            &__dice-screen-anim {
              bottom: 3vw;
            }
          }
        }
        &__text-block-vertical-centerer {
          position: relative;
          margin-left: 0;
          @include vertically-centering-parent(90vh);
          @include span(7 nest last) {
            .home-text-block {
              @include vertically-centred-element;
              >* {
                @include squish(1);
                width: span(5);
              }
            }
          }
        }
      }
    }
  }

  &__screen-block--studio {
    background: #F9615B;
    position: relative;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include container(16);
      @include nested(16) {
        background: none;
      }
    }
  }
}
