%svg-shape {
  fill: $white;
  position: absolute;
}

.page-home {
  transform: translateZ(0); // hardware accelerate background-color change on scroll

  .screen-block {
    h2 {
      margin-bottom: 10px;

      @include susy-breakpoint($bp-large, $susy) {
        margin-bottom: 20px;
      }
    }
  }

  .welcome {

    .headline-image {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      transition: opacity 0.8s ease-in-out;
      backface-visibility: hidden;
      opacity: 1;
      display: block;
      max-width: 520px;
      background-image: url("/images/home/homepage_hero_00_singleimage.jpg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 460px auto;

      @include susy-breakpoint($bp-medium, $susy) {
        max-width: 660px;
        background-size: 580px auto;
      }

      @include susy-breakpoint($bp-large, $susy) {
        background-image: url("/images/home/homepage_hero_00_singleimage.png");
        background-size: 770px auto;
      }

      &.add {
        opacity: 0;
      }
      &.show {
        opacity: 1;
      }
      &.hide {
        opacity: 0;
      }
    }


    .headline-text {
      @include vertically-centering-parent(80vh);
      width: 100%;
      margin-top: 5vh;

      .bold-header {
        @include vertically-centred-element;
        position: relative;

        h1 {
          max-width: 15em;
          margin: auto;
          padding: 0 20px;
        }
      }
    }

    .down-chevron {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      margin: 0 auto;
    }

    @include susy-breakpoint($bp-medium, $susy) {
      .headline-text {
        .bold-header {
          h1 {
            padding: 0 40px;
          }
        }
      }
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include container(16);
      @include nested(16) {
        background: none;
      }
      .headline-text {
        .bold-header {
          h1 {
            padding: 0 80px;
          }
        }
      }
    }
  }

  .client {
    .block-parent {
      .block-child {
        .image-container {
          position: relative;

          .harvey-nicks-shape-3 {
            @extend %svg-shape;
            top: 58%;
            left: 10%;
            width: 15%;
            height: 18%;
          }

          .harvey-nicks-shape-4 {
            @extend %svg-shape;
            top: 20%;
            right: 23%;
            width: 15%;
            height: 18%;
          }

          .harvey-nicks-device {
            margin: 7% 10% 9% 6%;
            width: span(84%);
            position: relative;
          }

          .harvey-nicks-shape-1 {
            @extend %svg-shape;
            top: 0;
            left: 10%;
            width: 15%;
            height: 18%;
          }

          .harvey-nicks-shape-2 {
            @extend %svg-shape;
            top: 63%;
            right: 6%;
            width: 15%;
            height: 15%;
          }
        }
      }
    }

    .text-block {
      @include span(87.5%);
      @include squish(6.25%);
    }

    @include susy-breakpoint($bp-medium, $susy) {
      @include nested(8) {

        .block-parent {
          @include span(6 first);
          @include squish(1);
        }
        .text-block {
          @include span(8 nest last) {

            .home-text-block {
              > * {
                @include squish(1);
                width: span(6);
              }
            }
          }
        }
      }
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include nested(16) {
        .block-parent {
          @include span(9 first);
          margin-left: 0;
          @include vertically-centering-parent(90vh);

          .block-child {
            @include vertically-centred-element;
          }
        }
        .text-block {
          margin-left: 0;
          @include vertically-centering-parent(90vh);

          @include span(7 nest last) {
            .home-text-block {
              @include vertically-centred-element;

              > * {
                @include squish(1);
                width: span(5);
              }
            }
          }
        }
      }
    }
  }

  .own-stuff {
    .block-parent {
      margin: 0 6.25%;
      @include span(87.5%);

      .block-child {
        .image-container {
          position: relative;
          text-align: center;
          .monument-award-1 {
            @extend %svg-shape;
            top: 0%;
            left: 23%;
            width: 27%;
            height: 16%;
          }
          .monument-award-2 {
            @extend %svg-shape;
            top: 12%;
            left: 11%;
            width: 27%;
            height: 16%;
          }
          .monument-award-3 {
            @extend %svg-shape;
            top: 24%;
            left: -2%;
            width: 27%;
            height: 16%;
          }
          .monument-device {
            width: 95%;
            position: relative;
            margin: 10% 0;
          }
        }
      }
    }

    .text-block {
      @include span(87.5%);
      @include squish(6.25%);
    }

    @include susy-breakpoint($bp-medium, $susy) {
      @include nested(8) {

        .text-block {
          @include span(8 nest last) {

            .home-text-block {
              > * {
                @include squish(1);
                width: span(6);
              }
            }
          }
        }
        .block-parent {
          @include span(6 first);
          @include squish(1);
        }
      }
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include nested(16) {

        .text-block {
          margin-left: 0;
          @include vertically-centering-parent(90vh);

          @include span(6 nest first) {
            .home-text-block {
              @include vertically-centred-element;

              > * {
                @include pre(1);
                width: span(5);
              }
            }
          }
        }

        .block-parent {
          @include span(10 last);
          @include vertically-centering-parent(90vh);
          margin: 0 -7% 0 0;

          .block-child {
            @include vertically-centred-element;
          }
        }
      }
    }
  }

  .ventures {
    .block-parent {
      .block-child {
        .image-container {
          position: relative;

          .dice-screen-anim {
            position: absolute;
            width: 27.8%;
            right: 21%;
            top: 0px;
            bottom: 4.5%;
            margin: auto;

            @include susy-breakpoint($bp-large, $susy) {
              width: 34.8%;
              right: 11%;
            }
          }
          .dice-device {
            position: relative;
            width: 100%;
            margin: 0;

            @include susy-breakpoint($bp-large, $susy) {
              margin: 0 -10%;
              width: 125%;
            }
          }
          .dice-logo {
            @extend %svg-shape;
            top: -2%;
            left: 64%;
            width: 24%;
            height: 24%;
          }
        }
      }
    }

    .text-block {
      @include span(87.5%);
      @include squish(6.25%);
    }

    @include susy-breakpoint($bp-medium, $susy) {
      @include nested(8) {
        .block-parent {
          @include span(6 first);
          @include squish(1);

          .block-child {
            .image-conatiner {
              .dice-screen-anim {
                width: 27.7%;
                right: 20.9%;
              }
              .dice-device {
                width: 100%;
                margin: auto;
              }
            }
          }
        }
        .text-block {
          @include span(8 nest last) {

            .home-text-block {
              > * {
                @include squish(1);
                width: span(6);
              }
            }
          }
        }
      }
    }

    @include susy-breakpoint($bp-large, $susy) {
      @include nested(16) {
        .block-parent {
          @include span(9 first);
          @include vertically-centering-parent(90vh);
          margin-left: 0;

          .block-child {
            @include vertically-centred-element;
          }
        }
        .text-block {
          position: relative;
          margin-left: 0;
          @include vertically-centering-parent(90vh);

          @include span(7 nest last) {
            .home-text-block {
              @include vertically-centred-element;

              > * {
                @include squish(1);
                width: span(5);
              }
            }
          }
        }
      }
    }
  }
}

.js .page-home {
  .welcome {
    .image-entrance.show {
      transition: opacity 0.8s ease-in-out;
      transition-delay: 1.2s;
    }
  }
}
