// SHARED STYLES ACROSS ALL BLOG COMPONENTS

.blog-category {
  display: inline-block;
  height: $blog-category-height;
  padding: 0 5px;
  transform: translateY(-12px);
  color: #fff;
  font-size: 12px;
  line-height: $blog-category-height;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #aaa; // fallback
}

// Category colours
@each $category, $colour in $blog-categories {
  &.blog-label-#{$category} {

    // Shared
    .blog-category {
      background-color: #{$colour};
    }

    // Landing page
    .tail a {
      border-color: #{$colour};
      font-family: $PxGroteskBold;
    }

    // Post page
    &.page-post {
      .content-container {
        .rule,
        .content a,
        .author .link a {
          border-color: #{$colour};
        }
      }
    }

    &.search-result-list-item {
      .tail a {
        border-color: #{$colour};
      }
    }
  }
}


// Blog landing page layout
.page-blog {
  background-color: #eaeaea;

  .hero {
    background-color: $blu;

    &__title {
      margin-top: $blog-margin-offset * .75;
    }

    h1 {
      position: relative;
      z-index: 2;
    }

    .hero__image {
      position: absolute;
      left: 50%;
      top: 42%;
      transform: translate(-50%, -50%);
      display: block;
      width: 92%;
      max-width: 450px;
      opacity: .4;
    }
  }

  .blog-post-list {
    max-width: 1380px;
    margin: 0 auto;
  }

  .message {
    color: #fff;
    height: 50px;
    line-height: 50px;
    vertical-align: top;
    background: $blu;
    margin-top: 0;
    text-align: center;
    padding-bottom: 70px;
    height: 170px;

    > span {
      display: inline-block;
      vertical-align: top;
    }

    .spinner {
      width: 50px;
      height: 50px;
      margin-left: 20px;
      background: url("/images/loading_spinner_bg_blu.gif") no-repeat 0 0;
      display: inline-block;
      background-size: 50px 50px;
    }
  }


  @include susy-breakpoint($bp-medium, $susy) {
    .blog-category {
      transform: translateY(-21px);
    }
    .blog-post-list {
      margin-top: $blog-margin-offset;
      // min-height: $blog-margin-offset * -1;
      padding: 0 $blog-gutter-large;

      .blog-post-list-item:not(.featured) {
        display: inline-block;
        width: calc(50% - (#{$blog-gutter-large} / 2));
        margin-right: $blog-gutter-large;

        &:nth-child(2n + 1) {
          margin-right: 0;
        }
      }
    }

    &.loading,
    &.empty {
      .blog-post-list {
        padding: 0;
        max-width: none;
      }
      .load-more-button {
        display: none;
      }
    }


    &.categorised {
      .down-chevron {
        display: none;
      }
      .blog-post-list {
        .message {
          margin-top: 30px;
          padding-bottom: 0;
        }
        .message,
        .blog-post-list-item {
          position: relative;

          &:not(.featured) {
            &:nth-child(2n + 1) {
              margin-right: $blog-gutter-large;
            }
            &:nth-child(2n) {
              margin-right: 0;
            }
          }
        }
      }
    }

    .load-more {
      margin: 0;

      .load {
        padding: 0 150px;
        width: auto;
      }
    }
  }

  @include susy-breakpoint($bp-larger, $susy) {
    .blog-post-list {
      .blog-post-list-item:not(.featured) {
        width: calc(33.333% - (#{$blog-gutter-large} * 2 / 3));

        &:nth-child(2n + 1) {
          margin-right: $blog-gutter-large;
        }
        &:nth-child(3n + 4) {
          margin-right: 0;
        }
      }
    }
    &.categorised {
      .blog-post-list {
        .blog-post-list-item:not(.featured) {
          &:nth-child(2n),
          &:nth-child(3n + 4) {
            margin-right: $blog-gutter-large;
          }
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
