/*
 *  BLOG POST LIST ITEM
 *  Short excerpts and images of each blog post on the main /blog page
 *
 *  Notes:
 */

.blog-post-list-item {
  $padding: 20px;
  $padding-large: 40px;
  $gutter-large: $blog-gutter-large;

  padding: 10px 10px 0 10px;
  vertical-align: top;

  &:last-of-type {
    padding-bottom: 10px;
  }

  .image {
    height: 245px;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    .link {
      display: block;
      height: 100%;
    }
    img {
      display: none;
    }
  }

  .content {
    padding: 0 $padding $padding $padding;
    background-color: #f8f8f8;
  }

  .title {
    margin-bottom: 5px;
    font-size: 24px;
  }

  .meta {
    margin-bottom: $padding - 5px;
    margin-top: 5px;
    color: #646464;
    font-family: $PxGroteskBold;
    font-size: 16px;

    .date {
      font-family: $PxGroteskRegular;
    }
  }

  .excerpt {
    display: none;
  }

  .tail {
    text-align: right;
    overflow: auto;

    a {
      display: inline-block;
      float: left;
      text-align: left;
      border-bottom: 2px solid;
    }
  }

  .social-media-statistics {
    $height: 22px;

    .channel {
      height: $height;
      padding-left: 20px;

      span {
        position: relative;
        bottom: 3px;
      }
    }
    .logo {
      width: $height;
      height: $height;

      svg {
        width: $height;
        height: $height;
      }
    }
  }

  /* Hero/featured blog post */
  &.featured {
    padding: 0;

    .content {
      padding: 30px $padding $padding;

      .blog-category {
        transform: translateY(-12px);
      }
    }
  }


  @media screen and (min-width: $bp-medium) {
    position: relative;
    padding: 0 0 30px;

    &:last-of-type {
      padding-bottom: $gutter-large;
    }

    .excerpt {
      overflow: hidden;
      display: block;
      display: -webkit-box;
      height: 76.2px;
      margin: 0 auto 10px auto;
      font-size: 26px;
      line-height: 1.4;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      p {
        padding: 0;
        margin: 0;
      }
    }

    .content {
      position: relative;
      height: 332px;
      padding: 0 $padding-large $padding-large;

      .tail {
        position: absolute;
        bottom: $padding-large - 10px;
        width: calc(100% - (2 * #{$padding-large}));
      }
    }

    &.featured {
      position: relative;
      height: 720px;
      padding-bottom: 0;
      margin-bottom: $gutter-large;

      .image {
        height: 100%;
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 530px;
        padding: 30px $padding-large $padding-large;
      }
    }
  }

  @media screen and (min-width: $bp-large) {
    .excerpt {
      height: 84.2px;
    }
  }

}
