.page-auto-humanising-autonomy {
  .hero-image {
    background-image: url('/images/auto/humanising-autonomy-book-cover.jpg');
    background-size: cover;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #1A66FF;
      opacity: 0.8;
    }
  }

  .intro {
    .title {
      @extend .h2;

      .subtitle {
        @extend .h3;
        font-family: 'Edo-SZ';
        margin-bottom: 30px;
      }
    }
  }

  .humanising-autonomy-form {
    .wrapper {
      max-width: 580px;
    }

    h4,
    p {
      margin-bottom: 20px;
    }
  }
}

.auto-book-intro {
  @include core-layout;
  @include core-vertical-padding-large;
}

.auto-book-form {
  @include core-layout;
  @include core-vertical-padding;

  .signup {
    margin-top: 30px;
  }
}
