/*
 *  Popup
 *
 */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(255,255,255,0.9);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  opacity: 0;
  transition: opacity .2s ease-in-out;

  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0;
  }

  &.invest,
  &.ventures,
  &.difference {
    background: rgba(50,58,86,0.9);
    color: white;
  }

  img {
    width: 85%;
  }

  p {
    margin-bottom: 40px;
    width: 90%;
    text-align: center;
  }

  .close-button {
    margin-top: 40px;
  }

  &.products {

  }

  @media screen and (min-width: $bp-large) {
    img {
      width: 65%;
    }
    p {
      width: 50%;
    }
  }
}
