.video-block {
  position: relative;

  .rh5v-DefaultPlayer_component .rh5v-Overlay_component {
    background-color: rgba(0,0,0,.1);
  }

  h2,
  p {
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    text-align: center;
    color: $offWhite;
  }

  h2 {
    top: 60%;
  }

  p {
    top: 72%;
    display: none;

    @media screen and (min-width: $bp-medium) {
      display: block;
    }
  }

  > div {
    line-height: 0;
  }

  .rh5v-DefaultPlayer_component:hover .rh5v-DefaultPlayer_controls {
    opacity: 0;
  }

  &.playing {
    .rh5v-DefaultPlayer_component .rh5v-Overlay_component {
      background-color: transparent;
    }

    h2,
    p {
      opacity: 0;
    }

    .rh5v-DefaultPlayer_component:hover .rh5v-DefaultPlayer_controls {
      opacity: 1;
    }
  }
}
