/*
 *  WORK PROCESS
 *
 */


.work-process {
  justify-content: space-between;
  overflow: hidden;
  visibility: visible;
  position: relative;
  margin-bottom: 95px;

  @media screen and (min-width: $bp-large) {
    @include core-gutter();

    .work-process-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: $grid-max-width;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: $bp-larger) {
    padding: 0;
  }
}

.work-process-item {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 6vw; /* This is to replacement the core-gutter mixin (left/right percentage padding) */
  margin-right: 6vw;

  @media screen and (min-width: $bp-large) {
    width: 30%;
    margin-left: 0;
    margin-right: 0;
  }

  h2 {
    margin-bottom: 15px;
  }
}

.work-process.touchDevice {
  .work-process-item {
    @include box-shadow();
    background-color: white;
  }
}

.work-process-pagination {
  display: flex;
  justify-content: center;
  width: 100vw;

  > li {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #1a1a1a;
    opacity: .2;
    margin: 0 8px;

    &.active {
      opacity: 1;
    }
  }
}
