.content-wrapper {
  @include core-layout();
}

.content-wrapper-inner {
  @include core-vertical-padding();
}

.content-wrapper-statement {
  text-align: center;

  h2 {
    @extend .h3;
  }

  p {
    font-size: 18px;
    line-height: 1.4;
    max-width: $thin-content-width;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  @media screen and (min-width: $bp-medium) {
    p {
      font-size: 22px;
    }
  }
  @media screen and (min-width: $bp-larger) {
    p {
      font-size: 24px;
    }
  }
}

.content-wrapper-statement,
.content-wrapper-single-column {
  a {
    @include underlineLink;
  }
}

.content-wrapper-single-column {
  max-width: $thin-content-width;
  margin: 0 auto;
}

.hr {
  width: 120px;
  margin: $title-border-bottom auto;
  height: 3px;
  border: none;

  &.hr-home {
    @include page-background-colour(home);
  }
  &.hr-about {
    @include page-background-colour(about);
  }
  &.hr-work {
    @include page-background-colour(work);
  }
  &.hr-join-us {
    @include page-background-colour(join);
  }
  &.hr-contact {
    @include page-background-colour(contact);
  }
}

.content-dual-columns {
  a {
    @include underlineLink;
  }
  
  @media screen and (min-width: $bp-large) {
    display: flex;
    flex-direction: row;

    .content-dual-column {
      flex: 1;

      &:first-of-type {
        padding-right: 10%;
      }
      &:last-of-type {
        padding-left: 10%;
      }

      h5 {
        margin-top: 0;
      }
    }
  }
}
