@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
     -moz-box-sizing: $box-model;
      -ms-box-sizing: $box-model;
       -o-box-sizing: $box-model;
          box-sizing: $box-model;
}

@mixin user-select($user-select) {
	-webkit-touch-callout: $user-select;
	  -webkit-user-select: $user-select;
	   -khtml-user-select: $user-select;
		 -moz-user-select: $user-select;
		  -ms-user-select: $user-select;
			  user-select: $user-select;
}

// Returns list[key]
@function listValue($map, $key) {
  @each $pair in $map {
    @if index($pair, $key) {
        @return nth($pair, 2);
    }
  }
}