/*
Navigation

Site navigation.

markup:
{{>site-navigation}}

sg-wrapper:
<div class="sgNav">
  <style type="text/css">
    .sgNav .nav {
      position:static;
    }
    </style>
  <sg-wrapper-content/>
</div>

Styleguide 3.1
*/
.nav {
  @extend %clearfix;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $nav-height;
  background: rgba(255, 255, 255, 0.95);
  z-index: 40;
}

.nav__inner {
  position: relative;
}

.nav__logo {
  display: block;
  float: left;
  height: 68px;
  width: 84px;
  margin-left: 30px;
  overflow: hidden;
  text-indent: -1000px;
  background: url(../images/shared/logo@2x.png) center center no-repeat;
  background-size: 84px 24px;
}

.nav__menu {
  @extend %clearfix;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__menu__item {
  display: block;
  font-family: $PxGroteskRegular;
  font-size: 16px;
  line-height: 24px;
}

.nav__menu__item__link {
  &:after {
    bottom: -2.5px;
    opacity: 0;
  }

  &:hover {
    &:after {
      opacity: 0.4;
    }
  }
}

.nav__underline {
  position: absolute;
  top: 35px;
  width: 0px;
  height: 2px;
  background-color: $grey;
  border: none;
  opacity: 0;
}

.nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 20px;
}

.nav__overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($marshPassion, 0.95);
}

.nav__overlay__close {
  display: inline-block;
  margin-top: 15px;
  width: 70px;
  height: 70px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  color: $white;

}

.nav__overlay__close__bar {
  display: block;
  margin: auto;
  width: 23px;
  height: 3px;
  background-color: $white;
  &.horizontal {
    transform: rotate(-45deg);
  }
  &.vertical {
    transform: translateY(-3px) rotate(-135deg);
  }
}

.nav__overlay__menu {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.nav__overlay__menu__item {
  color: $white;
  font-size: 24px;
  line-height: 2.5em;
}

@include susy-breakpoint($bp-large, $susy) {
  .nav__toggle,
  .nav__overlay {
    display: none;
  }

  .nav__menu {
    display: block;
    position: static;
    float: right;
    margin-right: 30px;
  }

  .nav__menu__item {
    display: inline-block;
    line-height: $nav-height;
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }
}
