/*
 *  CONTACT BLOCK AUTO
 *
 */

.contact-block-auto {
  .contact-block-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #111;
    width: 160px;
    height: 160px;

    img {
      width: 65%;
      height: auto;
    }
  }
}
