/*
 *  RIMAGE
 *  Responsive alternative to <img> and background images
 *
 */

.rimage {
  &.wrap {
    background-position: center;
    background-size: cover;

    .image {
      display: none;
    }
  }
}
