/*
 *  WORK CAPABILITIES
 *
 */

$WorkCapabilitiesIconSizeSmall: 180px;
$WorkCapabilitiesIconSizeMedium: 200px;
$WorkCapabilitiesIconSizeLarge: 240px;

.work-capabilities {
  position: relative;
  height: $WorkCapabilitiesIconSizeSmall;
  margin: 30px 0;

  ul {
  }

  li {
    list-style-type: none;
    width: $WorkCapabilitiesIconSizeSmall;
    height: $WorkCapabilitiesIconSizeSmall;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #1a1b21;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: ($WorkCapabilitiesIconSizeSmall - 30px) ($WorkCapabilitiesIconSizeSmall - 30px);

    &:not(.selected) {
      display: none;
    }

    &.discovery {
      background-image: url('/images/illustration-discovery.svg');
    }
    &.design {
      background-image: url('/images/illustration-design-and-build.svg');
    }
    &.launch {
      background-image: url('/images/illustration-launch-and-scale.svg');
    }

    button {
      display: none;
    }
  }

  @media screen and (min-width: $bp-medium) {
    height: $WorkCapabilitiesIconSizeMedium;

    ul {
      display: flex;
      justify-content: space-between;
    }

    li {
      position: relative;
      width: $WorkCapabilitiesIconSizeMedium;
      height: $WorkCapabilitiesIconSizeMedium;
      margin: 0;
      background-color: #1a1b21;
      background-size: ($WorkCapabilitiesIconSizeMedium - 40px) ($WorkCapabilitiesIconSizeMedium - 40px);

      &:not(.selected) {
        display: block;
        background: none;
      }

      button {
        display: block;
        position: absolute;
        bottom: 22px;
        left: 50%;
        transform: translateX(-50%);
        line-height: 1.2;
      }
    }
  }

  @media screen and (min-width: $bp-large) {
    height: $WorkCapabilitiesIconSizeLarge;

    li {
      width: $WorkCapabilitiesIconSizeLarge;
      height: $WorkCapabilitiesIconSizeLarge;
      background-size: ($WorkCapabilitiesIconSizeLarge - 40px) ($WorkCapabilitiesIconSizeLarge - 40px);
    }
  }
}

@media screen and (min-width: $bp-medium) {
  .work-capabilities-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .capabilities-dotted {
      position: relative;
      width: 50%;
      height: 3px;
      background-image: url('/images/work/capabilities-line-bg.png');
      background-repeat: repeat-x;
      background-position: 0 50%;
      background-size: auto 3px;
      margin-left: ($WorkCapabilitiesIconSizeMedium * .5) + 18px;
      margin-right: 18px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 24px;
      	height: 24px;
      	opacity: 0.3;
      	border: solid 3px #979797;
        border-radius: 50%;
        margin-top: -10px;
      }

      &:before {
        left: -32px;
      }
      &:after {
        right: -32px;
      }

      &:last-child {
        margin-right: ($WorkCapabilitiesIconSizeMedium * .5) + 18px;
        margin-left: 18px;

        &:before {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: $bp-large) {
  .work-capabilities-bg {

    .capabilities-dotted {
      margin-left: ($WorkCapabilitiesIconSizeLarge * .5) + 18px;

      &:last-child {
        margin-right: ($WorkCapabilitiesIconSizeLarge * .5) + 18px;
      }
    }
  }
}
