.social-media-sharing {

  $width: 74px;
  $height: 34px;
  $font-size: 16px;

  list-style: none;
  padding: 0;

  .channel {
    min-width: $width;
    height: $height;

    a {
      display: block;
      height: 100%;
      width: 100%;
      border-bottom: 0;

      &:after {
        display: none;
      }
    }

    span {
      font-size: $font-size;
      padding-right: 14px;
      padding-left: 36px;
      display: block;
      font-weight: bold;
      color: #fff;
      margin: 0;
      text-align: left;
      position: relative;
      top: 52%;
      transform: translateY(-50%);
    }

    .svg-container {
      position: absolute;
      width: $height * 2;
      height: $height;
      display: flex;
      align-items: center;
      margin-left: 6px;


      .logo {
        display: block;
        height: 22px;
        width: 22px;
        fill: #fff;
      }
    }

    @each $channel, $colour in $social-media-colours {
      &.#{$channel} {
        background: $colour;
      }
    }
  }

  @media screen and (min-width: $bp-medium) {
    .channel {
      min-width: $width;
      height: $height;

      span {
        font-size: $font-size;
      }

      .svg-container {
        width: $height;
        height: $height;
        justify-content: center;
        margin-left: 0;
      }
    }
  }
}
