/*
 *  BLOG CATEGORIES
 *  Users can filter blog posts by category
 *
 *  Notes: This is not the dropdown component, but just the list itself. It opens
 *         up inside a modal (fullscreen on small screens, then a more conventional
 *         looking dropdown list on larger screens).
 *  TODO: Should this component include the filter button?
 *  TODO: Bring variables in scope of component
 */

.blog-categories {
  height: 100%;
  background: $offWhite;

  .close-button {
    width: 100%;
    height: $dropdown-close-height;
    padding: 0;
    border: 0;
    background: #fff;

    svg {
      width: 60px;
      height: 60px;
      fill: $marshPassion;
    }

    &:focus {
      -webkit-focus-ring-color: rgba(0,0,0,0);
      outline: 0;
    }
  }

  .scroll-wrapper {
    height: calc(100% - #{$dropdown-close-height});
    overflow: scroll;
  }

  .list {
    margin: 0;
    padding: 30px 50px;
    clear: both;
    list-style-type: none;

    li {
      position: relative;
      width: 200px;
      height: $blog-controls-line-height;
      background-color: $offWhite;
      line-height: $blog-controls-line-height;
      color: white;
      text-align: center;
      margin: 0 auto 15px auto;

      &:hover {
        background-color: $nonBlack;
        color: #fff;
      }

      /* This spits out the blog category class and its paired colour from the
      $blog-categories object in variables.scss */
      @each $category, $colour in $blog-categories {
        &.#{$category} {
          background-color: #{$colour};
        }
      }

      &.all {
        background-color: $nonBlack;
      }
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0 $blog-controls-horizontal-padding;
    }
  }

  @media screen and (min-width: $bp-large) {
    position: absolute;
    /* 100%: starts at bottom of screen, bring up by the first blog post offset, then up again by the gap between blog post and dropdown, then arbitrary number to position */
    /* top: calc(100% + #{$card-margin-offset} - #{$blog-controls-margin-bottom} - 160px); */
    top: calc(100% + #{$card-margin-offset} - #{$blog-controls-margin-bottom} - 160px);
    left: 50%;
    transform: translate(-50%, 0);
    height: auto;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.1);
    cursor: pointer;

    .scroll-wrapper {
      height: auto;
      overflow: auto;
    }

    .list li {
      width: $blog-controls-item-width;
    }
  }
}

/* TODO: The modal wrapper. Move out of the component and into blog? */
@media screen and (min-width: $bp-large) {
  .modal-blog-categories {
    position: absolute !important;
    background: transparent !important;
    // cursor: default !important;
  }
}
