/*
 *  FULL IMAGE
 *  Full width images within content such as on case studies
 *
 */

.full-image {
  height: 250px;

  /* !importants are used here because rimage component has styles to hide the
  <img class="image"> by default. However for this component we would like to
  switch the allow the <img> to take over from the inlined background-image and
  determine the height of the image (rather than hard-coding some value with
  unpredictable cropping results) */
  @media screen and (min-width: 570px) {
    height: auto;
    background-image: none !important;

    .image {
      display: block !important;
      height: auto;
      width: 100%;
    }
  }
}
