.full-image {
  height: 250px;
  background-position: center;
  background-size: cover;

  .image {
    display: none;
  }

  @media screen and (min-width: 570px) {
    height: auto;
    background-image: none;

    .image {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}
