/*
 *  BASE
 *  Import all helpers, core styles and components
 *
 */

@charset "utf-8/index";

/* Helpers: re-usable code (nothing here is compiled directly) */
@import "lib/variables";
@import "lib/colours";
@import "lib/mixins";
@import "lib/wordpress-styles";

/* Foundation: Normalise, resets, base styles & typography */
@import '../../node_modules/normalize-libsass/normalize';
@import "lib/environment";
@import "lib/typography";
@import "lib/react-html5video";

/* Components */
@import "components/scroll-wrapper/index";
@import "components/page-content/index";
@import "components/app/index";
@import "components/close-button/index";
@import "components/loading-icon/index";
@import "components/down-indicator/index";
@import "components/word-animation/index";
@import "components/entrance-transition/index";
@import "components/grid-cell/index";
@import "components/load-more-button/index";
@import "components/screen-block/index";
@import "components/studio-contact/index";
@import "components/studio-clock/index";
@import "components/work-item/index";
@import "components/single-column/index";
@import "components/quote-block/index";
@import "components/hero/index";
@import "components/blog-post-list-item/index";
@import "components/studio-jobs/index";
@import "components/job-item/index";
@import "components/blog-controls/index";
@import "components/blog-categories/index";
@import "components/social-media-sharing/index";
@import "components/subscription/index";
@import "components/navigation/index";
@import "components/navigation-overlay/index";
@import "components/footer/index";
@import "components/modal/index";
@import "components/work/index";
@import "components/case-study/index";
@import "components/post/index";
@import "components/blog/index";
@import "components/legal/index";
@import "components/404/index";
@import "components/join-us/index";
@import "components/rimage/index";
@import "components/related-content/index";
@import "components/category-tag/index";
@import "components/image-hover/index";
@import "components/video/index";
@import "components/card-list/index";
@import "components/testimonial-carousel/index";
@import "components/frames-ustwo-logo/index";
@import "components/carousel/index";

@import "components/events/index";
@import "components/events-controls/index";
@import "components/events-list-item/index";
@import "components/events-archived-list-item/index";
@import "components/events-subscription/index";
@import "components/event/index";
@import "components/code-highlighter/index";
@import "components/page/index";
@import "components/frames-ustwo-logo/index";
@import "components/carousel/index";

@import "components/home/index";
@import "components/home-intro/index";
@import "components/home-text-block/index";
@import "components/home-carousel/index";
@import "components/home-smorgasbord/index";
@import "components/timer-ui/index";
@import "components/popup/index";
@import "components/popup-background/index";
@import "components/gradient-words/index";
@import "components/work-process/index";
@import "components/contact-block/index";
@import "components/work-hero/index";
@import "components/work-verticals/index";
@import "components/video-overlay/index";
@import "components/join-us-hero/index";
@import "components/work-capability/index";
@import "components/work-capabilities/index";
@import "components/work-clients-board/index";
@import "components/featured-case-study/index";
@import "components/contact-button/index";
@import "components/ustwo-auto/index";
@import "components/contact-block-auto/index";
@import "components/ustwo-auto-whatwedo/index";
@import "components/work-case-studies/index";
