/*
 *  PAGE: WHAT WE DO / WORK
 *  Landing page to see examples of past projects
 *
 */

.page-work {
  background-color: $lightGrey;

  .hero {
    background-color: $pot;

    .rimage {
      max-width: 600px;
      opacity: .7;
    }
  }

  .hero + .single-column {
    background: white;
    margin: 0;
    padding-top: 100px;
    padding-bottom: calc(100px + 14vh);
    padding-left: 6.25%;
    padding-right: 6.25%;

    @media screen and (min-width: $bp-medium) {

    }

    @media screen and (min-width: $bp-large) {

    }
  }

  .single-column .content {
    text-align: center;
  }

  .work-items-list {
    transform: translateY(-14vh);
  }
}
