/*
 *  PAGE: WHAT WE DO / WORK
 *  Landing page to see examples of past projects
 *
 */

.page-work {

  .hero {
    background-color: $pot;

    .rimage {
      max-width: 600px;
      opacity: .7;
    }
  }

  .single-column .content {
    text-align: center;
  }

  @media screen and (min-width: $bp-small) {
    .work-item {
      .image .rimage {
        height: 480px;
      }
    }
  }

  @media screen and (min-width: $bp-medium) {
    .work-item {
      display: flex;
      flex-direction: row-reverse;

      &:nth-child(2n) {
        flex-direction: row;
      }

      .image {
        flex: 1.5;
      }

      .details {
        flex: 1;
        padding: 70px 6.25%;
      }
    }
  }

  @media screen and (min-width: $bp-larger) {
    .work-item {
      .image .rimage {
        height: 630px;
      }
    }
  }
}
