/*
 *  CONTACT BLOCK
 *
 */

.contact-block {
  background-color: $veryDarkGrey;
  background-image: url('/images/bg-pattern.png');
  background-repeat: repeat;
  color: white;
  @include core-layout();

  .home-text-block {
    padding: 180px 0;
  }

  h2 .plane {
    fill: $honey;
    width: 40px;
    height: 40px;
  }

  @media screen and (min-width: $bp-larger) {
    h2 {
      font-size: 60px;
      line-height: 60px;
      width: 90%;
    }
  }
}
