/*
 *  HOME CAROUSEL
 *  Showcase
 *
 */

.home-carousel {
  position: relative;
}

.home-carousel-item {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  background: rgba(0,0,0,.1);
  opacity: 0;
  transition: opacity .32s ease-in-out .32s;

  &.active {
    opacity: 1;
    transition-delay: 0s;
  }

  /* left aligned */
  &.even {
    left: 0;
    top: 10%;
  }

  /* right aligned */
  &.odd {
    right: 0;
    bottom: 10%;
  }
}

.home-carousel-item-image {
  width: 80%;
  height: 300px;
  background: rgba(0,0,0,.3);
  transform: rotateX(15deg);
  transition: transform .2s ease-in-out;

  &:hover {
    transform: rotateX(0);
  }
}
