/*
 *  HOME CAROUSEL
 *  Showcase Clients and Ventures
 *
 */

 /* Initial variables (will change inside media queries) */
$home-carousel-width: 285px;
$home-carousel-height: 200px;
$home-carousel-margin: 10px;
$home-carousel-padding: 76px;
$home-carousel-duration: .1s;
$transition-rotation: 20deg;

.home-carousel {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.home-carousel-item-text {
  position: absolute;
  top: 60px;
  z-index: 1;
  width: 45%;

  h2 {
    color: #111;
  }
}

.home-carousel-visual-content {
  width: 100%;
  height: 100%;
}

.home-carousel-item-image {
  display: flex;
  width: $home-carousel-width;
  height: $home-carousel-height;

  img,
  video {
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 40px rgba(0,0,0,.3);
  }
}

.home-carousel-items {
  position: relative;
  max-width: $grid-max-width;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  perspective: 2000px;

  @media screen and (min-width: $bp-small) {
    flex-direction: column;
  }
}

.home-carousel-item {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  perspective: 1000px;

  h2 {
    font-size: 24px;
    line-height: 24px;
  }

  .home-section-title {
    margin-bottom: 5px;
  }

  .home-carousel-item-text {
    visibility: hidden;
    transition: visibility $home-carousel-duration linear;
  }

  .home-carousel-item-image {
    visibility: hidden;
    transition: all $home-carousel-duration cubic-bezier(0,.5,.6,1);
  }

  &.even {
    transform: translate(40px, -($home-carousel-height + $home-carousel-margin));
    z-index: 2;

    .home-carousel-item-text {
      left: -40px;
    }
    .home-carousel-item-image {
      transform: rotateY(-$transition-rotation) scale(0.9) rotateX(5deg);
      align-items: flex-end;
      // transition-delay: 0s;
    }
  }

  &.odd {
    transform: translate(-40px, $home-carousel-margin);
    z-index: 1;
    left: 0;

    .home-carousel-item-text {
      right: -40px;
    }

    .home-carousel-item-image {
      transform: rotateY($transition-rotation) scale(0.9) rotateX(-5deg);
      align-items: flex-start;
      // transition-delay: $home-carousel-duration;
    }
  }


  &:not(.active) {
    z-index: 0;
  }

  &.previous {
    z-index: 5;

    &.even {
      .home-carousel-item-image {
        // transform: rotateY(-$transition-rotation);
      }
    }

    &.odd {
      .home-carousel-item-image {
        // transform: rotateY($transition-rotation);
        transition-delay: $home-carousel-duration * 0.5;
      }
    }
  }

  &.previous + &.previous {
    z-index: 4;
  }

  &.active {
    z-index: 7;

    &:hover {
      z-index: 9;
    }

    & + &.active {
      z-index: 6;

      &:hover {
        z-index: 8;
      }
    }

    .home-carousel-item-text {
      visibility: visible;
      transition-delay: $home-carousel-duration;
    }

    .home-carousel-item-image {
      visibility: visible;
      // transition-duration: .1s;
      // transition-timing-function: cubic-bezier(0,1,.5,1);
      transform: rotateY(0deg) !important;
    }

    &.even {
      // left: 0;

      .home-carousel-item-image {
        // animation: ItemIn $home-carousel-duration * 1.5 1;
        transition-delay: $home-carousel-duration;
      }
    }

    &.odd {
      // left: 0;

      .home-carousel-item-image {
        // animation: ItemOut $home-carousel-duration * 1.5 1;
        transition-delay: $home-carousel-duration * 1.5;
      }
    }
  }
}

.home-carousel-shuffle {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: 100;
  transition: opacity .2s ease-in-out;
}

.home-carousel-timer-control {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

@media screen and (min-width: $bp-smaller) {
  $home-carousel-width: 285px;
  $home-carousel-height: 200px;
  $home-carousel-margin: 10px;
  $home-carousel-padding: 69px;

  .home-carousel-item {
    h2 {
      font-size: 26px;
      line-height: 30px;
    }

    &.even {
      .home-carousel-item-text {
        left: 0;
      }

      padding-left: $home-carousel-padding;
      transform: translate(20px, -($home-carousel-height + $home-carousel-margin));
    }

    &.odd {
      .home-carousel-item-text {
        right: 0;
      }

      padding-right: $home-carousel-padding;
      transform: translate(-20px, $home-carousel-margin);
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
}

@media screen and (min-width: $bp-small) {
  $home-carousel-width: 357px;
  $home-carousel-height: 242px;
  $home-carousel-margin: 10px;
  $home-carousel-controls-size: 56px;

  .home-carousel-item {
    &.even {
      transform: translate(0, -($home-carousel-height + $home-carousel-margin));
      align-self: flex-end;
    }

    &.odd {
      transform: translate(0, $home-carousel-margin);
      align-self: flex-start;
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
}

@media screen and (min-width: $bp-medium) {
  $home-carousel-width: 485px;
  $home-carousel-height: 340px;
  $home-carousel-margin: 20px;
  $home-carousel-padding: 115px;

  .home-carousel-item {
    h2 {
      font-size: 40px;
      line-height: 45px;
    }

    &.even {
      right: 5%;
      left: auto;
      padding-left: $home-carousel-padding;
      transform: translate(0, -($home-carousel-height + $home-carousel-margin));
    }

    &.odd {
      left: 5%;
      right: auto;
      padding-right: $home-carousel-padding;
      transform: translate(0, $home-carousel-margin);
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }

  .home-carousel-shuffle {
    bottom: 30px;
  }
}

@media screen and (min-width: $bp-large) {
  $home-carousel-width: 519px;
  $home-carousel-height: 352px;
  $home-carousel-margin: -50px;
  $home-carousel-padding: 77px;
  $home-carousel-controls-padding: 30px;

  .home-carousel-item {
    &.even {
      left: 5%;
      right: auto;
      padding-left: $home-carousel-padding;
      transform: translate(0, -($home-carousel-height + $home-carousel-margin)) rotateY(10deg);

      .home-carousel-item-text {
        left: 0;
      }

      .home-carousel-item-image {
        // animation: ItemOut $home-carousel-duration * 1.5 1;
        transform: rotateY($transition-rotation) scale(0.9) rotateX(-5deg);
      }

      &:hover {
        transform: translate(0, -($home-carousel-height + $home-carousel-margin)) rotateY(0deg);
      }
    }

    &.odd {
      right: 5%;
      left: auto;
      padding-right: $home-carousel-padding;
      display: flex;
      align-items: flex-end;
      transform: translate(0, $home-carousel-margin) rotateY(-10deg);

      .home-carousel-item-text {
        right: 0;
      }

      .home-carousel-item-image {
        // animation: ItemIn $home-carousel-duration * 1.5 1;
        transform: rotateY(-$transition-rotation) scale(0.9) rotateX(5deg);
      }

      &:hover {
        transform: translate(0, $home-carousel-margin) rotateY(0deg);
      }
    }

    &.previous {
      &.even {
        .home-carousel-item-image {
          // transform: rotateY($transition-rotation) scale(0.9);
        }
      }

      &.odd {
        .home-carousel-item-image {
          // transform: rotateY(-$transition-rotation) scale(0.9);
        }
      }
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
  .home-carousel-shuffle {
    top: 50%;
    bottom: auto;
    left: auto;
    right: calc(5% + #{$home-carousel-width} + #{$home-carousel-padding} + #{$home-carousel-controls-padding});
    transform: translateY(calc(#{$home-carousel-controls-padding} - #{$home-carousel-margin}));
  }
}

@media screen and (min-width: $bp-larger) {
  $home-carousel-width: 590px;
  $home-carousel-height: 400px;
  $home-carousel-margin: -70px;
  $home-carousel-padding: 100px;
  $home-carousel-controls-padding: 50px;

  .home-carousel-item {
    h2 {
      font-size: 50px;
      line-height: 50px;
    }

    &.even {
      padding-left: $home-carousel-padding;
      transform: translate(0, -($home-carousel-height + $home-carousel-margin)) rotateY(10deg);

      &:hover {
        transform: translate(0, -($home-carousel-height + $home-carousel-margin)) rotateY(0deg);
      }
    }

    &.odd {
      padding-right: $home-carousel-padding;
      transform: translate(0, $home-carousel-margin) rotateY(-10deg);

      &:hover {
        transform: translate(0, $home-carousel-margin) rotateY(0deg);
      }
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
  .home-carousel-shuffle {
    right: calc(5% + #{$home-carousel-width} + #{$home-carousel-padding} + #{$home-carousel-controls-padding});
    transform: translateY(calc(#{$home-carousel-controls-padding} - #{$home-carousel-margin}));
  }
}

@keyframes ItemIn {
  0% {
    transform: rotateY(5deg)
  }
  50% {
    transform: rotateY(-2deg)
  }
  75% {
    transform: rotateY(2deg)
  }
  100% {
    transform: rotateY(0deg)
  }
}

@keyframes ItemOut {
  0% {
    transform: rotateY(-5deg)
  }
  50% {
    transform: rotateY(2deg)
  }
  75% {
    transform: rotateY(-2deg)
  }
  100% {
    transform: rotateY(0deg)
  }
}
