/*
 *  HOME CAROUSEL
 *  Showcase Clients and Ventures
 *
 */

 /* Initial variables (will change inside media queries) */
$home-carousel-width: 257px;
$home-carousel-height: 180px;
$home-carousel-margin: 10px;
$home-carousel-padding: 76px;
$home-carousel-duration: .12s;
$transition-rotation: 20deg;
$transition-scale: 0.87;
$transition-rotationX: 16deg;
$large-screen-right-indent: 130px;
$home-carousel-small-screen-offset: 95px;

.scroll-wrapper-home-carousel-products,
.scroll-wrapper-home-carousel-ventures {
  padding: 0;
}

.home-carousel {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-carousel-item-text {
  position: absolute;
  top: 30px;
  z-index: 1;
  width: 45%;

  h2 {
    color: #111;
  }

  @media screen and (min-width: $bp-medium) {
    top: 40px;
  }
  @media screen and (min-width: $bp-large) {
    top: 60px;
  }
}

.home-carousel-visual-content {
  width: 100%;
  height: 100%;
}

.home-carousel-visual-content-image {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.home-carousel-item-image {
  display: flex;
  width: $home-carousel-width;
  height: $home-carousel-height;
  box-shadow: 10px 10px 40px rgba(0,0,0,.3);

  img,
  video {
    width: auto;
    height: 100%;
  }
}

.view-carousel-related-page {
  display: flex;
  align-items: center;
  transition: opacity .2s ease-in-out;

  button {
    display: inline-block;
    border: 1px solid $nonBlack;
    padding: 0 37px 0 12px;
    margin: 0 auto;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background-image: url('/images/icon-right-dark.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;
    background-size: 16px auto;
  }
}

.home-carousel-items {
  position: relative;
  max-width: $grid-max-width;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  @media screen and (min-width: $bp-small) {
    flex-direction: column;
  }
}

.home-carousel-item {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: transform .15s ease-in-out;
  perspective: 2000px;

  .home-section-title {
    margin-bottom: 7px;
  }

  .home-carousel-item-text {
    visibility: hidden;
    transition: visibility $home-carousel-duration linear;
  }

  .home-carousel-item-image {
    visibility: hidden;
    transition: all $home-carousel-duration cubic-bezier(0,.5,.6,1);
  }

  &.even {
    transform: translate($home-carousel-small-screen-offset, -($home-carousel-height + $home-carousel-margin));
    z-index: 2;

    .home-carousel-item-text {
      left: -($home-carousel-small-screen-offset - 20px);
    }
    .home-carousel-item-image {
      align-items: flex-end;
      transform: rotateY(-$transition-rotation) scale($transition-scale) rotateX(-$transition-rotationX); /* flip back starting point */
    }
  }

  &.odd {
    transform: translate(-95px, $home-carousel-margin);
    z-index: 1;
    right: 0;

    .home-carousel-item-text {
      left: 100%;
      margin-left: -55px;
    }

    .home-carousel-item-image {
      align-items: flex-start;
      align-self: flex-end;
      transform: rotateY($transition-rotation) scale($transition-scale) rotateX($transition-rotationX); /* flip back starting point */
    }
  }


  &:not(.active) {
    z-index: 0;
  }

  &.previous {
    z-index: 5;
  }

  &.previous + &.previous {
    z-index: 4;
  }

  &.active {
    z-index: 7;

    &:hover {
      z-index: 9;
    }

    & + &.active {
      z-index: 6;

      &:hover {
        z-index: 8;
      }
    }

    .home-carousel-item-text {
      visibility: visible;
    }

    .home-carousel-item-image {
      visibility: visible;
      transform: rotateY(0deg) !important;
    }

    &.even {
      .home-carousel-item-text,
      .home-carousel-item-image {
        transition-delay: $home-carousel-duration;
      }
    }

    &.odd {
      .home-carousel-item-text,
      .home-carousel-item-image {
        transition-delay: $home-carousel-duration;
      }
    }
  }
}

.home-carousel-shuffle {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 100;
  transition: opacity .2s ease-in-out;
}

.home-carousel-timer-control {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

@media screen and (min-width: $bp-smaller) {
  $home-carousel-width: 285px;
  $home-carousel-height: 200px;
  $home-carousel-margin: 15px;
  $home-carousel-padding: 69px;

  .home-carousel-item {

    &.even {
      transform: translate(-($home-carousel-width * .5) + 50px, -($home-carousel-height + $home-carousel-margin));
      left: 50%;

      .home-carousel-item-text {
        left: 0;
        margin-left: -70px;
      }
    }

    &.odd {
      transform: translate(($home-carousel-width * .5) - 50px, $home-carousel-margin);
      right: 50%;

      .home-carousel-item-text {
        right: 0;
        margin-left: -95px;
      }
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
}

@media screen and (min-width: $bp-medium) {
  $home-carousel-width: 485px;
  $home-carousel-height: 340px;
  $home-carousel-margin: 20px;
  $home-carousel-padding: 115px;

  .home-carousel-item {
    &.even {
      right: 5%;
      left: auto;
      transform: translate(0, -($home-carousel-height + $home-carousel-margin));

      .home-carousel-item-text {
        margin-left: -$home-carousel-padding;
      }
    }

    &.odd {
      left: 5%;
      right: auto;
      transform: translate(0, $home-carousel-margin);
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
  .home-carousel-shuffle {
    bottom: 30px;
  }
}

@media screen and (min-width: $bp-large) {
  $home-carousel-width: 519px;
  $home-carousel-height: 292px;
  $home-carousel-margin: -50px;
  $home-carousel-controls-padding: 30px;
  $home-carousel-grid: 57px;
  $home-carousel-gutter: 20px;
  $home-carousel-padding: $home-carousel-grid + $home-carousel-gutter;

  .home-carousel-items {
    overflow: visible;
  }

  .home-carousel-item {
    img,
    video {
      width: 100%;
      height: auto;
    }

    &.even {
      left: 60px;
      right: auto;
      padding-left: $home-carousel-padding;
      transform: translate(0, -($home-carousel-height + $home-carousel-margin));

      .home-carousel-item-text {
        left: 0;
        margin: 0;
      }

      .home-carousel-item-image {
        transform: rotateY($transition-rotation) scale($transition-scale) rotateX(-$transition-rotationX);
      }

      &:hover {
        transform: translate(0, -($home-carousel-height + $home-carousel-margin)) rotateY(0deg);
      }

      &.otherIsHovered {
        transform: translate(0, -($home-carousel-height + $home-carousel-margin)) rotateY(15deg);
      }
    }

    &.odd {
      right: $large-screen-right-indent;
      left: auto;
      padding-right: $home-carousel-padding;
      display: flex;
      align-items: flex-end;
      transform: translate(0, $home-carousel-margin) rotateY(-15deg);

      .home-carousel-item-image {
        transform: rotateY(-$transition-rotation) scale($transition-scale) rotateX($transition-rotationX);
      }

      .home-carousel-item-text {
        left: $home-carousel-width - $home-carousel-grid;
        margin-left: -10px;
      }

      &:hover {
        transform: translate(0, $home-carousel-margin) rotateY(0deg);
      }
    }

    &.previous {
      &.even {
        .home-carousel-item-image {
          transform: rotateY($transition-rotation) scale($transition-scale);
        }
      }

      &.odd {
        .home-carousel-item-image {
          transform: rotateY(-$transition-rotation) scale($transition-scale);
        }
        .home-carousel-item-text,
        .home-carousel-item-image {
          transition-delay: $home-carousel-duration;
        }
      }
    }

    &.active.odd {
      .home-carousel-item-text,
      .home-carousel-item-image {
        transition-delay: $home-carousel-duration * 2;
      }
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
  .home-carousel-shuffle {
    top: 50%;
    bottom: auto;
    left: auto;
    right: calc(#{$large-screen-right-indent} + #{$home-carousel-width} + #{$home-carousel-padding} + #{$home-carousel-controls-padding});
    transform: translateY(calc(#{$home-carousel-controls-padding} - #{$home-carousel-margin}));
  }
}

@media screen and (min-width: $bp-larger) {
  $home-carousel-width: 590px;
  $home-carousel-height: 400px;
  $home-carousel-margin: -70px;
  $home-carousel-controls-padding: 50px;
  $home-carousel-grid: 80px;
  $home-carousel-gutter: 20px;
  $home-carousel-padding: $home-carousel-grid + $home-carousel-gutter;

  .home-carousel-item {
    img,
    video {
      width: auto;
      height: 100%;
    }

    &.even {
      left: 0;
      padding-left: $home-carousel-padding;
      transform: translate(0, -($home-carousel-height + $home-carousel-margin)) rotateY(0deg);

      &:hover {
        transform: translate(0, -($home-carousel-height + $home-carousel-margin)) rotateY(0deg);
      }

      &.otherIsHovered {
        transform: translate(0, -($home-carousel-height + $home-carousel-margin)) rotateY(15deg);
      }
    }

    &.odd {
      padding-right: $home-carousel-padding;
      transform: translate(0, $home-carousel-margin) rotateY(-15deg);

      .home-carousel-item-text {
        left: $home-carousel-width - $home-carousel-grid;
      }

      &:hover {
        transform: translate(0, $home-carousel-margin) rotateY(0deg);
      }
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
  .home-carousel-shuffle {
    right: calc(#{$large-screen-right-indent} + #{$home-carousel-width} + #{$home-carousel-padding} + #{$home-carousel-controls-padding});
    transform: translateY(calc(#{$home-carousel-controls-padding} - #{$home-carousel-margin}));
  }
}
