/*
 *  HOME CAROUSEL
 *  Showcase Clients and Ventures
 *
 */

 /* Initial variables (will change inside media queries) */
$home-carousel-width: 285px;
$home-carousel-height: 200px;
$home-carousel-margin: 10px;
$home-carousel-padding: 76px;
$home-carousel-controls-button-size: 48px;

.home-carousel {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.home-carousel-items {
  position: relative;
  max-width: $grid-max-width;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $bp-small) {
    flex-direction: column;
  }
}

.home-carousel-item {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;

  h2 {
    font-size: 24px;
    line-height: 24px;
  }

  .home-section-title {
    margin-bottom: 5px;
  }

  &.even {
    transform: translate(40px, -($home-carousel-height + $home-carousel-margin));
    padding-left: $home-carousel-padding;
    z-index: 2;

    .home-carousel-item-text {
      left: 0;
    }
    .home-carousel-item-image {
      align-items: flex-end;
    }
  }

  &.odd {
    transform: translate(-40px, $home-carousel-margin);
    padding-right: $home-carousel-padding;
    z-index: 1;

    .home-carousel-item-text {
      left: 70%;
      transition-delay: .2s;
    }

    .home-carousel-item-image {
      align-items: flex-start;
      transition-delay: .2s;
    }
  }

  &:not(.active) {
    z-index: 0;
  }

  &.active {

    .home-carousel-item-text {
      opacity: 1;
    }

    .home-carousel-item-image {
      opacity: 1;
    }

    &:hover {
      &.odd,
      &.even {
        z-index: 3;
      }
    }
  }
}

.home-carousel-item-text {
  position: absolute;
  top: 40px;
  z-index: 1;
  width: 35%;
  opacity: 0;
  transition: opacity .32s ease-in-out;
}

.home-carousel-item-image {
  display: flex;
  width: $home-carousel-width;
  height: $home-carousel-height;
  opacity: 0;
  transition: opacity .32s ease-in-out;
  // animation: itemIn .32s 1;
  // animation-fill-mode: forwards;
  // transform: scale(1);

  img {
    width: 100%;
    height: auto;
  }
}

.home-carousel-controls-button {
  position: absolute;
  bottom: 30px;
  z-index: 100;
  width: $home-carousel-controls-button-size;
  height: $home-carousel-controls-button-size;
  background: #ddd;
  cursor: pointer;
  border-radius: 50%;
}

.home-carousel-controls-next,
.home-carousel-controls-prev {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 10vw;
  cursor: pointer;
}

.home-carousel-controls-next {
  right: 0;
  cursor: url('/images/cursor-arrow-right.png'), auto;
}

.home-carousel-controls-prev {
  left: 0;
  cursor: url('/images/cursor-arrow-left.png'), auto;
}

@media screen and (min-width: $bp-smaller) {
  $home-carousel-width: 285px;
  $home-carousel-height: 200px;
  $home-carousel-margin: 10px;
  $home-carousel-padding: 69px;
  $home-carousel-controls-button-size: 56px;

  .home-carousel-item {
    h2 {
      font-size: 26px;
      line-height: 30px;
    }

    &.even {
      padding-left: $home-carousel-padding;
      transform: translate(20px, -($home-carousel-height + $home-carousel-margin));
      // align-items: flex-end;
    }

    &.odd {
      padding-right: $home-carousel-padding;
      transform: translate(-20px, $home-carousel-margin);
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
  .home-carousel-controls-button {
    width: $home-carousel-controls-button-size;
    height: $home-carousel-controls-button-size;
  }
}

@media screen and (min-width: $bp-small) {
  $home-carousel-width: 357px;
  $home-carousel-height: 242px;
  $home-carousel-margin: 10px;
  $home-carousel-controls-size: 56px;

  .home-carousel-item {
    &.even {
      transform: translate(0, -($home-carousel-height + $home-carousel-margin));
      align-self: flex-end;
    }

    &.odd {
      transform: translate(0, $home-carousel-margin);
      align-self: flex-start;
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
}

@media screen and (min-width: $bp-medium) {
  $home-carousel-width: 485px;
  $home-carousel-height: 340px;
  $home-carousel-margin: 20px;
  $home-carousel-padding: 115px;

  .home-carousel-item {
    h2 {
      font-size: 40px;
      line-height: 45px;
    }

    &.even {
      right: 5%;
      padding-left: $home-carousel-padding;
      transform: translate(0, -($home-carousel-height + $home-carousel-margin));
    }

    &.odd {
      left: 5%;
      padding-right: $home-carousel-padding;
      transform: translate(0, $home-carousel-margin);
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
  .home-carousel-controls-next {
    right: -40px;
  }
  .home-carousel-controls-prev {
    left: -40px;
  }
}

@media screen and (min-width: $bp-large) {
  $home-carousel-width: 519px;
  $home-carousel-height: 352px;
  $home-carousel-margin: -50px;
  $home-carousel-padding: 77px;
  $home-carousel-controls-padding: 30px;
  $home-carousel-controls-button-size: 64px;

  .home-carousel-item {
    &.even {
      left: 5%;
      right: auto;
      padding-left: $home-carousel-padding;
      transform: translate(0, -($home-carousel-height + $home-carousel-margin));

      .home-carousel-item-text {
        left: 0;
      }
    }

    &.odd {
      right: 5%;
      left: auto;
      padding-right: $home-carousel-padding;
      display: flex;
      align-items: flex-end;
      transform: translate(0, $home-carousel-margin);

      .home-carousel-item-text {
        right: 0;
      }
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
  .home-carousel-controls-button {
    top: 50%;
    left: auto;
    right: calc(5% + #{$home-carousel-width} + #{$home-carousel-padding} + #{$home-carousel-controls-padding});
    transform: translateY(calc(#{$home-carousel-controls-padding} - #{$home-carousel-margin}));
    width: $home-carousel-controls-button-size;
    height: $home-carousel-controls-button-size;
  }
  .home-carousel-controls-next {
    right: -60px;
  }
  .home-carousel-controls-prev {
    left: -60px;
  }
}

@media screen and (min-width: $bp-larger) {
  $home-carousel-width: 590px;
  $home-carousel-height: 400px;
  $home-carousel-margin: -70px;
  $home-carousel-padding: 100px;
  $home-carousel-controls-padding: 50px;

  .home-carousel-item {
    h2 {
      font-size: 50px;
      line-height: 50px;
    }

    &.even {
      padding-left: $home-carousel-padding;
      transform: translate(0, -($home-carousel-height + $home-carousel-margin));
    }

    &.odd {
      padding-right: $home-carousel-padding;
      transform: translate(0, $home-carousel-margin);
    }
  }
  .home-carousel-item-image {
    width: $home-carousel-width;
    height: $home-carousel-height;
  }
  .home-carousel-controls-button {
    right: calc(5% + #{$home-carousel-width} + #{$home-carousel-padding} + #{$home-carousel-controls-padding});
    transform: translateY(calc(#{$home-carousel-controls-padding} - #{$home-carousel-margin}));
  }
}

@keyframes itemIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes itemOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.1);
    opacity: 0;
  }
}
