@mixin ratio-box (
  $ratio: 1/1,
  $inner: ".scut-inner"
) {

  overflow: hidden;
  position: relative;

  // The container's height, as a percentage of the
  // container's width, is set by assigning
  // padding-top to a pseudo-element.
  &:before {
    content: "";
    display: block;
    height: 0;
    padding-top: (1 / $ratio) * 100%;
  }

  // The inner element simply fills up the container.
  & > #{$inner} {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    // height: 100%;
  }

}

%ratio-box {
  @include ratio-box;
}