.footer {
  font-family: PxGrotesk-Regular, Arial, sans-serif;
  background: #252525;
  color: $offWhite;

  .content {
    max-width: 1800px;
    padding: 40px 0 0 0;
    overflow: auto;
    margin: auto;

    .general {
      padding: 0 6.25%;

      .contact-title {
        font-size: 24px;
        font-family: $PxGroteskRegular;
        text-transform: capitalize;
      }
      .contact-divider {
        border: 1px solid $offWhite;
        margin: 15px 0;
        width: 16px;
      }
      .email-cta {
        background: $offWhite;
        height: 40px;
        line-height: 40px;
        color: $nonBlack;
        font-size: 18px;
        padding: 0 35px 0 15px;
        margin: 0;
        display: inline-block;
        position: relative;
        margin-top: 2px;
        width: 150px;

        &:after {
          content: "";
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -5px;
          width: 13px;
          height: 10px;
          @include arrow-icon(#F9615B);
          background-position: 0 0;
          transform: rotate(180deg);
        }

        &:hover {
          border-bottom-color: $offWhite;
        }
      }

      .social {
        list-style: none;
        padding: 0;
        margin: 45px 0;

        .channel {
          display: inline-block;
          margin-right: 22px;

          &:last-child {
            margin-right: 0;
          }
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 35px;
            border: 1px solid #fff;
            background-color: transparent;
          }
          .logo {
            fill: #fff;
            width: 21px;
            height: 21px;
          }
          .name {
            display: none;
          }

          &.facebook {
            a:hover {
              background-color: #3A5998;
              border-color: #3A5998;
            }
          }
          &.twitter {
            a:hover {
              background-color: #32ABE2;
              border-color: #32ABE2;
            }
          }
          &.linkedin {
            a:hover {
              background-color: #069;
              border-color: #069;
            }
          }
        }
      }
    }

    .studios {
      list-style: none;
      padding: 0;
      margin-top: 30px;
      border-top: 1px solid #333;
    }
    .copyright {
      padding-top: 60px;
      color: #999;
      text-align: center;
      clear: both;
      font-size: 12px;

      ul {
        padding: 30px 0;
        border-top: 1px solid #333;
        font-size: 12px;

        li {
          display: block;
          list-style-type: none;

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @include susy-breakpoint(650px, $susy) {
    .content {
      padding: 100px 0 0 0;
      padding-bottom: 0;

      .general {
        @include nested(16) {
          @include pre(1 of 16);
          @include span(5);
          vertical-align: top;
          position: relative;
          height: 150px;
          padding: 0;

          .contact-title {
            margin-bottom: 15px;
          }
          .contact-divider {
            display: none;
          }
        }
      }
      .studios {
        @include nested(16) {
          @include span(10);
          @include last;
          margin-top: 0;
          display: inline-block;
          vertical-align: top;
          border-top: none;
        }
      }
      .copyright {
        ul {
          margin: 0 6%;
        }
      }
    }
  }

  @include susy-breakpoint($bp-large, $susy) {
    .content {
      padding-bottom: 0;

      .general {
        @include nested(16) {
          @include span(3);
          height: 150px;
        }
      }
      .studios {
        @include nested(16) {
          @include span(12);
          @include last;
        }
      }
    }
  }

  @include susy-breakpoint($bp-larger, $susy) {
    .content {
      .copyright {
        ul {
          li {
            width: 33%;
            display: inline-block;
          }
        }
      }
    }
  }
}
