/*
 *  NAVIGATION OVERLAY MENU ITEM
 *  A menu item
 *
 */

.navigation-overlay-link {
  position: relative;
  color: white;
  width: 100%;
  list-style: none;
  @extend .h3;
  font-size: 36px;
  line-height: 1.6em;

  @media screen and (min-width: $bp-small) {
    font-size: 50px;
  }

  @media screen and (min-width: $bp-large) {
    font-size: 60px;
  }

  &:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  @media screen and (min-width: $bp-medium) {
    &:before {
      width: 13px;
      height: 13px;
      left: -28px;
    }
  }

  @media screen and (min-width: $bp-large) {
    &:before {
      width: 15px;
      height: 15px;
      left: -30px;
    }
  }

  &:hover {
    &:before {
      border: 2px solid white;
    }
  }

  &.selected {
    &:before {
      background-color: white;
    }
  }



  /* Each menu item has a different colour as defined here */
  // $i: 1;
  // @each $colour in $rain, $pot, $blu, $softPassion, $honey {
  //   &:nth-child(#{$i}) {
  //     color: #{$colour};
  //     &.selected a {
  //       border-color: #{$colour};
  //     }
  //   }
  //   $i: $i + 1;
  // }


}
