/*
 *  NAVIGATION OVERLAY MENU ITEM
 *  A menu item
 *
 */

.navigation-overlay-link {
  color: white;
  width: 100%;
  list-style: none;
  @extend .h3;
  font-size: 36px;

  @media screen and (min-width: $bp-small) {
    font-size: 50px;
  }

  @media screen and (min-width: $bp-large) {
    font-size: 60px;
  }



  /* Each menu item has a different colour as defined here */
  // $i: 1;
  // @each $colour in $rain, $pot, $blu, $softPassion, $honey {
  //   &:nth-child(#{$i}) {
  //     color: #{$colour};
  //     &.selected a {
  //       border-color: #{$colour};
  //     }
  //   }
  //   $i: $i + 1;
  // }


}
