/*
 *  NAVIGATION OVERLAY MENU ITEM
 *  A menu item for mobile nav
 *
 */

.navigation-overlay-link {
  color: $nonBlack;
  font-size: 24px;
  line-height: 2.5em;
  width: 100%;
  list-style: none;

  a {
    @extend .h3;
  }
  &.selected a {
    border-bottom: 4px solid $nonBlack;
  }

  /* Each menu item has a different colour as defined here */
  $i: 1;
  @each $colour in $rain, $pot, $blu, $softPassion, $honey {
    &:nth-child(#{$i}) {
      color: #{$colour};
      &.selected a {
        border-color: #{$colour};
      }
    }
    $i: $i + 1;
  }

  @media screen and (min-width: $bp-medium) {
    line-height: 3.5em;
  }

}
