/*
 *  FRAMES USTWO LOGO
 *  Frames for SVG sequence on scroll
 *
 */

.frames-ustwo-logo {
  padding: 0 70px;

  > div {
    max-width: 400px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
