/*
 *  FRAMES USTWO LOGO
 *  Frames for SVG sequence on scroll
 *
 */

.frames-ustwo-logo {
  padding: 0 30px;

  [id*='Frame'] {
    max-width: 400px;
  }

  img {
    width: 100%;
    height: auto;
  }
}
