/*
 *  WORK ITEM
 *  Each showcase feature on what we do page
 *
 *  Notes:
 *  TODO: Why are the breakpoints not using the pre-defined ones from variables?
 *  TODO: New design to implement
 */

.work-item {
  list-style: none;

  .image {
    cursor: pointer;

    .rimage {
      height: 320px;
      background-position: center;
      background-size: cover;
    }

    img {
      display: none;
    }
  }

  .details {
    padding: 30px 6.25%;

    .type {
      margin-top: 0;
      border-bottom: 4px solid $nonBlack;
      text-transform: uppercase;
      font-family: $PxGroteskBold;
    }

    .title,
    .desc {
      margin: 20px 0;
    }

    .link {
      display: inline-block;
      border-bottom: 2px solid $nonBlack;
      font-family: $PxGroteskBold;
    }
  }

  @media screen and (min-width: 450px) {
    .image .rimage {
      height: 480px;
    }
  }

  @media screen and (min-width: 750px) {
    display: flex;
    flex-direction: row-reverse;

    &:nth-child(2n) {
      flex-direction: row;
    }

    .image {
      flex: 1.5;
    }

    .details {
      flex: 1;
      padding: 70px 6.25%;
    }
  }

  @media screen and (min-width: 1200px) {
    .image .rimage {
      height: 630px;
    }
  }
}
