.work-item {
  &__image-link {
    background-position: center;
    background-size: cover;
    height: 320px;
    display: block;
    cursor: pointer;

    .image {
      display: none;
    }
  }
  &__details {
    padding: 30px 6.25%;

    &__type {
      border-bottom: 4px solid $nonBlack;
      text-transform: uppercase;
      font-family: $PxGroteskBold;
      margin-top: 0;
    }
    &__title,
    &__desc {
      margin: 20px 0;
    }
    &__cta {
      display: inline-block;
      border-bottom: 2px solid $nonBlack;
      font-family: $PxGroteskBold;
    }
  }

  @include susy-breakpoint(min-width 450px, $susy) {
    &__image-link {
      height: 480px;
    }
  }

  @include susy-breakpoint(min-width 750px, $susy) {
    display: flex;
    flex-direction: row-reverse;

    &:nth-child(2n) {
      flex-direction: row;
    }

    &__image-link {
      flex: 1.5;

      &__image {
      }
    }
    &__details {
      flex: 1;
      padding: 70px 6.25%;

      &__type {
      }
      &__title,
      &__desc {
      }
      &__cta {
      }
    }
  }

  @include susy-breakpoint(min-width 1200px, $susy) {
    &__image-link {
      height: 630px;
    }
  }
}
