/*
 *  WORK ITEM
 *  Each showcase feature on what we do page
 *
 *  TODO: Why are the breakpoints not using the pre-defined ones from variables?
 */

.work-item {
  list-style: none;
  background-color: $offWhite;

  .image {
    cursor: pointer;

    .rimage {
      height: 320px;
    }
  }

  .details {
    padding: 30px 6.25%;

    .type {
      margin-top: 0;
      border-bottom: 4px solid $nonBlack;
      text-transform: uppercase;
      font-family: $PxGroteskBold;
    }

    .title,
    .desc {
      margin: 20px 0;
    }

    .link {
      display: inline-block;
      border-bottom: 2px solid $nonBlack;
      font-family: $PxGroteskBold;
    }
  }
}
