/*
 *  WORK PROCESS
 *
 */

.sub-content-sections {
  justify-content: space-between;
  overflow: hidden;
  visibility: visible;
  position: relative;
  margin-bottom: 50px;
  @include core-gutter();

  @media screen and (min-width: $bp-larger) {
    padding: 0;
  }
}

.sub-content-sections-wrapper {
  @include core-vertical-padding($withChildren: true);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: $grid-max-width;
  margin: 0 auto;
}

.sub-content-sections-item {

  h2 {
    @extend .h3;
    font-size: 32px;
    margin-bottom: 15px;
  }
}

.sub-content-sections-item-image {
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;

  img {
    height: 100%;
    width: auto;
  }

  @media screen and (min-width: $bp-medium) {
    height: 150px;
  }
  @media screen and (min-width: $bp-larger) {
    height: 190px;
  }
}

.sub-content-sections-link {
  cursor: pointer;
}

.react-swipe-container {
  .sub-content-sections-item {

    @media screen and (min-width: $bp-medium) {
      min-width: 0;
    }
    @media screen and (min-width: $bp-larger) {
      min-width: 0;
    }
  }
}

.sub-content-sections.touchDevice {
  .sub-content-sections-item {
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    background-color: $offWhite;
  }
}

.sub-content-sections-pagination {
  display: flex;
  justify-content: center;
  width: 100vw;

  > li {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #1a1a1a;
    opacity: .2;
    margin: 0 8px;

    &.active {
      opacity: 1;
    }
  }
}

.sub-content-sections-item-button {
  @include buttonStyle(true);
  @include buttonColor();
  border: none;
  padding-left: 0;

  &:hover {
    box-shadow: none;
  }
}
