.screen-block {

  width: 100%;
  padding: 5vh 0;
  max-width: 1800px; // this relates to the breakpoint below
  position: relative;
  margin: auto;
  overflow: hidden;
  min-height: 100vh;

  &:after {
    content: " ";
    clear: both;
    display: block;
  }

  @media screen and (min-width: $bp-gargantuan) {
    overflow: visible;
  }
}
