/*
 *  PAGE: HOME NEW
 *  Homepage init
 *
 *  TODO: Once transferred to the real homepage, remove all instances of 'new'
 */

$carousel-offset: 70px;

.page-home-new {
  // overflow: hidden;
  // transform: translateZ(0); /* hardware accelerate background-color change on scroll */

  .hero {
    background-color: $rain;

    .title {
      color: $honey;
    }
  }

  .screen-block:not(.hero) {

    &.about {
      background-color: transparent;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-direction: column;
      overflow: visible;

      @media screen and (min-width: $bp-large) {
        display: block;
      }
    }

    h2 {
      margin-bottom: 10px;

      @media screen and (min-width: $bp-large) {
        margin-bottom: 20px;
      }
    }

    .text-block {
      margin: 0 6.25%;
    }

    @media screen and (min-width: $bp-medium) {
      .text-block {
        margin: 0 12.5%;
      }
    }

    @media screen and (min-width: $bp-large) {
      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0 4%;
      }

      .block-parent {
        flex: 5;
      }

      .text-block {
        flex: 3;
        margin: 0 30px;
      }

    }

    @media screen and (min-width: $bp-larger) {
      .wrapper {
        padding: 0 6%;
      }

      .text-block {
        margin: 0 50px;
      }
    }

    .block-parent {
      .block-child {
        .image-container {
          width: 87.5%;
          position: relative;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          height: 300px;
          margin: 0 6.25%;

          @media screen and (min-width: $bp-small) {
            height: 400px;
          }

          @media screen and (min-width: $bp-medium) {
            height: 450px;
          }

          @media screen and (min-width: $bp-larger) {
            height: 525px;
          }

          @media screen and (min-width: $bp-huge) {
            height: 600px;
          }
        }
      }
    }

    &:nth-child(2n+1) {

      @media screen and (min-width: $bp-large) {
        padding-right: 0;

        .block-parent {
          order: 2;
        }
      }
    }

    .full-screen-background {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
      }
    }

  }

  .screen-block.welcome {
    .headline-image {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      transition: opacity 0.8s ease-in-out;
      backface-visibility: hidden;
      opacity: 1;
      display: block;
      max-width: 520px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;

      @media screen and (min-width: $bp-medium) {
        max-width: 660px;
      }

      &.add {
        opacity: 0;
      }
      &.show {
        opacity: 1;
      }
      &.hide {
        opacity: 0;
      }
    }
  }



  /* Carousels */

  .block-wrapper {
    position: relative;
    height: 100vh;
  }

  .home-footer {
    position: relative;
    z-index: 2;
    height: 100px;
    margin-top: -100px;
    background-color: $footerBg;
  }

}




/* TODO: refactor to make carousel a standalone component */

.carousel-wrapper {
  position: absolute;
  height: 110vh;
  top: -10vh;
  color: white;
  position: relative;
  z-index: 2;
  padding: 0 15%;
  overflow: hidden;

  > p {
    padding-top: 120px;
  }
}

.carousel {
  margin: 0 auto;

  > div {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
}

.carousel-item {
  position: relative;
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-align: center;


  &.active {
    .carousel-control {
      display: none;
    }
  }

  // &:nth-child(1) .carousel-item-inner {
  //   border: 1px solid white;
  //
  //   .carousel-control {
  //     background-color: white;
  //   }
  // }
  // &:nth-child(2) .carousel-item-inner {
  //   border: 1px solid blue;
  //
  //   .carousel-control {
  //     background-color: blue;
  //   }
  // }
  // &:nth-child(3) .carousel-item-inner {
  //   border: 1px solid green;
  //
  //   .carousel-control {
  //     background-color: green;
  //   }
  // }
}

.carousel-item-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}

.carousel-content {
  text-align: center;
  flex: 1;

  > img {
    max-height: 44vh;
    width: auto;
  }

  > h2 {
    margin-bottom: 30px;
  }

  > p {
    width: 90%;
    margin: 0 auto;
  }
}

.carousel-item.active {
  z-index: 1;
}

.carousel-item.next,
.carousel-item.prev {
  z-index: 2;
}

// @media screen and (min-width: $bp-large) {
  // .carousel-item.next {
  //   .carousel-item-inner {
  //     transform: translateX(10vw);
  //   }
  //
  //   &.nextVisible {
  //     .carousel-item-inner {
  //       transform: translateX(0);
  //       transition: transform .2s ease-in-out;
  //     }
  //   }
  // }
  //
  // .carousel-item.prev {
  //   .carousel-item-inner {
  //     transform: translateX(-10vw);
  //   }
  //
  //   &.prevVisible {
  //     .carousel-item-inner {
  //       transform: translateX(0);
  //       transition: transform .2s ease-in-out;
  //     }
  //   }
  // }
// }

@keyframes NextItem {
  from {
    transform: translateX(70vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes PrevItem {
  from {
    transform: translateX(-70vw);
  }
  to {
    transform: translateX(0);
  }
}

.carousel.next-direction .carousel-item.next .carousel-item-inner {
  animation: NextItem .3s 1; /* duration is equal to duration of slide defined in js */
}

.carousel.prev-direction .carousel-item.prev .carousel-item-inner {
  animation: PrevItem .3s 1; /* duration is equal to duration of slide defined in js */
}

.carousel-control {
  width: 30%;
  height: 50vh;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 99;
}

.carousel-control-next {
  left: 0;
}

.carousel-control-prev {
  right: 0;
}
