/*
 *  PAGE: HOME NEW
 *  Homepage init
 *
 *  TODO: Once transferred to the real homepage, remove all instances of 'new'
 */

$carousel-offset: 70px;

.page-home-new {
  // overflow: hidden;
  // transform: translateZ(0); /* hardware accelerate background-color change on scroll */

  .hero {
    background-color: $rain;

    .title {
      color: $honey;
    }
  }

  .screen-block:not(.hero) {

    &.about {
      background-color: transparent;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-direction: column;
      overflow: visible;

      @media screen and (min-width: $bp-large) {
        display: block;
      }
    }

    h2 {
      margin-bottom: 10px;

      @media screen and (min-width: $bp-large) {
        margin-bottom: 20px;
      }
    }

    .text-block {
      margin: 0 6.25%;
    }

    @media screen and (min-width: $bp-medium) {
      .text-block {
        margin: 0 12.5%;
      }
    }

    @media screen and (min-width: $bp-large) {
      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0 4%;
      }

      .block-parent {
        flex: 5;
      }

      .text-block {
        flex: 3;
        margin: 0 30px;
      }

    }

    @media screen and (min-width: $bp-larger) {
      .wrapper {
        padding: 0 6%;
      }

      .text-block {
        margin: 0 50px;
      }
    }

    .block-parent {
      .block-child {
        .image-container {
          width: 87.5%;
          position: relative;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          height: 300px;
          margin: 0 6.25%;

          @media screen and (min-width: $bp-small) {
            height: 400px;
          }

          @media screen and (min-width: $bp-medium) {
            height: 450px;
          }

          @media screen and (min-width: $bp-larger) {
            height: 525px;
          }

          @media screen and (min-width: $bp-huge) {
            height: 600px;
          }
        }
      }
    }

    &:nth-child(2n+1) {

      @media screen and (min-width: $bp-large) {
        padding-right: 0;

        .block-parent {
          order: 2;
        }
      }
    }

    .full-screen-background {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
      }
    }

  }

  .screen-block.welcome {
    .headline-image {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      transition: opacity 0.8s ease-in-out;
      backface-visibility: hidden;
      opacity: 1;
      display: block;
      max-width: 520px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;

      @media screen and (min-width: $bp-medium) {
        max-width: 660px;
      }

      &.add {
        opacity: 0;
      }
      &.show {
        opacity: 1;
      }
      &.hide {
        opacity: 0;
      }
    }
  }



  /* Carousels */

  .block-wrapper {
    position: relative;
    height: 100vh;
  }

  .carousel-wrapper {
    position: absolute;
    height: 110vh;
    top: -10vh;
    color: white;
    position: relative;
    z-index: 2;
    padding: 0 10%;
    width: 100%;
    overflow: hidden;

    > p {
      padding-top: 120px;
    }
  }

  .carousel {
    margin: 0 auto;

    > div {
      margin-top: 40px;
      display: flex;
      align-items: center;
    }
  }

  .carousel__item {
    position: relative;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-align: center;


    &.active {
      .carousel__control {
        display: none;
      }
    }

    &:nth-child(1) .carousel__item__inner {
      border: 1px solid white;

      .carousel__control {
        background-color: white;
      }
    }
    &:nth-child(2) .carousel__item__inner {
      border: 1px solid blue;

      .carousel__control {
        background-color: blue;
      }
    }
    &:nth-child(3) .carousel__item__inner {
      border: 1px solid green;

      .carousel__control {
        background-color: green;
      }
    }
  }

  .carousel__item__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
  }

  .carousel__item__content {
    text-align: center;
    flex: 1;
  }

  .carousel__item.next {
    .carousel__item__inner {
      transform: translateX(100px);
    }

    &.visible {
      .carousel__item__inner {
        transform: translateX(0);
        transition: transform .32s ease-in-out;
      }
    }
  }

  .carousel__control {
    width: 10vw;
    height: 50vh;
    cursor: pointer;
  }

  .home-footer {
    position: relative;
    z-index: 2;
    height: 100px;
    margin-top: -100px;
    background-color: $footerBg;
  }

}
