/*
 *  HOME LOADER
 *  Loading the page
 *
 */

.home-loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: white;
  z-index: 999;

  .home-intro-logo {
    width: 40%;

    svg {
      fill: black;
    }
  }
  .ustwo-logo-sequence g {
    display: none;
  }

  &.hide {
    display: none;
  }
}
