/*
 *  HOME LOADER
 *  Loading the page
 *
 */

.home-loader {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(241deg, #000000, #0e0d10 29%, #322d37);
  color: white;
  z-index: 999;

  .ustwo-logo-sequence {
    position: relative;
    top: 0;

    svg {
      position: relative;
    }
  }

  .home-intro-logo {
    position: relative;

    .home-loader-sequence {
      fill: white;
    }
    .home-loader-background {
      fill: white;
      opacity: 0.05;

      g {
        display: block !important;
      }
    }
  }
  .ustwo-logo-sequence g {
    display: none;
  }

  &.hide {
    display: none;
  }

  h1 {
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(50% + 35px);
    font-family: "PxGrotesk-Regular", "Arial", sans-serif;
    font-size: 14px;
    color: rgba(255,255,255,.5);
    letter-spacing: 0.9px;
	  text-align: center;
    line-height: 1.3;

    @media screen and (min-width: $bp-small) {
      br {
        display: none;
      }
    }

    @media screen and (min-width: $bp-medium) {
      top: calc(50% + 45px);
    }

    @media screen and (min-width: $bp-large) {
      top: calc(50% + 52px);
    }

    @media screen and (min-width: $bp-larger) {
      top: calc(50% + 60px);
    }
  }
}
