/*
 *  PAGE LOADING ICON
 *  Jumping blocks animation
 *
 *  TODO: Once Ornithoper PostCSS plugin is complete, use it to generate keyframes only using the transform property for better performance.
 */

$loader-size: 60px;
$loader-box-size: 12px;

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.page-loading-icon {
  position: relative;
  width: $loader-size;
  height: $loader-size;

  div {
    position: absolute;
    width: $loader-size;
    height: $loader-size;
    animation: spinner 1s infinite;
    transform-origin: 50% 50%;

    &:after {
      position: absolute;
      left: 50%;
      top: 0;
      content: "";
      width: $loader-box-size;
      height: $loader-box-size;
      background: #fff;
      transform: translateX(- $loader-box-size * .5);
    }

    &:nth-child(2) {
      animation-delay: .5s;
    }
  }
}
