/*
 *  LOADING ICON
 *  Small loading spinner, originally intended for inside category dropdown
 *
 *  TODO: Currently just rotates between black and white, need to implement it to cycle through the ustwo colour palette.
 */

$loader-size: 12px;
$loader-jump: $loader-size * 2.25;
$loader-bg: #fff;
$loader-color: $offWhite;

@keyframes loader {
  19% {
    bottom: 0;
    transform: scale(1.25, 0.25);
  }
  30% {
    transform: scale(0.8, 1.15);
  }
  49% {
    bottom: $loader-jump;
  }
  51% {
    bottom: $loader-jump * .95;
  }
  52% {
    bottom: $loader-jump * .85;
  }
  60% {
    transform: scale(1, 1);
  }
  66% {
    bottom: 0;
  }
  68% {
    transform: scale(1.5, 0.25);
  }
  90% {
    transform: scale(1, 1);
  }
}

.page-loading-icon {
  li {
    position: relative;
    width: $loader-size;
    height: $loader-size + $loader-jump;
    display: inline-block;
    margin-left: $loader-size * .75;

    &:first-child {
      margin-left: 0;
    }

    div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: $loader-size;
      height: $loader-size;
      background: $loader-color;
      animation: loader 2s infinite ;
      transform-origin: 50% bottom;
    }

    &:nth-child(2) div {
      animation-delay: 0.08s;
    }
    &:nth-child(3) div {
      animation-delay: 0.16s;
    }
    &:nth-child(4) div {
      animation-delay: 0.24s;
    }
  }

  &.join-us {
    li div {
      background: $nonBlack;
    }
  }
}
