.colour-container {
  overflow: auto;

  .colour {
    width: 150px;
    float: left;
    margin: 0 6px 10px 0;
  }

  .swatch {
    height: 100px;
    padding-top: 50px;
    text-align: center;
    font-weight: 300;
    color: #fff;
    margin-bottom: 2px;
    text-shadow: 0px 0px 2px black;
  }
}
