.styleguide__container {
  > h1,
  > h2,
  > h3,
  > section {
    margin: 50px;
  }
}

.dark__styleguideitem__container {
  background-color: #444;
}

.openbutton__container {
  position: relative;
  height: 60px;
  width: 60px;
  .nav__open-overlay-button {
    display: block;
  }
}

.fix-nav {
  position: relative;

  .header {
    position: static;
  }
}
