<header class="bold-page-header u-text-center">
  <h1>
    <span class="u-text-{{bold-page-header__colour}}">{{{bold-page-header__content}}}</span>
  </h1>
  <hr>
  <h4>
    <span class="u-text-nonBlack">{{{bold-page-header__secondary-content}}}</span>
  </h4>
</header>
