<!DOCTYPE html>
<html lang="en">
  <!-- Oh hey there, we're always on the lookout for curious and talented developers, get in touch! :) -->
  <head>
    <meta charset="utf-8">
    <title>ustwo</title>
    <meta name="author" content="ustwo">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="stylesheet" href="css/ustwo.css">
  </head>
  <body class="">

  <div id="pageContent">
  </div>

  </body>
  <script src="js/vendors.js"></script>
  <script src="js/app.js"></script>
</html>
