<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>
      {{title}}
    </title>
    <meta name="author" content="ustwo">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="stylesheet" href="css/ustwo.css">
    <!-- Favicons and Touch Device Icons -->
    <link rel="shortcut icon" href="{{urls.site}}/favicon.ico">
    <link rel="apple-touch-icon" href="touch-icon-iphone-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone-retina-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="touch-icon-ipad-retina-precomposed.png">

    {{{extraHead}}}
  </head>
  <body class="{{bodyClass}}">

  <div id="pageContent">
  </div>

  </body>
  <script src="js/vendors.js"></script>
  <script src="js/app.js"></script>
</html>
