<div class="wrapper">
  <div id="blog">
    <div class="blog__inner">
      <div class="blog__searchbox">
        <form role="search" method="post"  action="{{urls.page}}">
          <div class="searchbox__search"><input type="search" name="search" value="{{searchString}}" /></div><!--
       --><div class="searchbox__categories">
            <span>All categories</span>
            <ul>
              <li data-selectbox-value="all">All Categories</li>
              <li data-selectbox-value="business">Business</li>
              <li data-selectbox-value="culture">Culture</li>
              <li data-selectbox-value="design">Design</li>
              <li data-selectbox-value="development">Development</li>
              <li data-selectbox-value="process">Process</li>
              <li data-selectbox-value="ux">UX</li>
            </ul>
          </div>
        </form>
      </div>
      <header class="blog__header">
        <h1 class="h2">
          <span class="u-text-piglet">Thinking</span><br/>and<br/><span class="u-text-piglet">Sharing</span>
        </h1>
      </header>
      <ul class="blog__articles">
        {{#each posts.items}}
        {{> blog-articles-item this}}
        {{/each}}
      </ul>
      <div class="blog__pagination">
        <div class="spinner__wrapper spinner__wrapper--pagination">
          <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
          </div>
        </div>
        <a href="#" class="btn btn--large btn--ohra">Load <span class="posts-to-load"></span> more</a>
      </div>
    </div>
  </div>
</div>
<div id="overlay">
  <a href="/blog/"><img src="/2015/images/prototype/What-We-Do.png"></img></a>
</div>
