<div class="wrapper">
  <div id="work">
    {{> bold-page-header bold-page-header__colour='marshPassion' bold-page-header__content='Mother always<br/>told me' bold-page-header__secondary-content='It’s not what you say, it’s what you do'}}
    <ul class="blog__articles">
      {{#each work.items}}
      {{> work-block this}}
      {{/each}}
    </ul>
  </div>
</div>
