<nav class="nav">
  <!-- Toggle Switch -->
  <button class="nav__toggle">
    <span class="toggle__bar"></span>
    <span class="toggle__bar"></span>
    <span class="toggle__bar"></span>
  </button>
  <!-- End Switch -->
  <div class="nav__inner">
    <a href="/" class="nav__logo">ustwo</a>
    <ul class="nav__menu">
      {{#each pages}}
        <li class="nav__menu__item">
            <a href="{{url}}" class="u-link-{{colour}}">{{title}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</nav>
