<footer class="footer">
  <!-- ScrollTop -->
  <a class="footer__scrolltop">Scroll</a>
  <!-- /ScrollTop -->

  <div class="footer__inner">
    <!-- Contact Info -->
    <ul class="footer__contact">
      <!-- General -->
      <li class="footer__contact__item">
        <h5 class="h5 u-text-white u-margin-bS u-bar-after">General</h5>
        <p class="p--address">
          <a href="tel:+44(0)2076130433" class="telephone" data-studio="london">+44 (0) 207 613 0433</a>
          <a href="tel:+1(212)518-4900" class="telephone" data-studio="nyc">+1 (212) 518-4900</a>
          <a href="tel:+46(0)40330480" class="telephone" data-studio="malmo">+46 (0) 40 330 480</a>
          <a class="u-link-honey--coloured u-link-block" href="mailto:hello@ustwo.com">hello@ustwo.com</a>
          <a class="u-link-honey--coloured u-link-block" href="mailto:press@ustwo.com">press@ustwo.com</a>
          <a class="u-link-honey--coloured u-link-block" href="mailto:work@ustwo.com">work@ustwo.com</a>
        </p>

        <ul class="social__links">
          <li class="social__links__item">
            <a href="https://www.facebook.com/pages/ustwo/127618770359" class="social__link social__link--facebook" target="_blank">Facebook</a>
          </li>

          <li class="social__links__item">
            <a href="http://www.linkedin.com/company/ustwo-" class="social__link social__link--linkedin" target="_blank">LinkedIn</a>
          </li>

          <li class="social__links__item">
            <a href="https://twitter.com/ustwo" class="social__link social__link--twitter" target="_blank">Twitter</a>
          </li>
        </ul>
      </li><!--

   --><li class="footer__contact__item" data-studio="london">
        <h5 class="h5 u-text-white u-margin-bS u-bar-after">London</h5>
        <p class="p--address">
          <span class="street-address">62 Shoreditch High Street</span><br />
          <span class="region">London E1 6JJ</span><br />
          <span class="country-name">United Kingdom</span><br />
          <a href="tel:+44(0)2076130433" class="telephone">+44 (0) 207 613 0433</a><br />
          <a target="_blank" class="u-link-mare--coloured u-link-block u-margin-tS" href="https://maps.google.com/maps?q=62+Shoreditch+High+Street+London+E1+6JJ+United+Kingdom&amp;hl=en&amp;sll=40.747244,-73.995747&amp;sspn=0.014972,0.023432&amp;gl=us&amp;hnear=62+Shoreditch+High+St,+London,+United+Kingdom&amp;t=m&amp;z=16">Go to Google Maps</a>
        </p>
      </li><!--

   --><li class="footer__contact__item"  data-studio="nyc">
        <h5 class="h5 u-text-white u-margin-bS u-bar-after">New York</h5>
        <p class="p--address">
          <span class="street-address">26 Broadway 16th Floor</span><br />
          <span class="region">New York, NY. 10004</span><br />
          <span class="country-name">United States</span><br />
          <a href="tel:+1(212)518-4900" class="telephone">+1 (212) 518-4900</a><br />
          <a target="_blank" class="u-link-ohra--coloured u-link-block u-margin-tS" href="https://www.google.com/maps/place/26+Broadway,+New+York,+NY+10004,+USA/@40.7053319,-74.0129945,17z/data=!3m1!4b1!4m2!3m1!1s0x89c25a115d64bc3d:0xd453ec88640e1e02">Go to Google Maps</a>
        </p>
      </li><!--

  --><li class="footer__contact__item" data-studio="malmo">
        <h5 class="h5 u-text-white u-margin-bS u-bar-after">Malmö</h5>
        <p class="p--address">
          <span class="street-address">Södra Förstadsgatan 2</span><br>
          <span class="region">211 43 Malmö</span><br />
          <span class="country-name">Sweden</span><br />
          <a href="tel:+46(0)40330480" class="telephone">+46 (0) 40 330 480</a><br />
          <a target="_blank" class="u-link-piglet--coloured u-link-block u-margin-tS" href="https://maps.google.com/maps?q=S%C3%B6dra+F%C3%B6rstadsgatan+2+211+43+Malm%C3%B6+Sweden&amp;hl=en&amp;ie=UTF8&amp;sll=51.524115,-0.077254&amp;sspn=0.012296,0.023432&amp;gl=us&amp;hnear=S%C3%B6dra+F%C3%B6rstadsgatan+2,+211+43+Malm%C3%B6,+Sweden&amp;t=m&amp;z=16">Go to Google Maps</a>
        </p>
      </li><!--

  --><li class="footer__contact__item" data-studio="sydney">
        <h5 class="h5 u-text-white u-margin-bS u-bar-after">Sydney</h5>
        <p class="p--address">
          <span class="street-address">199 Cleveland St</span><br>
          <span class="region">Redfern NSW 2016</span><br />
          <span class="country-name">Australia</span><br />
          <a href="" class="telephone">&nbsp;</a><br />
          <a target="_blank" class="u-link-rain--coloured u-link-block u-margin-tS" href="https://www.google.co.uk/maps/place/199+Cleveland+St,+Redfern+NSW+2016,+Australia/@-33.88968,151.203396,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12b1d8db4b96d9:0x7f17818603b1c5a0?hl=en">Go to Google Maps</a>
        </p>
      </li>
    </ul>
    <!-- /Contact Info -->

    <!-- Copyright -->
    <div class="footer__copyright">
      <h6 class='h6 u-text-white'>Copyright &copy; 2015 ustwo studio Ltd. All rights reserved.</h6>
    </div>
    <!-- /Copyright -->
  </div>
</footer>

<script src="js/build.js"></script>

  </body>
</html>
