/*
 *  HOME INTRO
 *  First screen/above the fold
 *
 */

.scroll-wrapper-home-intro {
  padding: 0;
}

.home-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  cursor: url('/images/icon-down.svg'), auto;
}

.home-intro-logo {
  position: relative;
  height: 80px;
  z-index: 1;
  max-width: 280px;
  width: 45%;
  perspective: 200px;
  display: flex;
  align-items: center;

  svg {
    position: absolute;
    top: auto;
    left: 0;
    fill: white;
    width: 100%;

    &.layer-0 {
      filter: blur(3px);
      opacity: 0.7;
    }
  }

  @media screen and (max-width: $bp-medium) {
    transform: translate3d(0,0,0) !important;
  }
}
