/*
 *  HOME INTRO
 *  First screen/above the fold
 *
 */

.home-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  cursor: url('/images/temp/cursor-arrow.png'), auto;
}

.home-intro-logo {
  position: relative;
  width: 300px;
  height: 150px;
  z-index: 1;
  perspective: 600px;

  svg {
    position: absolute;
    top: 0;
    left: 0;

    &.layer-0 {
      filter: blur(5px);
      opacity: 0.5;
    }
  }
}
