/*
 *  PAGE: JOIN US
 *  Showcasing ustwo perks and current vaccancies
 *
 */

.page-join-us {

  .hero {
    background-color: $honey;

    .rimage {
      max-width: 800px;
    }

    .down-chevron {
      z-index: 2;
    }
  }

  .grid {
    position: relative;

    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }

    .grid-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .grid-cell {
      position: relative;
    }
  }

  .current-openings,
  .benefits {
    display: flex;
    align-items: center;
    text-align: center;

    h2 {
      padding: 0 20px;
      color: #fff;
      line-height: 1.2;
    }
  }

  .current-openings {
    padding-top: $vertical-spacing;
    padding-bottom: 10px;
    background-color: $lightGrey;

    h2 {
      color: $nonBlack;

      @media screen and (min-width: $bp-large) {
        font-size: 60px;
      }
    }
  }

  .benefits {
    height: 156px;
    background: $ohra;
  }

  .jobs {
    position: relative;
    padding: 10px 15px 40px 15px;
    background-color: $lightGrey;
  }

  .jobs-studio-tabs {
    display: none;
    margin: 0 0 30px 0;
    text-align: center;

    > div {
      display: inline-block;
      margin: 0 20px 10px 20px;
      cursor: pointer;
      font-family: $Futura;
      font-size: 24px;
      text-transform: uppercase;
      color: $nonBlack;
      transition: opacity $hover-duration-quick ease-in-out;

      &[aria-selected="true"] {
        border-bottom: 4px solid;
      }

      &:hover:not([aria-selected="true"]) {
        opacity: $hover-fade-back;
      }
    }
  }

  .jobs-container {
    max-width: 1120px;
    margin: 0 auto;
  }

  @media screen and (min-width: $bp-medium) {
    .grid {
      padding-top: 0;
    }

    .current-openings {
      padding-top: $vertical-spacing-medium;
      padding-bottom: 40px;
    }

    .benefits {
      height: 312px;
    }

    .jobs {
      padding-bottom: 60px;
    }

    .jobs-studio-tabs {
      display: block;
    }
  }

  @media screen and (min-width: $bp-large) {
    .jobs {
      padding-bottom: 80px;
    }

    .jobs-studio-tabs {
      margin: 0 0 45px 0;

      li {
        font-size: 26px;
      }
    }

    .current-openings {
      padding-top: $vertical-spacing-large;
      padding-bottom: 60px;
    }
  }

}
