/*
 *  PAGE: JOIN US
 *  Showcasing ustwo perks and current vaccancies
 *
 */

.page-join-us {

  .hero {
    background-color: $honey;

    .title {
      color: $nonBlack;
    }

    .rimage {
      max-width: 800px;
    }
  }

  .down-chevron svg {
    fill: $nonBlack;
  }

  .grid {
    position: relative;
    padding-top: $jobs-video-height-mobile;

    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }

    .grid-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: $jobs-video-height-mobile;

      iframe {
        width: 100%;
        height: 100%;
        border: 0;
      }
    }

    .grid-cell {
      position: relative;
    }
  }

  /* Current openings hero header */
  .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 210px;
    text-align: center;

    .ustwo-logo {
      fill: #fff;
      height: 26px;
    }

    h2 {
      color: #fff;
      line-height: 1.2;
    }
  }

  .jobs {
    position: relative;
    padding: 10px 15px 40px 15px;
    background: $honey;
  }

  .jobs-studio-tabs {
    display: none;
    margin: 30px 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 20px 10px 20px;
      cursor: pointer;
      font-family: $Futura;
      font-size: 24px;
      text-transform: uppercase;
      transition: opacity $hover-duration-quick ease-in-out;

      &[aria-selected="true"] {
        border-bottom: 4px solid;
      }

      &:hover:not([aria-selected="true"]) {
        opacity: $hover-fade-back;
      }
    }
  }

  .jobs-container {
    max-width: 1120px;
    margin: 0 auto;
  }

  @media screen and (min-width: $bp-medium) {
    .grid {
      padding-top: 0;

      .video {
        top: $jobs-slide-height;
        height: $jobs-video-height;
      }
    }

    .hero-image {
      height: 500px;
    }

    .jobs {
      padding-bottom: 60px;
    }

    .jobs-studio-tabs {
      display: block;

      li.all-studios {
        span:last-child {
          display: none;
        }
      }
    }
  }

  @media screen and (min-width: $bp-large) {
    .grid {
      .video {
        width: 66.6666%;
      }
    }

    .jobs {
      padding-bottom: 80px;
    }

    .jobs-studio-tabs {
      margin: 55px 0;

      li {
        font-size: 30px;

        &.all-studios {
          span:last-child {
            display: inline;
          }
        }
      }
    }
  }

}
