/*
 *  PAGE: Events
 *  Landing page to see upcoming and past events
 *
 */

.page-events {
  background-color: #eaeaea;

  .hero {
    background-color: $softPassion;
  }

  .events-list {
    max-width: 1380px;
    margin: 0 auto;
    opacity: 1;
    transform: translateY(0px);
    transition: opacity .2s ease-in-out, transform .32s ease-in-out;
  }

  @media screen and (min-width: $bp-medium) {

    .events-list {
      display: flex;
      flex-wrap: wrap;
      padding: 0 $events-gutter-large $events-gutter-large $events-gutter-large;
      margin-top: -14vh;
    }
  }

}

