.loading-icon {

  $size: $loading-spinner-size;
  $duration: 1.2s;

  height: $size;
  width: $size;
  box-sizing: content-box;

  .half {
    position: absolute;
    top: 0;
    height: $size;
    width: $size * .5;
    overflow: hidden;

    .bg {
      position: absolute;
      width: $size * .5;
      height: $size;
      background: #000;
      border-radius: $size;
      transform: rotate(-180deg);
    }

    &.left {
      left: 0;
      border-radius: ($size * .5) 0 0 ($size * .5);

      .bg {
        left: 0;
        border-left: ($size * .5) solid #fff;
        animation: SpinnerLeft $duration infinite linear;
      }
    }

    &.right {
      right: 0;
      border-radius: 0 ($size * .5) ($size * .5) 0;

      .bg {
        right: 0;
        border-right: ($size * .5) solid #fff;
        animation: SpinnerRight $duration infinite linear;
      }
    }
  }

}


@keyframes SpinnerLeft {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes SpinnerRight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
