.nav__open-overlay-button {
  @extend %button__bare;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 20px;
  fill: $nonBlack;
}

.transparent-white {
  .nav__open-overlay-button {
    fill: $white;
  }
}
