.nav__open-overlay-button {
  @extend %button__bare;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  fill: #fff;
  width: 60px;
  height: 60px;
  display: block;

  svg {
    width: 42px;
    height: 32px;
    pointer-events: none; // Fixes intermittent issue on touch devices?
  }
}

.transparent-white {
  .nav__open-overlay-button {
    fill: $offWhite;
  }
}
.takeover {
  .nav__open-overlay-button {
    fill: $nonBlack;
  }
}
