.nav__open-overlay-button {
  @extend %button__bare;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  fill: #fff;
  width: 68px;

  svg {
    width: 40px;
  }
}

.transparent-white {
  .nav__open-overlay-button {
    fill: $offWhite;
  }
}
.takeover {
  .nav__open-overlay-button {
    fill: $nonBlack;
  }
}
