/*
 *  SINGLE COLUMN
 *  Column of centered text with header
 *
 *  Notes:
 */

.single-column {
  padding: 30px 6.25%;

  .wrapper {
    max-width: 680px;
    margin: 0 auto;
  }

  .title {
    text-align: center;
  }

  hr {
    border: 2px solid $nonBlack;
    width: 120px;
    margin: 20px auto;
  }

  .content {
    text-align: left;
  }

  &:first-of-type {
    .title {
      font-size: 36px;
    }
  }
}

@media screen and (min-width: $bp-medium) {
  .single-column {
    padding-top: 50px;
    padding-bottom: 50px;

    &:first-of-type {
      min-height: 300px;

      .title {
        font-size: 40px;
      }
    }
  }
}

@media screen and (min-width: $bp-large) {
  .single-column {
    &:first-of-type {
      min-height: 400px;

      .title {
        font-size: 60px;
      }
    }
  }
}
