/*
 *  SINGLE COLUMN
 *  Column of centered text with header
 *
 *  Notes: The colours used for title and hr are defaults. Overrides are used
 *  for case studies.
 *  TODO: This is used for the top of case study pages. Ideally it shouldn't be
 *  used, that should be a header/title component maybe. Also clarification is
 *  needed (with a designer) about when and where the 'content' is text-align
 *  left/center;
 */

.single-column {
  padding: $vertical-spacing 6.25%;

  a {
    font-family: $PxGroteskBold;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }

  .wrapper {
    max-width: 680px;
    margin: 0 auto;
  }

  .title {
    color: $marshPassion;
    max-width: 820px;
    text-align: center;
  }

  hr {
    width: 120px;
    margin: 30px auto;
    border: 2px solid $mare;
  }

  .content {
    max-width: 680px;
    margin: 0 auto;
    font-size: 20px;

    ul, ol {
      padding-left: 40px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &.intro {
    padding: 118px 6.25% 55px;
  }

  iframe {
    max-width: 100%;
  }

  @media screen and (min-width: $bp-small) {
    &.intro {
      padding: 168px 6.25% 100px;
    }
  }

  @media screen and (min-width: $bp-medium) {
    padding-top: $vertical-spacing-medium;
    padding-bottom: $vertical-spacing-medium;

    &.intro {
      padding: 168px 6.25% 100px;
    }
  }

  @media screen and (min-width: $bp-large) {
    padding-top: $vertical-spacing-large;
    padding-bottom: $vertical-spacing-large;

    &.intro {
      padding: 168px 6.25% 100px;
    }
  }

}
