/*
 *  SCROLL WRAPPER
 *  Wrapper to find various data of child element for the purposes of scrolling and mouse events
 *
 */

.scroll-wrapper {
  position: relative;
  z-index: 1;
  @include core-layout();

  .scroll-wrapper-inner {
    display: flex;
    justify-content: center;

    > *:first-child {
      width: 100vw;
    }
  }

  // Fix for vertically narrow screens
  // e.g. 1280 macbook with large application dock at the bottom of the screen
  @media screen and (min-width: 1025px) {
    &.scroll-wrapper-home-carousel-products,
    &.scroll-wrapper-home-carousel-ventures {
      min-height: 700px;
    }
  }
}
