/*
 *  SEARCH
 *  The 'overlay' where a user can input a search term before submitting
 *
 */

.search {
  $height: 30px;
  $icon-size: 28px;
  $height-tablet: 50px;
  $icon-size-tablet: 44px;
  $height-desktop: 75px;
  $icon-size-desktop: 57px;

  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh + #{$card-margin-offset});
  background: $blu;

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 5%;

    .input {
      display: none;
    }

    .editable-div {
      overflow: hidden;
      display: inline-block;
      width: auto;
      margin-left: $icon-size + 11px;
      border: none;
      text-transform: uppercase;
      font-family: $Futura;
      text-align: right;
      line-height: 1.1;
      white-space: nowrap;
      outline: 0;
      color: $offWhite;

      &:before {
        content: "SEARCH";
        color: $offWhite;
        cursor: text;
      }
    }

    .editable-div:not(:empty):before {
      display: none;
    }

    .submit-search {
      width: $icon-size + 1px;
      height: $icon-size;
      margin-left: 10px;
      padding: 0;
      border: none;
      background: transparent;
      outline: 0;

      svg {
        width: $icon-size;
        height: $icon-size;
        fill: $offWhite;
      }
    }
  }

  .cancel-search {
    width: 100%;
    text-align: center;

    button {
      margin: 0 auto;
      padding: 0;
      border: none;
      border-bottom: solid 2px $offWhite;
      background: transparent;
      color: $offWhite;
    }
  }

  @media screen and (min-width: $bp-medium) {
    .search-form {
      .editable-div {
        margin-left: $icon-size-tablet + 11px;
      }
      .submit-search {
        width: $icon-size-tablet + 1px;
        height: $icon-size-tablet;

        svg {
          width: $icon-size-tablet;
          height: $icon-size-tablet;
        }
      }
    }
  }
  @media screen and (min-width: $bp-large) {
    .search-form {
      .editable-div {
        margin-left: $icon-size-desktop + 11px;
      }
      .submit-search {
        width: $icon-size-desktop + 1px;
        height: $icon-size-desktop;

        svg {
          width: $icon-size-desktop;
          height: $icon-size-desktop;
        }
      }
    }
  }
}
