/*
 *  JOIN US HERO
 *
 */

.join-us-hero {
  position: relative;
  height: 100%;

  .hero {
    height: 100%;
    @include page-background-colour(join);

    .rimage {
      max-width: 800px;
    }

    .down-indicator {
      z-index: 2;
    }

    h1 {
      width: 67%;
    }
  }

  .hero-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-image: url('/images/join-us/hero-mobile.png');
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: 100% auto;
    width: 48%;
    max-width: 300px;

    &:after {
      content: "";
      position: absolute; // 142 x 255
      background: url('/images/join-us/hero-crow.png') no-repeat 50% 50%;
      width: 50px;
      height: 100px;
      left: 0;
      bottom: 4%;
      transform: translateX(-70px);
      background-size: 100% auto;
    }
  }

  @media screen and (min-width: $bp-smaller) {
    .hero {
      h1 {
        width: 75%;
      }
    }
  }

  @media screen and (min-width: $bp-tablet) {
    .hero-image {
      &:after {
        width: 65px;
      }
    }
  }

  @media screen and (min-width: $bp-medium) {
    .hero-image {
      &:after {
        bottom: 8%;
        transform: translateX(-110px);
      }
    }
  }

  @media screen and (min-width: $bp-large) {
    .hero {
      h1 {
        width: 60%;
      }
    }
    .hero-image {
      background-image: url('/images/join-us/hero-main.png');
      width: 500px;
      right: 50px;
      max-width: none;
      background-position: 50% 70%;

      &:before {
        content: "";
        position: absolute;
        background-image: url('/images/join-us/hero-phone-inner.jpg'); // 508 x 902
        background-size: 100% auto;
        right: 48px;
        top: calc(70% - 328px);
        width: 224px;
        height: 397px;
      }

      &:after {
        bottom: 10%;
        transform: translateX(-60px);
      }
    }
  }
}
