/*
 *  PAGE-POST
 *  Blog post pages
 *
 *  Notes:
 *  TODO: Sort mess with multiple selectors about line 90 (.title, .excerpt, .meta etc)
 */

.page-post {
  a {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-family: $PxGroteskBold;
  }

  .hero-image {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
    img {
      display: none;
    }
  }

  .wp-caption-text {
    font-size: 15px;
  }
  .aligncenter {
    display: block;
    margin: 0 auto;
  }

  .social-media-sharing {
    &.side {
      position: absolute;
      right: 0;
      display: none;
    }

    &.bottom {
      position: relative;
      left: 50%;
      display: inline-block;
      margin: 5px 0 35px;
      transform: translateX(-50%);

      .channel {
        display: inline-block;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .content-container {
    position: relative;
    margin: 0 auto;
    padding: 40px 0;
    background: #fff;


    ul,
    ol {
      line-height: 1.5;
      li {
        margin-bottom: 10px;
      }
    }
    ul {
      list-style: square;

      &.social-media-sharing {
        list-style: none;
      }
    }
    .title,
    .excerpt,
    .meta,
    .rule,
    .content,
    .author {
      margin: 30px auto;
      max-width: 676px;
    }
    .title,
    .excerpt,
    .meta,
    .rule,
    .author {
      text-align: center;
    }

    .blog-category {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, (- $blog-category-height * .5));
    }

    .title {
      margin-bottom: 0;
      padding: 0 30px;
    }
    .excerpt {
      max-width: 450px;
      font-size: 30px;
      font-family: $PxGroteskBold;

      p {
        margin-top: 10px;
      }
    }
    .meta {
      margin: 10px auto 20px;
      font-size: 18px;
      color: #646464;

      .date {
        color: #969696;
      }
    }
    .rule {
      width: 184px;
      border: 2px solid;
    }
    .single-column .content {
      a {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        font-family: $PxGroteskBold;
      }
      video,
      img,
      iframe {
        max-width: 100%;
      }
      video,
      img {
        height: auto;
      }
    }
    .author {
      margin: 0 auto;
      padding: 0 6.25%;

      .mugshot {
        width: 90px;
        height: 90px;
        border-radius: 45px;
      }
      .title {
        margin-bottom: 20px;
        font-family: $PxGroteskBold;
        font-size: 20px;
      }
      .links {
        margin: 30px 0;
        padding: 0;
        list-style: none;

        .link a {
          border-bottom: 2px solid;
          font-family: $PxGroteskBold;
        }
      }
    }
  }

  iframe {
    width: 100%;
  }

  h3 {
    position: relative;
    padding: 30px 0 54px;
    text-align: center;

    &:after {
      content: "";
      position: absolute;
      bottom: 27px;
      left: 50%;
      width: 120px;
      height: 4px;
      background: $nonBlack;
      transform: translateX(-50%);
    }
  }

  [id*="attachment_"] {
    width: 100% !important;
  }

  ol {
    li {
      padding: 8px 0;
    }
  }

  @media screen and (min-width: $bp-small) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $bp-medium) {
    .hero-image {
      height: 450px;
    }
    .social-media-sharing {
      &.side {
        display: block;
      }
      &.bottom {
        margin: 20px 0 60px;

        .channel {
          margin-right: 17px;
        }
      }
    }
    .content-container {
      margin-top: -70px;
      margin-left: 80px;
      margin-right: 80px;
    }

    h3 {
      &:after {
        width: 184px;
      }
    }
  }
  @media screen and (min-width: $bp-huge) {
    .hero-image {
      height: 620px;
    }
    .content-container {
      max-width: 1200px;
      margin-top: -100px;
      margin-left: auto;
      margin-right: auto;
    }
    .content-container ul.social-media-sharing {
      right: 80px;
    }
  }
}
