/*
 *  WORK CAPABILITY
 *
 */

.work-capability {
  color: $offWhite;
	background-color: $c-solid;
  padding-top: 100px;
  padding-bottom: 50px;
  @include core-layout();

  > * {
    max-width: 1000px;
  }

  h1 {
    @extend .h1-alt;
    text-align: center;

    span:last-child {
      display: block;
    }
  }

  h2 {
    @extend .h2-alt;
  }

  @media screen and (min-width: $bp-tablet) {
    padding-top: 140px;
    padding--bottom: 120px;
  }
}

.work-capability-contact {
  padding: 60px 0;
  text-align: center;

  p {
    max-width: 550px;
    margin: 0 auto 40px auto;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 120px 0;
  }
}

.work-capability-block {
  margin-bottom: 60px;

  p {
    margin-bottom: 50px;
  }

  img {
    width: 100%;
    height: auto;
  }

  &.last {
    margin-bottom: 0;
  }

  > div {
    flex: 1;
  }

  h2 {
    margin-bottom: 15px;
  }

  @media screen and (min-width: $bp-tablet) {
    display: flex;

    .work-capability-block-image {
      max-width: 400px;
    }

    .work-capability-block-text {
      margin-right: 5%;
    }

    &:nth-child(2n + 2) {
      .work-capability-block-text {
        order: 2;
        margin-left: 5%;
      }
      img {
        order: 1;
      }
    }
  }

  @media screen and (min-width: $bp-medium) {
    margin-bottom: 100px;

    h2 {
      margin-bottom: 25px;
    }
  }

  @media screen and (min-width: $bp-large) {
    .work-capability-block-text {
      margin-right: 10%;
    }

    &:nth-child(2n + 2) {
      .work-capability-block-text {
        margin-left: 10%;
      }
    }
  }
}
