/*
 *  PAGE: LEGAL
 *  Simple page that holds some of the legal gumpf
 *
 *  TODO: Perhaps we need to make this a generic template page for other such small, relatively styless pages?
 */

.page-legal {
  .hero-image {
    height: 320px;
  }

  .content-container {
    position: relative;
    max-width: 1200px;
    margin: $card-margin-offset auto 0;
    padding: 70px 50px;
    background: #fff;

    h2,
    h3 {
      margin-top: 40px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
