/*
 *  IMAGE HOVER
 *  Hover over large image links
 *
 *  TODO: Repeats code from down-chevron, consolidate to svg-sequence component?
 */

.image-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $white;

  g:not(:last-child) {
    display: none;
  }

  svg {
    width: 100px;
  }
}

.js .image-hover g {
  display: inline;

  &:not(:first-child) {
    display: none;
  }
}
