/*
 *  NAVIGATION
 *  Includes the site navigation and logo
 *
 */

html {
 .menu-no-js {
   display: block;

   li {
     display: inline-block;
     margin: 0 10px;

     a {
      display: block;
     }
   }
 }
 &.js .menu-no-js {
   display: none;
 }
}

$nav-height-small: 22px;
$nav-height-medium: 24px;
$nav-height-large: 30px;

.navigation {
  position: fixed;
  top: 0;
  padding: 20px 0;
  right: 0;
  left: 0;
  z-index: 4000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $offWhite-semiTransparent;
  transition: background-color .2s linear;

  @media screen and (min-width: $bp-medium) {
    padding: 29px 0;
  }

  @media screen and (min-width: $bp-large) {
    padding: 27px 0;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    overflow: hidden;
    cursor: pointer;

    svg {
      vertical-align: bottom;
      fill: $nonBlack;
      width: 100px;
      transition: fill .2s linear;
      height: $nav-height-small;

      @media screen and (min-width: $bp-medium) {
        height: $nav-height-medium;
      }
      @media screen and (min-width: $bp-large) {
        height: $nav-height-large;
      }
    }
  }

  &.notSticky {
    position: absolute;
    top: 100vh;
  }
}

.navigation-toggle {
  position: relative;
  margin: 0 18px 0 12px;
  cursor: pointer;

  @media screen and (min-width: $bp-smaller) {
    margin: 0 22px 0 14px;
  }
  @media screen and (min-width: $bp-medium) {
    margin: 0 26px 0 16px;
  }
}

.navigation-toggle-main {
  position: relative;
  z-index: 1;
  pointer-events: none; /* Fixes intermittent issue on touch devices? */
  border-radius: 50%;
  border: 2px solid $nonBlack;
  width: $nav-height-small;
  height: $nav-height-small;
  box-sizing: content-box;
  transition: all .2s linear;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 2px;
    background-color: $nonBlack;
    transition: all .2s linear;
  }

  &:before {
    margin-top: -2px;
  }
  &:after {
    margin-top: 2px;
  }

  @media screen and (min-width: $bp-smaller) {
    width: $nav-height-medium;
    height: $nav-height-medium;

    &:before,
    &:after {
      width: 12px;
    }
  }

  @media screen and (min-width: $bp-large) {
    border: 3px solid $nonBlack;
    width: $nav-height-large;
    height: $nav-height-large;

    &:before,
    &:after {
      height: 3px;
      width: 14px;
    }

    &:before {
      margin-top: -3px;
    }
    &:after {
      margin-top: 3px;
    }
  }
}

.navigation-toggle-ring {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  fill: $pot;
  // transition: all .2s ease-in-out;
  width: 40px;
  height: 40px;
  margin-left: -7px;
  margin-top: -7px;

  @media screen and (min-width: $bp-smaller) {
    width: 42px;
    height: 42px;
    margin-left: -7px;
    margin-top: -7px;
  }

  @media screen and (min-width: $bp-large) {
    width: 54px;
    height: 54px;
    margin-left: -9px;
    margin-top: -9px;
  }
}

.navigation.home .navigation-toggle-ring {
  fill: $jeezz;
}

.navigation.work .navigation-toggle-ring {
  fill: $honey;
}

.navigation.events .navigation-toggle-ring {
  fill: $piglet;
}

.navigation.blog .navigation-toggle-ring {
  fill: $blu;
}

.navigation.join-us .navigation-toggle-ring {
  fill: $rain;
}

.navigation {
  &.invert,
  &.menuOpen,
  &.overHero:not(.home) {
    .logo svg {
      fill: white;
    }
    .navigation-toggle-main {
      border-color: white;

      &:before,
      &:after {
        background-color: white;
      }
    }

    @media screen and (min-width: $bp-medium) {
      background-color: transparent;
    }
  }
  &.invert {
    background: linear-gradient(90deg, #333, #313c61);
    opacity: 0.9;
  }
}

@media screen and (min-width: $bp-medium) {
  .navigation {
    &,
    &.invert,
    &.overHero:not(.home) {
      background: none;
    }
  }
}

.navigation {
  &.menuOpen {
    background: none;

    .navigation-toggle-main {
      &:before,
      &:after {
        margin-top: 0;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    .navigation-toggle-ring {
      opacity: 0;
    }
  }
}

/* TEMP */
/* Invert colours on some pages that have lighter backgrounds */
// .navigation.takeover,
// .navigation.case-study,
// .navigation.search,
// .app-404 .navigation {
//   .navigation {
//     color: $nonBlack;
//
//     .logo svg,
//     .navigation-toggle {
//       fill: $nonBlack;
//     }
//   }
// }
// .navigation {
//
//     &.post,
//     &.event {
//       position: relative;
//       color: $nonBlack;
//       background-color: #fff;
//
//       .logo svg,
//       .navigation-toggle {
//         fill: $nonBlack;
//       }
//     }
// }

/* If js is supported, navigation animates in when class 'show' is added */
// .js .nav-wrapper {
//   .navigation {
//     transform: translateY(-68px);
//   }
//
//   &.show {
//     .navigation {
//       transition: transform 0.5s ease-out, background-color .2s ease-in-out;
//       transform: translateY(0px);
//     }
//   }
// }
