/*
 *  NAVIGATION
 *  Includes the site navigation and logo
 *
 */

$nav-height-small: 20px;
$nav-height-medium: 24px;
$nav-height-large: 26px;

.navigation {
  position: fixed;
  top: 0;
  padding: 20px 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  background-color: rgba(248,248,248,.9); /* this is rgb value for $offWhite (#F8F8F8) */
  transition: background-color .32s ease-in-out;

  @media screen and (min-width: $bp-medium) {
    padding: 29px 0;
  }

  @media screen and (min-width: $bp-large) {
    padding: 27px 0;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    overflow: hidden;

    svg {
      fill: $nonBlack;
      // transition: fill .2s ease-in-out;
      height: $nav-height-small;

      @media screen and (min-width: $bp-medium) {
        height: $nav-height-medium;
      }
      @media screen and (min-width: $bp-large) {
        height: $nav-height-large;
      }
    }
  }

  &.notSticky {
    position: absolute;
    top: 100vh;
  }
}

.navigation-toggle {
  position: relative;
  margin: 0 22px 0 12px;

  @media screen and (min-width: $bp-smaller) {
    margin: 0 22px 0 14px;
  }
  @media screen and (min-width: $bp-medium) {
    margin: 0 33px 0 16px;
  }
  @media screen and (min-width: $bp-large) {
    margin: 0 34px 0 18px;
  }
}

.navigation-toggle-main {
  position: relative;
  z-index: 1;
  pointer-events: none; /* Fixes intermittent issue on touch devices? */
  border-radius: 50%;
  border: 2px solid $nonBlack;
  width: $nav-height-small;
  height: $nav-height-small;
  box-sizing: content-box;
  // transition: all .2s ease-in-out;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 2px;
    background-color: $nonBlack;
    // transition: all .2s ease-in-out;
  }

  &:before {
    margin-top: -2px;
  }
  &:after {
    margin-top: 2px;
  }

  @media screen and (min-width: $bp-medium) {
    width: $nav-height-medium;
    height: $nav-height-medium;

    &:before,
    &:after {
      width: 12px;
    }
  }

  @media screen and (min-width: $bp-large) {
    border: 3px solid $nonBlack;
    width: $nav-height-large;
    height: $nav-height-large;

    &:before,
    &:after {
      height: 3px;
      width: 14px;
    }

    &:before {
      margin-top: -3px;
    }
    &:after {
      margin-top: 3px;
    }
  }
}

.navigation-toggle-ring {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  fill: $pot;
  // transition: all .2s ease-in-out;
  width: 36px;
  height: 36px;
  margin-left: -6px;
  margin-top: -6px;

  @media screen and (min-width: $bp-medium) {
    width: 42px;
    height: 42px;
    margin-left: -7px;
    margin-top: -7px;
  }
  @media screen and (min-width: $bp-large) {
    width: 48px;
    height: 48px;
    margin-left: -8px;
    margin-top: -8px;
  }
}

.navigation.home .navigation-toggle-ring {
  fill: $jeezz;
}

.navigation.what-we-do .navigation-toggle-ring {
  fill: $honey;
}

.navigation.events .navigation-toggle-ring {
  fill: $piglet;
}

.navigation.blog .navigation-toggle-ring {
  fill: $blu;
}

.navigation.join-us .navigation-toggle-ring {
  fill: $rain;
}

.navigation {
  &.invert,
  &.menuOpen {
    .logo svg {
      fill: white;
    }
    .navigation-toggle-main {
      border-color: white;

      &:before,
      &:after {
        background-color: white;
      }
    }

    @media screen and (min-width: $bp-medium) {
      background-color: transparent;
    }
  }
  &.invert {
    background: linear-gradient(90deg, #333, #313c61);
    opacity: 0.9;
  }
}

@media screen and (min-width: $bp-medium) {
  .navigation {
    &,
    &.invert {
      background: none;
    }
  }
}

.navigation {
  &.menuOpen {
    background: none;

    .navigation-toggle-main {
      &:before,
      &:after {
        margin-top: 0;
        width: 16px;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    .navigation-toggle-ring {
      opacity: 0;
    }
  }
}

/* TEMP */
/* Invert colours on some pages that have lighter backgrounds */
// .navigation.takeover,
// .navigation.case-study,
// .navigation.search,
// .app-404 .navigation {
//   .navigation {
//     color: $nonBlack;
//
//     .logo svg,
//     .navigation-toggle {
//       fill: $nonBlack;
//     }
//   }
// }
// .navigation {
//
//     &.post,
//     &.event {
//       position: relative;
//       color: $nonBlack;
//       background-color: #fff;
//
//       .logo svg,
//       .navigation-toggle {
//         fill: $nonBlack;
//       }
//     }
// }

/* If js is supported, navigation animates in when class 'show' is added */
// .js .nav-wrapper {
//   .navigation {
//     transform: translateY(-68px);
//   }
//
//   &.show {
//     .navigation {
//       transition: transform 0.5s ease-out, background-color .2s ease-in-out;
//       transform: translateY(0px);
//     }
//   }
// }
