.neg-nav {
  .nav {
    color: $nonBlack;

    .nav__logo__graphic,
    .nav__logo__graphic.transparent-white {
      fill: $nonBlack;
    }
    .nav__open-overlay-button {
      fill: $nonBlack;
    }
    .nav__menu__item__link {
      &:hover {
        border-bottom: 2px solid $nonBlack;
      }
    }
    .nav__menu__item.selected .nav__menu__item__link {
      border-bottom: 2px solid $nonBlack;
    }
  }
}

.header {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $nav-height;
  z-index: 40;

  .nav {
    background: transparent;
    color: $white;

    .nav__logo__graphic {
      fill: $white;
    }

    &__logo {
      display: block;
      margin-left: 20px;
      overflow: hidden;
      width: 100px;
      height: $nav-height;
      &__graphic {
        width: 100px;
        height: $nav-height;
        fill: $nonBlack;
      }

      @include susy-breakpoint($bp-large, $susy) {
        margin-left: 30px;
      }
    }
    &__inner {
      position: absolute;
      right: 0;
      top: 0;


      .nav__menu {
        @extend %clearfix;
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;

        &__item:first-child {
          display: none;
        }
      }

      .nav__underline {
        position: absolute;
        top: 35px;
        width: 0px;
        height: 2px;
        background-color: $darkGrey;
        border: none;
        opacity: 0;
      }
    }
  }
  &.takeover {
    @extend .neg-nav;

    .nav {
      .nav__open-overlay-button,
      .nav__inner,
      .nav__underline {
        display: none;
      }
    }
  }
  &.case-study,
  &.join-us,
  &.search {
    @extend .neg-nav;
  }
}
.app-404 .header {
  @extend .neg-nav;
}
.js .nav-wrapper {
  .header {
    transform: translateY(-68px);
  }

  &.show {
    .header {
      transition: transform 0.5s ease-out;
      transform: translateY(0px);
    }
  }
}

@include susy-breakpoint($bp-large, $susy) {
  .header {
    .nav {
      .nav__open-overlay-button {
        display: none;
      }

      &__inner {
        .nav__menu {
          display: block;
          position: static;
          margin-right: 30px;
        }
      }

      .nav__menu__item {
        display: inline-block;
        line-height: $nav-height;
        margin-left: 40px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
