/*
 *  NAVIGATION
 *  Includes the site navigation and logo
 *
 */

$nav-items-height: 46px;

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  display: block;
  height: $nav-height-small;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  &.home-intro-visible {
    top: 100vh;
    position: absolute;
  }

  @media screen and (min-width: $bp-medium) {
    height: $nav-height-large;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 2px;

    svg {
      fill: $nonBlack;
      transition: fill .2s ease-in-out;
      width: 112px;
      height: $nav-items-height;

      @media screen and (min-width: $bp-medium) {
        width: 112px;
        height: $nav-items-height;
      }
    }
  }

  &.home {
    top: 100vh;
  }

  &.sticky {
    position: fixed;
    top: 0;
  }
}

.navigation-toggle {
  position: relative;
  margin: 0 25px 0 0;
}

.navigation-toggle-ring {
  position: relative;
  z-index: 2;
  width: $nav-items-height;
  height: $nav-items-height;
}

.navigation-toggle-main {
  position: absolute;
  z-index: 1;
  pointer-events: none; /* Fixes intermittent issue on touch devices? */
  border-radius: 50%;
  border: 3px solid $nonBlack;
  width: 30px;
  height: 30px;
  transition: all .2s ease-in-out;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 3px;
    background-color: $nonBlack;
    transition: all .2s ease-in-out;
  }

  &:before {
    margin-top: -3px;
  }
  &:after {
    margin-top: 3px;
  }
}

.navigation-toggle-ring {
  fill: $pot;
  transition: all .2s ease-in-out;
}

.navigation {
  &.invert,
  &.menuOpen {
    .logo svg {
      fill: white;
    }
    .navigation-toggle-main {
      border-color: white;

      &:before,
      &:after {
        background-color: white;
      }
    }
  }
}

.navigation {
  &.menuOpen {
    .navigation-toggle-main {
      &:before,
      &:after {
        margin-top: 0;
        width: 16px;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    .navigation-toggle-ring {
      opacity: 0;
    }
  }
}

/* TEMP */
/* Invert colours on some pages that have lighter backgrounds */
// .navigation.takeover,
// .navigation.case-study,
// .navigation.search,
// .app-404 .navigation {
//   .navigation {
//     color: $nonBlack;
//
//     .logo svg,
//     .navigation-toggle {
//       fill: $nonBlack;
//     }
//   }
// }
// .navigation {
//
//     &.post,
//     &.event {
//       position: relative;
//       color: $nonBlack;
//       background-color: #fff;
//
//       .logo svg,
//       .navigation-toggle {
//         fill: $nonBlack;
//       }
//     }
// }

/* If js is supported, navigation animates in when class 'show' is added */
// .js .nav-wrapper {
//   .navigation {
//     transform: translateY(-68px);
//   }
//
//   &.show {
//     .navigation {
//       transition: transform 0.5s ease-out, background-color .2s ease-in-out;
//       transform: translateY(0px);
//     }
//   }
// }
