/*
 *  DOWN INDICATOR
 *  Directional Indicator
 *
 *  Notes: Currently used only for indicating 'down'
 */

.down-indicator {
  position: absolute;
  z-index: 2;
  bottom: 60px;
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  background: url('/images/icon-down-loop.gif') no-repeat 0 0;
  background-size: 100% auto;
}
