/*
 *  CATEGORY TAG
 *  Tag to show what category the blog post belongs too, e.g. Product
 *
 */

.category-tag {
  display: inline-block;
  height: $category-tag-height;
  padding: 0 5px;
  background: #aaa; /* Default, should be overridden with category specific colour, see in 'blog' component */
  font-size: 12px;
  line-height: $category-tag-height;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
