/*
 *  SOCIAL MEDIA STATISTICS
 *  Displays the number of shares of each social network of each blog-post-list-item
 *  on the main /blog page
 *
 *  Notes:
 */

.social-media-statistics {
  .channel {
    display: inline-block;

    .logo,
    span {
      display: inline-block;
    }

    .logo {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &.facebook .logo {
      margin-right: 3px;
    }

    &.twitter .logo {
      margin-right: 7px;
    }
  }
}
