@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.job-item {
  margin-top: 5px;
  background: #fff;
  height: 50px;
  min-height: 50px;
  overflow: hidden;
  transition: height .6s ease-in-out;
  list-style: none;

  .title {
    position: relative;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    .title-text {
      flex-basis: auto;
      flex: 4;
    }
    .location {
      flex: 6;
      display: none;
    }
    .status {
      display: flex;
      align-items: center;

      .status-text {
        display: none;
        margin-right: 10px;
        width: 100px;
        text-align: right;
        line-height: 1;
      }

      .icon {
        position: relative;
        display: inline-block;
        width: 15px;
        height: 15px;

        .horiz,
        .vert {
          position: absolute;
          background: #ccc;
        }
        .horiz {
          top: 6px;
          left: 0;
          height: 3px;
          width: 15px;
        }
        .vert {
          top: 0;
          left: 6px;
          height: 15px;
          width: 3px;
        }
      }
    }
  }

  .job-description {
    padding: 0 15px 15px;
    font-size: 18px;
  }

  .link {
    border-bottom: 2px solid #777;
  }

  &.open {
    .title {
      .status {
        .icon {
          .vert {
            display: none;
          }
        }
      }
    }

    &.loading {
      .title {
        .status {
          .icon {
            animation: spin 1000ms infinite linear;

            .vert {
              display: block;
            }
          }
        }
      }
    }
  }

  @include susy-breakpoint($bp-medium, $susy) {
    height: 70px;
    min-height: 70px;

    .title {
      padding: 0 30px;
      height: 70px;
      line-height: 70px;
      font-size: 18px;

      .title-text {
        font-size: 20px;
      }
      .location {
        display: block;
        padding-left: 20px;

        .icon {
          width: 11px;
          height: 16px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          margin-top: -1px;
        }
      }
      .status {
        .status-text {
          display: inline-block;
        }
      }
    }
    .job-description {
      position: relative;
      padding: 30px;

      &:before {
        content: "";
        position: absolute;
        width: 22px;
        height: 2px;
        background: $nonBlack;
        top: 0;
        left: 30px;
      }
    }
  }

  @include susy-breakpoint($bp-large, $susy) {
    .job-description {
      width: 50%;
    }
  }
}
